{% extends "base.html" %}
{% load i18n wagtailimages_tags %}

{% block feed_block %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "face_feeds" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "face_feeds" %}">
{% endblock %}

{% block meta_title %}{% trans "Faces" %}{% endblock %}
{% block title %}{% trans "Faces" %}{% endblock %}

{% block opengraph_block %}
{% if slug %}
<meta property="og:title" content="{{ face.title }}">
<meta property="og:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.domain }}{{ face.get_absolute_url }}">
<meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.domain }}{% if face.featured_image %}{{ face.featured_image.file.url }}{% else %}{{ STATIC_URL }}img/default_featured_image.png{% endif %}">
<meta property="og:type" content="article">
<meta property="og:published_time" content="{% firstof face.original_published_date|date:"c" face.first_published_at|date:"c" %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ SOCIAL_TWITTER }}">
<meta name="twitter:title" content="{{ face.title }}" >
<meta name="twitter:description" content="View the face on {{ SITE_TITLE }}" >
<meta name="twitter:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.domain }}{% if face.featured_image %}{{ face.featured_image.file.url }}{% else %}{{ STATIC_URL }}img/default_featured_image.png{% endif %}" >
<meta name="twitter:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.domain }}{{ face.get_absolute_url }}" >
{% endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}album/js/magnific-popup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}face/js/lightbox.js"></script>
{% endblock %}

{% block extra_uncompressed_js %}
{% if slug %}
    <script type="text/javascript">
      $(function() {
	  $('a[data-slug="{{ slug }}"]').click();
      });
    </script>
{% endif %}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/categories.less">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}face/css/faces.less">
{% endblock %}


{% block breadcrumb_menu %}
    <li class="active">{% trans "Faces" %}</li>
{% endblock %}

{% block main %}
  <div class="container content-container">
    <div class="paginator face_paginator">
      <ul>
        <li><a href="{% url "face-detail" alphabet="a" %}">A</a></li>
        <li><a href="{% url "face-detail" alphabet="b" %}">B</a></li>
        <li><a href="{% url "face-detail" alphabet="c" %}">C</a></li>
        <li><a href="{% url "face-detail" alphabet="d" %}">D</a></li>
        <li><a href="{% url "face-detail" alphabet="e" %}">E</a></li>
        <li><a href="{% url "face-detail" alphabet="f" %}">F</a></li>
        <li><a href="{% url "face-detail" alphabet="g" %}">G</a></li>
        <li><a href="{% url "face-detail" alphabet="h" %}">H</a></li>
        <li><a href="{% url "face-detail" alphabet="i" %}">I</a></li>
        <li><a href="{% url "face-detail" alphabet="j" %}">J</a></li>
        <li><a href="{% url "face-detail" alphabet="k" %}">K</a></li>
        <li><a href="{% url "face-detail" alphabet="l" %}">L</a></li>
        <li><a href="{% url "face-detail" alphabet="m" %}">M</a></li>
        <li><a href="{% url "face-detail" alphabet="n" %}">N</a></li>
        <li><a href="{% url "face-detail" alphabet="o" %}">O</a></li>
        <li><a href="{% url "face-detail" alphabet="p" %}">P</a></li>
        <li><a href="{% url "face-detail" alphabet="q" %}">Q</a></li>
        <li><a href="{% url "face-detail" alphabet="r" %}">R</a></li>
        <li><a href="{% url "face-detail" alphabet="s" %}">S</a></li>
        <li><a href="{% url "face-detail" alphabet="t" %}">T</a></li>
        <li><a href="{% url "face-detail" alphabet="u" %}">U</a></li>
        <li><a href="{% url "face-detail" alphabet="v" %}">V</a></li>
        <li><a href="{% url "face-detail" alphabet="w" %}">W</a></li>
        <li><a href="{% url "face-detail" alphabet="x" %}">X</a></li>
        <li><a href="{% url "face-detail" alphabet="y" %}">Y</a></li>
        <li><a href="{% url "face-detail" alphabet="z" %}">Z</a></li>
      </ul>
    </div>
    <div class="popup-gallery" data-url="{% url "face-detail" alphabet=alphabet %}">
      {% for face in faces %}
      {% if forloop.first or forloop.counter0|divisibleby:"3" %}
      <div class="row">
      {% endif %}
        <div class="categories">{% image face.image fill-1110x1410 as face_image %}
          <a href="{{ face_image.url }}" data-title="{{ face.title }}" data-district="{{ face.location.district }}" data-description="{{ face.description }}" data-slug="{{ face.slug }}" class="image-tag mfp-image" data-url="{{ face.get_absolute_url }}">
            <div class="col-lg-4 col-md-4">
              <div class="grid-column">
                <img class="img-responsive" src="{{ face_image.url }}" width="370" height="470" alt="{{ face_image.title }}">
                <div class="caption down-caption dark-caption text-padding">
                  <div class="image-footer">{{face.title }}, {{ face.location.district }}</div>
                  <span class="pull-right text-red">know more
                    <i class="fa fa-arrow-circle-right arrow-font"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
	{% if forloop.last or forloop.counter|divisibleby:"3" %}
      </div>
	{% endif %}
    {% empty %}
      <div>
	<h3 class="text-center text-danger">{% blocktrans %}Sorry! There are no faces on this page. Please consider <a href="/contribute/">contributing</a> one.{% endblocktrans %}</h3>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
