{% extends "base.html" %}
{% load i18n wagtailimages_tags %}

{% block feed_block %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "face_feeds" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "face_feeds" %}">
{% endblock %}

{% block meta_title %}{% trans "Faces" %}{% endblock %}
{% block title %}{% trans "Faces" %}{% endblock %}

{% block extra_js %}

{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/categories.less">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}face/css/faces.less">
{% endblock %}


{% block breadcrumb_menu %}
    <li class="active">{% trans "Faces" %}</li>
{% endblock %}

{% block main %}
  <div class="container content-container">
    <div class="bg-info text-center" style="padding: 5px;">
      <h4>{% trans "Help PARI capture the sheer facial diversity of the people of India. Send us photos." %} <a href="/pages/send-us-photos-help-pari-capture-the-sheer-facial-diversity-of-the-indian-people/">{% trans "Click here" %}</a></h4>
    </div>
    <h3 class="text-center">{% trans "View faces from districts starting with..." %}</h3>
    <div class="paginator face_paginator">
      <ul class="pagination">
        <li><a href="{% url "face-detail" alphabet="a" %}">A</a></li>
        <li><a href="{% url "face-detail" alphabet="b" %}">B</a></li>
        <li><a href="{% url "face-detail" alphabet="c" %}">C</a></li>
        <li><a href="{% url "face-detail" alphabet="d" %}">D</a></li>
        <li><a href="{% url "face-detail" alphabet="e" %}">E</a></li>
        <li><a href="{% url "face-detail" alphabet="f" %}">F</a></li>
        <li><a href="{% url "face-detail" alphabet="g" %}">G</a></li>
        <li><a href="{% url "face-detail" alphabet="h" %}">H</a></li>
        <li><a href="{% url "face-detail" alphabet="i" %}">I</a></li>
        <li><a href="{% url "face-detail" alphabet="j" %}">J</a></li>
        <li><a href="{% url "face-detail" alphabet="k" %}">K</a></li>
        <li><a href="{% url "face-detail" alphabet="l" %}">L</a></li>
        <li><a href="{% url "face-detail" alphabet="m" %}">M</a></li>
        <li><a href="{% url "face-detail" alphabet="n" %}">N</a></li>
        <li><a href="{% url "face-detail" alphabet="o" %}">O</a></li>
        <li><a href="{% url "face-detail" alphabet="p" %}">P</a></li>
        <li><a href="{% url "face-detail" alphabet="q" %}">Q</a></li>
        <li><a href="{% url "face-detail" alphabet="r" %}">R</a></li>
        <li><a href="{% url "face-detail" alphabet="s" %}">S</a></li>
        <li><a href="{% url "face-detail" alphabet="t" %}">T</a></li>
        <li><a href="{% url "face-detail" alphabet="u" %}">U</a></li>
        <li><a href="{% url "face-detail" alphabet="v" %}">V</a></li>
        <li><a href="{% url "face-detail" alphabet="w" %}">W</a></li>
        <li><a href="{% url "face-detail" alphabet="x" %}">X</a></li>
        <li><a href="{% url "face-detail" alphabet="y" %}">Y</a></li>
        <li><a href="{% url "face-detail" alphabet="z" %}">Z</a></li>
      </ul>
    </div>
    {% for face in faces %}
    {% if forloop.first or forloop.counter0|divisibleby:"3" %}
    <div class="row">
    {% endif %}
    <div class="categories">
      <div class="col-lg-4 col-md-4">
        <a href="{% url "face-detail" alphabet=face.location.district|lower|first %}">
          <div class="grid-column">{% image face.image fill-370x470 as face_image %}
            <img class="img-responsive" src="{{ face_image.url }}" width="370" height="470" alt="{{ face.image.alt_text }}">
            <div class="caption down-caption dark-caption text-padding">
              <div class="image-footer">
                {{ face.district|upper|first }}
		<span class="pull-right text-red">see more
                  <i class="fa fa-arrow-circle-right arrow-font"></i>
		</span>
	      </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% if forloop.last or forloop.counter|divisibleby:"3" %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
{% endblock %}
