{% load i18n %}
<div class="gallery-title">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 gallery-title-icon go-back">
        <span class="prev">
            <a class="link-light" itemprop="url" href="{% url "category-list" %}">
                <i class="fa fa-angle-left"></i>
                <span itemprop="name">{% trans "GALLERY" %}</span>
            </a>
        </span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
            <div>
                <h1 class="title-light text-center title-size">{{ title }}</h1>
                <div class="paragraph-dark text-center">{% trans sub_heading %}</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 gallery-title-icon share-icon">
            <div class="text-right">
            <span class="gallery-social-icon">
                <a href="https://twitter.com/{{ SOCIAL_TWITTER }}" target="_blank" class="link-light">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
                <a href="https://facebook.com/{{ SOCIAL_FACEBOOK }}" target="_blank" class="link-light">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            </span>
            </div>
        </div>
    </div>
</div>