{% load i18n wagtailimages_tags wagtailcore_tags %}

<div class="faces-tile-1" onclick="location.href='{% url "face-list" %}'" style="cursor:pointer">
    <img class="img-responsive" src="{{ STATIC_URL }}img/faces-tile-1.jpg" alt="sample content" >
    <div class="container">
        <div class="faces-container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="subtitle-primary">{% trans "FACES from across India" %}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="title-light faces-overlay-text">{% trans "PARI records the facial diversity of the people of India" %}</div>
                </div>
                <div class="col-lg-6">
                    <div>
                        <button class="btn" onclick="location.href='{% url "face-list" %}'">{% trans "View all FACES" %}
                        </button>
                    </div>
                    <p class="text"><a
                            href="{% url "static_page" slug="contribute-to-faces" %}"><u>{% trans "Contribute" %}</u></a>
                        {% trans "to this database" %}</p>
                </div>
            </div>
        </div>
    </div>
</div>