<nav aria-label="Page navigation" class="text-center">
  <ul class="pagination">
    {% if results.has_previous %}
    <li class="page-nav" data-page="1"><a href="?page=1{% if query %}&q={{ query }}{% endif %}"><i class="fa fa-angle-double-left"></i></a></li>
    <li class="page-nav" data-page="{{ results.previous_page_number }}"><a href="?page={{ results.previous_page_number }}{% if query %}&q={{ query }}{% endif %}"><i class="fa fa-angle-left"></i></a></li>
    {% endif %}

    {% for page in results.paginator.page_range %}
    <li class="{% if page == results.number %}active{% endif %}" data-page="{{ page }}"><a href="?page={{ page }}{% if request.GET.lang %}&lang={{ request.GET.lang }}{% endif %}{% if query %}&q={{ query }}{% endif %}">{{ page }}</a></li>
    {% endfor %}

    {% if results.has_next %}
    <li class="page-nav" data-page="{{ results.next_page_number }}"><a href="?page={{ results.next_page_number }}{% if query %}&q={{ query }}{% endif %}"><i class="fa fa-angle-right"></i></a></li>
    <li class="page-nav" data-page="{{ results.paginator.num_pages }}"><a href="?page={{ results.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}"><i class="fa fa-angle-double-right"></i></a></li>
    {% endif %}
  </ul>
</nav>
