{% load i18n core_filters %}
{% load i18n wagtailcore_tags %}

<section class="search-result two-column-grid">
  <ul>
    {% for result in search_results %}
      <li class="result item col-lg-6 col-md-4 col-sm-6 col-xs-12">
        <a href="{{ result.specific.get_absolute_url }}">
          {% include "includes/content_type.html" with type=result.specific|get_type %}
          {% include "includes/article_listing_image.html" with specific=result.specific alignment_class='full-image-center listing-image'%}


          <div class="caption">
            {% include "article/includes/default_atom.html" with article=result.specific %}
            {% if result.specific.latest_revision_created_at %}
              <div class="margin-top-20px date">

                  {% if  result.specific.original_published_date%}
                      {% include "../../article/templates/article/includes/display_date.html" with display_date=result.specific.original_published_date article=result.specific%}
                    {% else %}
                      {% include "../../article/templates/article/includes/display_date.html" with display_date=result.specific.first_published_at article=result.specific%}
                    {% endif %}
              </div>
            {% endif %}
            </div>
        </a>
      </li>
      {% endfor %}
  </ul>
  {% include "includes/paginator.html" with results=search_results %}
</section>
