{% load i18n core_filters %}
{% load i18n wagtailcore_tags %}

<div class="no-of-results col-lg-12 col-md-12 col-xs-12 col-sm-12"><h3>{{search_results.paginator.count}} results</h3></div>
<div class="col-lg-2 filters-list">
    <hr>
    <div class="search-filters">
        <div class="type-filters col-sm-6 col-md-6 col-xs-6">
            <h4 class="type-heading">Types</h4>
            <ul >
                <li class="squaredFour"><input id="squaredFour" type="checkbox" name="type" value="article"> <label for="squaredFour"></label><h5>Articles</h5></li>
                <li class="squaredFour"><input id="squaredFour1" type="checkbox" name="type" value="video"> <label for="squaredFour1"></label><h5>Videos</h5></li>
                <li class="squaredFour"><input id="squaredFour2" type="checkbox" name="type" value="audio"> <label for="squaredFour2"></label><h5>Audios</h5></li>
                <li class="squaredFour"><input id="squaredFour3" type="checkbox" name="type" value="face"> <label for="squaredFour3"></label><h5>Faces</h5></li>
                <li class="squaredFour"><input id="squaredFour4" type="checkbox" name="type" value="staticpage"> <label for="squaredFour4"></label><h5>PARI Pages</h5></li>
            </ul>
        </div>
        <hr>
        <div class="category-filters col-sm-6 col-md-6 col-xs-6">
            <h4 class="category-heading">Categories</h4>
            <ul >
                <li class="squaredFour"><input id="squaredFour5" type="checkbox" name="category" value="VideoZone"><label for="squaredFour5"></label><h5>Video Zone</h5></li>
                <li class="squaredFour"><input id="squaredFour6" type="checkbox" name="category" value="AudioZone"><label for="squaredFour6"></label><h5>Audio Zone</h5></li>
            </ul>
        </div>
    </div>
</div>
<section class="search-result two-column-grid col-lg-10">
    <hr>
    <ul>
    {% for result in search_results %}
      <li class="result item col-lg-6 col-md-4 col-sm-6 col-xs-12">
        <a href="{{ result.specific.get_absolute_url }}">
          {% include "includes/content_type.html" with type=result.specific|get_type %}
          {% include "includes/article_listing_image.html" with specific=result.specific alignment_class='full-image-center listing-image'%}


          <div class="caption">
            {% include "article/includes/default_atom.html" with article=result.specific %}
            {% if result.specific.latest_revision_created_at %}
              <div class="margin-top-20px date">
                <a href="{% url "archive-detail" year=result.specific.first_published_at.year month=result.specific.first_published_at.month %}">
                    <span itemprop="datePublished" class="date link-dark">{{ result.specific.first_published_at|date }}</span>
                </a>
              </div>
            {% endif %}
                <div>
                {% with result.specific.get_translation as article_translations %}
                       {% if article_translations|length > 1 %}
                        <div class="dropdown custom-dropdown">
                            <button class="dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ article_translations | length }} languages
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="left: 50%;">
                                {% for translation in article_translations %}
                                    <li><a href="{{ translation.get_absolute_url}}">{{ translation.get_language_display }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                   {% endwith %}
                </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
</section>

