{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Stay updated with RSS/Atom feeds" %}{% endblock %}
{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/feeds/feeds.less">
{% endblock %}
{% block main %}
<div class="container">
  <h2 class="feed-head">{% trans "Stay updated with latest content through Feeds" %}</h2>
  <ul>
    <li>
      <h4>{% trans "Consolidated Feed" %} (<a href="{% url "all_feeds" %}?format=atom">{% trans "Atom" %}</a> | <a href="{% url "all_feeds" %}?format=rss">{% trans "RSS" %}</a>)</h4>
    </li>
    <li>
      <h4>{% trans "Article Feed" %} (<a href="{% url "article_feeds" %}?format=atom">{% trans "Atom" %}</a> | <a href="{% url "article_feeds" %}?format=rss">{% trans "RSS" %}</a>)</h4>
    </li>
    <li>
      <h4>{% trans "Album Feed" %} (<a href="{% url "album_feeds" %}?format=atom">{% trans "Atom" %}</a> | <a href="{% url "album_feeds" %}?format=rss">{% trans "RSS" %}</a>)</h4>
    </li>
    <li>
      <h4>{% trans "Face Feed" %} (<a href="{% url "face_feeds" %}?format=atom">{% trans "Atom" %}</a> | <a href="{% url "face_feeds" %}?format=rss">{% trans "RSS" %}</a>)</h4>
    </li>
    <li>
      <h4>{% trans "Resource Feed" %} (<a href="{% url "resource_feeds" %}?format=atom">{% trans "Atom" %}</a> | <a href="{% url "resource_feeds" %}?format=rss">{% trans "RSS" %}</a>)</h4>
    </li>
  </ul>
</div>
{% endblock %}
