@import "static/css/common.less";
@import "static/css/v2/colors/colors.less";

.modular-content {
  font-family: 'Fira Sans', 'Open Sans', sans-serif;
  line-height: 29px;
  font-size: 17px;
  margin-top: 10px;
  padding-bottom: 10px;

  .image-block {
    background: white;
    float: left;
    margin: 0 10px;

    .image {
      position: relative;
      background: black;
      img {
        max-width: 100%;
        max-height: 100%;
      }
      i.fa-expand {
        font-size: 30px !important;
        z-index: 1;
        color: white;
        background-color: #151414;
        opacity: .6;
        //float: right;
        position: absolute;
        right: 0;
        padding: 10px;
      }
    }
    .caption {
      font-style: italic;
    }
  }

  .caption {
    font-style: italic;
    text-align: center;
    font-size: 15px;
    color: grey;
  }

  .full-width-image-block {
    margin: 10px;
    img {
      width: 100%;
    }
  }

  .paragraph-block {
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
    :lang(ur) {
      text-align: right;
    }

    p {
      text-align: left;
      margin: 20px 0;
    }
    p:last-child {
      margin: 20px 0 10px 0;
    }
    p:first-child {
      margin: 10px 0 10px 0;
    }
    p:lang(ur) {
      text-align: right;
      margin: 10px 10px;
    }

    ul {
      list-style: disc;
      padding: 1px;
      list-style-position: inside;
    }

    ol {
      list-style-position: inside;
    }

    &.text-align-center {
      text-align: center;

      p {
        text-align: center;
      }
    }
  }
  .paragraph-with-quote-block.full-width-quote {
    margin: 0 15%;
    .block-quote {
      padding-left: 0;
      padding-right: 0;
      .rich-text {
        width: 100%;
      }
      .rich-text:lang(ur) {
        width: 100%;
        padding-right: 20px;
      }
    }
  }
  .paragraph-with-quote-block {
    margin: 10px 0 10px 0;
    display: table;
    clear: both;
    .block-quote {
      .paragraph-holder {
        b {
          padding: 0;
        }
      }
      &.quote-align-left {
        .rich-text {
          margin: 2% 3% 2% 20%;
        }
      }
      &.quote-align-right {
        float: right;
        .rich-text {
          margin: 2% 20% 2% 2%;
        }
      }

      .rich-text {
        border-bottom: 1px solid @primary-color;
        border-top: 1px solid @primary-color;
        font-family: 'Amiri', serif;
        padding: 0 15px 0 15px;
        .paragraph-holder {
          color: @primary-color;
          width: 100%;
          font-size: 2.0em;
          line-height: 1.7em;
          padding: 0;
        }
      }
    }
  }

  .paragraph-with-image-block {

    .image-align-right {
      float: right;
      padding-left: 30px;
    }

    .image-align-left {
      float: left;
      padding-right: 30px;
    }

  }

  .n-column-paragraph {
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
    .paragraph-block {
      padding: 0px;
      p:first-child {
        margin: 10px 0 20px 0;
      }
      p:first-child:nth-last-child(1) {
        margin: 10px 0 10px 0;
      }
    }
    .no-padding-right {
      padding-left: 0;
      padding-right: 10px;
    }
    .no-padding-left {
      padding-left: 10px;
      padding-right: 0px;
    }
    .no-padding-both {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  .n-column-image {
    //.image-block {
    //    img {
    //      position: relative;
    //    }
    //}
  }
  @media (max-width: @screen-sm-max) {
    .paragraph-with-quote-block.full-width-quote {
      margin: 0 2%;
      .block-quote:lang(ur) {
        padding-left: 51px;
        padding-right: 13px;
        .rich-text {
          margin: 0;
        }
      }
      .block-quote {
        padding-left: 51px;
        padding-right: 78px;
        .rich-text {
          margin: 0;
        }
      }
    }

    .n-column-paragraph {
      .no-padding-left {
        padding-left: 0px;
      }
      .no-padding-right {
        padding-right: 0px;
      }
      .no-padding-both {
        padding: 0px;
      }
    }

    .paragraph-with-quote-block {
      .quote-align-left.block-quote, .quote-align-right.block-quote {
        .rich-text {
          margin: 2% 8% 3% 8%;
        }
      }
    }
  }
}