language: python
python:
- '2.7'
before_install:
  - openssl aes-256-cbc -K $encrypted_2d62c455ca1f_key -iv $encrypted_2d62c455ca1f_iv -in pari_qa.pem.enc -out pari_qa.pem -d
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.11.1/geckodriver-v0.11.1-linux64.tar.gz
  - mkdir geckodriver
  - tar -xzf geckodriver-v0.11.1-linux64.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver
install:
- pip install ansible==2.2.1
- pip install six
- pip install -r requirements.dev.txt
- npm install -g less
- pip install selenium
services: postgresql
before_script:
  - createuser pari
  - psql -c 'create database  test_pari;' -U postgres
  - psql -d test_pari -c "CREATE EXTENSION postgis;"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "mkdir -p media/uploads/"
  - "cp -r core/static/img/stories-1.jpg media/uploads/stories-1.jpg"

script:
  - source scripts/test.sh
deploy:
  provider: script
  script: sh deploy.sh
  skip_cleanup: true
  on:
    branch: release-candidate
addons:
  apt:
    packages:
    - lessc
  firefox: 53.0.2
  ssh_known_hosts:
  - 54.255.193.26
  - staging.ruralindiaonline.org
