# Minimal requirements
wagtail==1.12.2
Django>=1.8.4,<1.9
django-overextends==0.4.1
django-modeltranslation==0.11.0

# TODO: Remove this line after upgrading wagtail to v1.13
djangorestframework>=3.1.3,<3.7

# Recommended components (require additional setup):
psycopg2==2.7
elasticsearch==1.9.0

# Recommended components to improve performance in production:
django-redis==4.3.0

# For M2M Field support.
django-modelcluster==3.1

# Need to upgrade to next version after https://github.com/django-compressor/django-compressor/issues/698 is fixed
django-compressor==1.6

requests
