# Minimal requirements
wagtail==1.5.2
Django>=1.8.4,<1.9
django-overextends==0.4.1
django-modeltranslation==0.11.0

# Recommended components (require additional setup):
psycopg2==2.6.1
elasticsearch==1.9.0
django-mathfilters==0.4.0

# Recommended components to improve performance in production:
django-redis==4.3.0
wagtailtinymce==4.2.1.5

# For M2M Field support.
# TODO: Remove after M2MField lands into django-modelcluster
-e git+git://github.com/theju/django-modelcluster@pari#egg=django-modelcluster

# Need to upgrade to next version after https://github.com/django-compressor/django-compressor/issues/698 is fixed
django-compressor==1.6

requests
