{% extends "base.html" %}{% load i18n %}
{% load i18n wagtailimages_tags %}

{% block meta_title %}{{ category.name }}{% if filter %} - {{ filter }}{% endif %} - {% trans "Page" %} {{ articles.number }}{% endblock %}
{% block title %}{{ category.name }}{% endblock %}

{% block opengraph_block %}
    <meta property="og:title" content="{{ category.name }}">
    <meta property="og:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ request.get_full_path }}">
    <meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ category.image.file.url }}">
    <meta property="og:type" content="article">
    <meta property="og:description" content="PARI hosts and combines video, still photo, audio and text archives.
    There is content we already have and content we are newly generating. Both will take time and effort to organise and load.
    The videos generated specifically for PARI record the lives and livelihoods of poor and everyday Indians.">
    <meta property="og:published_time" content="{% firstof articles.first.original_published_date|date:"c" articles.first.first_published_at|date:"c" %}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ SOCIAL_TWITTER }}">
    <meta name="twitter:title" content="{{ category.name }}" >
    <meta name="twitter:description" content="PARI hosts and combines video, still photo, audio and text archives.
    There is content we already have and content we are newly generating. Both will take time and effort to organise and load.
    The videos generated specifically for PARI record the lives and livelihoods of poor and everyday Indians." >
    <meta name="twitter:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ category.image.file.url }}" >
    <meta name="twitter:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ request.get_full_path }}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}article/js/category.js"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/article.less">
{% endblock %}



{% block breadcrumb_menu %}
    <li class="active">{% trans "{{ category.name }}" %}</li>
{% endblock %}
{% block main %}
    {% include "includes/grid_title.html" %}

    <!--<div class="jumbotron category-header">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-9 col-md-9 col-sm-9">-->
            <!--<div class="category-title">-->
              <!--{{ category.name }}-->
            <!--</div>-->
            <!--<div class="category-description">-->
              <!--{{ category.description }}-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="filter-list-container" data-title="{{ category.name }}" data-filter-endpoint="category_article_filter" data-filter-required-args-category="{{ category.id }}">
        <div class="gallery-tile-row">
            <div class="row">
                {% include "article/includes/article_list.html" with articles=articles category=category title=title%}
            </div>
        </div>
    </div>
{% endblock %}
