{% extends "base.html" %}{% load i18n %}
{% load i18n wagtailimages_tags %}

{% block meta_title %}{{ category.name }}{% if filter %} - {{ filter }}{% endif %} - {% trans "Page" %} {{ articles.number }}{% endblock %}
{% block title %}{{ category.name }}{% endblock %}
{% block meta_description %}{{ category.description }}: {% trans "one of many story categories at PARI" %}.{% endblock %}

{% block opengraph_block %}
    {% image category.image max-1000x500 as category_image %}
    {% include "core/includes/media_sharing_meta.html" with title=category.name description=category.description url=request.get_full_path type="url" image_url=category_image.file.url twitter_card="summary"%}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}article/js/category.js"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/article.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/two_column_grid.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/story/category.less">
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{{ category.name }}</li>
{% endblock %}
{% block main %}
    {% include "includes/category_cover_image.html" with category=category%}
    <div class="container">
        <div class="filter-list-container" data-title="{{ category.name }}" data-filter-endpoint="category_article_filter" data-filter-required-args-category="{{ category.id }}">

                {% include "article/includes/article_list.html" %}

        </div>
    </div>
{% endblock %}
