{% extends "base.html" %}
{% load i18n wagtailimages_tags %}

{% block meta_title %}{% trans "Categories" %}{% endblock %}
{% block title %}{% trans "Categories" %}{% endblock %}
{% block meta_description %}{% trans "Find hundreds of PARI stories on diverse topics such as rural occupations, crafts and sports, marginalised groups, resource conflicts, and many more." %}{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/layout/components/main-content/story-grid.less">
{% endblock %}

{% block opengraph_block %}
    {% include "core/includes/media_sharing_meta.html" with title="Stories" description="Find hundreds of them in diverse categories" url=request.get_full_path type="url" image_url=STATIC_URL|add:"img/share_all_categories.jpg" %}
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Categories" %}</li>
{% endblock %}

{% block main %}
    <div class="container story-grid">
        <div class="row">
            <div class="title-container">
                <div class="categories-title gallery-title">
                    <h1 class="title-light">{% trans "Stories" %}</h1>
                    <div class="paragraph-dark text-center">{% trans "Find hundreds of them in diverse categories" %}</div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for category in filtered_categories %}
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 grid">
                        {% image category.image fill-512x512 as category_image %}
                        <a href="{% if category.slug in gallery %}{% url "gallery-detail" slug=category.slug %} {% else %}{% url "story-detail" slug=category.slug%}{% endif %}">
                        <img class="img-responsive grid-image" src="{{ category_image.url }}" alt="{{ category.image.alt_text}}">
                        <div class="grid-container">
                            <div class="category-name">
                                <h3>{{ category.name }}</h3>
                            </div>
                            <div class="title-grid font-m">
                                    <div class="border-link"></div>
                                    <div>{{ category.description }}</div>
                            </div>
                        </div>
                        </a>
                    </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
