{% extends "base.html" %}{% load i18n %}
{% load i18n wagtailimages_tags %}

{% block meta_title %}{{ category.name }}{% if filter %} - {{ filter }}{% endif %} - {% trans "Page" %} {{ articles.number }}{% endblock %}
{% block title %}{{ category.name }}{% endblock %}

{% block opengraph_block %}
    {% if  articles.first.original_published_date %}
        {% include "core/includes/media_sharing_meta.html" with title=category.name description=article.strap url=request.get_full_path type="articles" image_url=category.image.file.url date_of_item=article.original_published_date%}
    {% else %}
        {% include "core/includes/media_sharing_meta.html" with title=category.name description=article.strap url=request.get_full_path type="articles" image_url=category.image.file.url date_of_item=article.first_published_at%}
    {% endif %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}article/js/category.js"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/article.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/two_column_grid.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/story/category.less">
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "{{ category.name }}" %}</li>
{% endblock %}
{% block main %}
    {% include "includes/category_cover_image.html" with category=category%}
    <div class="container">
        <div class="filter-list-container" data-title="{{ category.name }}" data-filter-endpoint="category_article_filter" data-filter-required-args-category="{{ category.id }}">

                {% include "article/includes/article_list.html" with articles=articles title=title%}

        </div>
    </div>
{% endblock %}
