{% extends "base.html" %}{% load i18n %}
{% load i18n wagtailimages_tags %}

{% block meta_title %}{{ category.name }}{% if filter %} - {{ filter }}{% endif %} - {% trans "Page" %} {{ articles.number }}{% endblock %}
{% block title %}{{ category.name }}{% endblock %}
{% block meta_description %}{{ category.description }}{% endblock %}

{% block opengraph_block %}
    {% if  articles.first.original_published_date %}
        {% include "core/includes/media_sharing_meta.html" with title=category.name description=category.description url=request.get_full_path type="url" image_url=category.image.file.url %}
    {% else %}
        {% include "core/includes/media_sharing_meta.html" with title=category.name description=category.description url=request.get_full_path type="url" image_url=category.image.file.url %}
    {% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}article/js/category.js"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/article.less">
{% endblock %}



{% block breadcrumb_menu %}
    <li class="active">{{ category.name }}</li>
{% endblock %}
{% block main %}
    <div class="container">
        {% include "includes/grid_title.html" %}
        <div class="filter-list-container" data-title="{{ category.name }}" data-filter-endpoint="category_article_filter" data-filter-required-args-category="{{ category.id }}">
            <div class="gallery-tile-row">
                <div class="row">
                    {% include "article/includes/gallery_article_list.html" with articles=articles category=category title=title%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
