{% extends "base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags %}
{% block meta_title %}Gallery{% endblock %}
{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/gallery/gallery.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/home-page-face-tile.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}category/css/magnific-popup.css">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}category/js/popup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}album/js/magnific-popup.js"></script>
{% endblock %}
{% block opengraph_block %}
  {% include "core/includes/media_sharing_meta.html" with title='PARI Gallery' description='AN EVERGROWING ARCHIVE OF RURAL INDIA'  url="{{ request.get_full_path }}" image_url="{{ page.photo_of_the_week.file.url }}" date_of_item=talking_album.first.first_published_at%}

{% endblock %}
{% block main %}
    <div id="main_content" class="gallery-home">
    <div class ="gallery-title gallery-home-title container">
        <div class="row ">
            <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
                <div>
                    <h1> Gallery</h1>
                    <div class="paragraph-dark font-xxs">AN EVERGROWING ARCHIVE OF RURAL INDIA</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 gallery-title-icon share-icon">
                <div class="text-right">
                    {% with request.build_absolute_uri as url %}
                        <span class="gallery-social-icon">
                            <a href="https://twitter.com/intent/tweet?url={{ url|urlencode }}&amp;hashtags=RuralIndiaOnline" target="_blank" class="link-light">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="https://facebook.com/sharer.php?u={{ url|urlencode }}&t=Gallery" target="_blank" class="link-light">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </span>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="banner-container gallery-banner ">
                <div class="pop-up">
                    <a href="{{ page.photo_of_the_week.file.url }}">
                        <img class="img-responsive banner-image" src="{{ page.photo_of_the_week.file.url }}" alt="sample content">
                    </a>
                </div>
                <div class="banner-info">
                    <div class="container">
                        <div class="info photo-of-the-week">
                            <p href="{{ page.photo_of_the_week.file.url }}">Photo Of The Week</p>
                        </div>
                    </div>
                </div>
                <div class="banner-info">
                    <div class="container">
                        <div class="info title-info">
                            <h3>{{ page.photo_title }}</h3>
                            <p>
                                {% include "../../core/templates/includes/author-links.html" with authors=page.photo_of_the_week.photographers.all author_link_class="photographer" author_name_class="font-l"  %}
                            </p>
                            {% if page.photo_link %}
                                <div>
                                <a class="read_full_story" href="{{ page.photo_link }}">Read the full story <i class="fa fa-angle-right"></i></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="banner-info footer">
                    <div class="container info-footer-banner">
                        <div class="go-full-screen preview ">
                            <a ><i class="fa fa-arrows-alt"></i> View Fullscreen</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="container">
            {% include "includes/gallery_home_section.html" with section_title="Pictures and their spoken stories" icon="fa-music" section_context=talking_album link_text="View this Talking Album" all_links_text="View all Talking Albums" all_links_url="talking-album-list" %}
            {% include "includes/gallery_home_section.html" with section_title="Stories told in moving pictures" icon="fa-youtube-play" section_context=video link_text="View this video" all_links_text="View all videos"  all_links_url="gallery-detail" all_links_slug="videozone" %}
            {% include "includes/gallery_home_section.html" with section_title="Through many different lenses" icon="fa-picture-o" section_context=photo_album link_text="View this Photo Album" all_links_text="View all Photo Albums" all_links_url="other-album-list" %}
                    </div>
        {% include "../../core/templates/includes/home_page_face_tile.html" %}
    </div>
{% endblock %}