{% extends "base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags %}
{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/gallery/gallery.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}category/css/magnific-popup.css">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}category/js/popup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}album/js/magnific-popup.js"></script>
{% endblock %}

{% block main %}
    <div id="main_content" class="gallery-home">
    <div class ="gallery-title gallery-home-title">
        <div class="row ">
            <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
                <h1> Gallery</h1>
                <div class="paragraph-dark font-xxs">AN EVER-GROWING VIBRANT ARCHIVE OF LIFE IN THE COUNTRYSIDE</div>
            </div>

            <div class="text-right col-lg-3 col-md-3 col-sm-2 col-xs-12 gallery-title-icon share-icon">
            <span class="gallery-social-icon">
                <a href="https://twitter.com/PARINetwork" target="_blank" class="link-light">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
                <a href="https://facebook.com/PARINetwork" target="_blank" class="link-light">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            </span>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="banner-container gallery-banner gallery">
                <div class="pop-up">
                    <a href="{{ STATIC_URL }}img/stories-1.jpg">
                        <img class="img-responsive" src="{{ STATIC_URL }}img/stories-1.jpg" alt="sample content">
                    </a>
                </div>
                <div class="banner-info">
                    <div class="container">
                        <div class=" info photo-of-the-week">
                            <p href="{{ STATIC_URL }}img/stories-1.jpg">Photo of the week</p>
                        </div>
                    </div>
                </div>
                <div class="banner-info">
                    <div class="container">
                        <div class="info">
                            <div>from</div>
                            <h3>Bahurupi: a family of many faces</h3>
                            <p>Ankan Roy & Sagarika Basu</p>
                            <div><a href="#">Read the full story <i class="fa fa-angle-right"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="banner-info">
                    <div class="container info-footer-banner">
                        <div class="go-full-screen preview ">
                            <a ><i class="fa fa-arrows-alt"></i> View Fullscreen</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="container">
            {% include "includes/gallery_home_section.html" with section_title="Pictures in the voice of the beholder" icon="fa-music" section_context=talking_album link_text="View this talking album" all_links_text="View all Talking Albums" %}
            {% include "includes/gallery_home_section.html" with section_title="Video stories that speak for themselves" icon="fa-youtube-play" section_context=video link_text="Watch this video" all_links_text="Watch all videos" %}
            {% include "includes/gallery_home_section.html" with section_title="Video stories that speak for themselves" icon="fa-picture-o" section_context=photo_album link_text="View this Photo Album" all_links_text="View all photo albums" %}
            <div class="row">
                <div class="col-lg-12 faces-tile">
                    <!--<img class="img-responsive" src="{{ STATIC_URL }}img/faces-tile.jpg" alt="sample content">-->
                    <div class="face-tile-info">
                        <div class="top-link">
{#                            <a href="{% url "other-album-list" %}" class="name-primary-bold">Photo Albums</a>#}
                        </div>
                        <h2>The facial diversity of India in one place</h2>
                        <div class="bottom-link">
                            <a href="{% url "face-list" %}" class="">
                                <span>View all faces</span>
                                <i class="fa fa-angle-right element-nav" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}