{% extends "base.html" %}
{% load i18n wagtailimages_tags %}
{% load i18n core_filters %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block opengraph_block %}
    {% with authors|first as author %}
        <meta property="og:title" content="{{ title }}">
        <meta property="og:url"
              content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ request.get_full_path }}">
        <meta property="og:type" content="article">
        <meta property="og:description" content="#PARIStories">
        <meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ STATIC_URL }}img/default_featured_image.png">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ SOCIAL_TWITTER }}">
        <meta property="twitter:description" content="#PARIStories">
        <meta property="twitter:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ STATIC_URL }}img/default_featured_image.png">
        <meta name="twitter:url"
              content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ request.get_full_path }}">
    {% endwith %}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet"
          href="{{ STATIC_URL }}css/v2/layout/components/main-content/article-list.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/archive-article-list.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/two_column_grid.less">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}article/js/category.js"></script>
{% endblock %}

{% block main %}
    <div class="container content-container">
        <div class="result-title clear-fix">
            <div class="left">
                <h1>{{ title }}</h1>
            </div>
            <div class="right">
                <ul class="font-m">
                    <li>{% trans "Languages" %}:</li>
                    <li>
                        <select class="select-no-style" name="lang">
                            <option value="">{% trans "All" %}</option>
                            #}
                            {% for lang in LANGUAGES %}
                                <option {% if request.GET.lang == lang.0 %}selected="selected"{% endif %}
                                        value="{{ lang.0 }}">
                                    {% blocktrans with tlang=lang.1 %}{{ tlang }}{% endblocktrans %}
                                </option>
                            {% endfor %}
                        </select>
                        <i class="fa fa-angle-down"></i>
                    </li>
                    {% with request.build_absolute_uri as url%}
                        <div class="social-media">
                        <li class="icon">
                            <a href="https://twitter.com/intent/tweet?text={{ url|urlencode }} %23PARIStories" target="_blank" >
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="icon">
                            <a target="_blank"
                               href="https://facebook.com/sharer.php?u={{ url|urlencode }}&t={{ title|urlencode }}">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        </div>
                    {% endwith %}

                </ul>
            </div>
        </div>



    <section class="search-result two-column-grid">
        <ul>
        {% for result in articles %}
          <li class="result item col-lg-6 col-md-4 col-sm-6 col-xs-12">
            <a href="{{ result.get_absolute_url }}">
              {% include "includes/content_type.html" with type=result|get_type %}
              {% include "includes/article_listing_image.html" with specific=result alignment_class='full-image-center listing-image'%}
              {% include "article/includes/default_atom.html" with article=result %}
            </a>
          </li>

              {% empty %}
            <div class="col-lg-12">
                <p class="bg-danger font-l pad-20px">
                    {% if error_message %}
                        {{ error_message }}
                    {% else %}
                        {% trans "No articles available for " %}
                        {% for lang in LANGUAGES %}
                        {% if request.GET.lang == lang.0 %}
                        {% blocktrans with tlang=lang.1 %}{{ tlang }}.{% endblocktrans %}
                        {% endif %}
                        {% endfor %}
                        Please help us
                        <a class="font-l" href="{% url "contribute" slug="contribute" %}">
                        <span itemprop="name">{% trans "translate." %}</span>
                        </a>
                    {% endif %}
                    {{ tlang }}
                </p>
            </div>
          {% endfor %}
        </ul>
    </section>

    {%if articles %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% include "includes/paginator.html" with results=articles %}
    </div>
    {% endif %}
    </div>
{% endblock %}
