{% extends "base.html" %}
{% load i18n wagtailimages_tags %}
{% load i18n core_filters %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block opengraph_block %}
    {% with authors|first as author %}
        <meta property="og:title" content="{{ title }}">
        <meta property="og:url"
              content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ request.get_full_path }}">
        <meta property="og:type" content="author">
        <meta property="og:description" content="#RuralIndiaOnline">
        <meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ STATIC_URL }}img/default_featured_image.png">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ SOCIAL_TWITTER }}">
        <meta property="twitter:description" content="#RuralIndiaOnline">
        <meta property="twitter:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ STATIC_URL }}img/default_featured_image.png">
        <meta name="twitter:url"
              content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ request.get_full_path }}">
    {% endwith %}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet"
          href="{{ STATIC_URL }}css/v2/layout/components/main-content/article-list.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/archive-article-list.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/two_column_grid.less">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}article/js/category.js"></script>
{% endblock %}

{% block main %}
    <div class="container content-container">
        <div class="result-title clear-fix">
            <div class="left">
                <h1>{{ title }}</h1>
            </div>
            <div class="right">
                <ul class="font-m">
                    <li>{% trans "Languages" %}:</li>
                    <li>
                        {% include "includes/language_select.html"%}
                        <i class="fa fa-angle-down"></i>
                    </li>
                    {% with request.build_absolute_uri as url%}
                        <div class="social-media">
                        <li class="icon">
                            <a href="https://twitter.com/intent/tweet?url={{ url|urlencode }}&amp;hashtags=RuralIndiaOnline" target="_blank" >

                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="icon">
                            <a target="_blank"
                               href="https://facebook.com/sharer.php?u={{ url|urlencode }}&t={{ title|urlencode }}">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        </div>
                    {% endwith %}

                </ul>
            </div>
        </div>

    {% include "article/includes/article_list.html" with articles=articles%}
    </div>
{% endblock %}
