{% extends "base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load i18n wagtailimages_tags %}
{% load i18n core_filters %}

{% block meta_title %}{{ article.title }}{% endblock %}
{% block meta_description %}{{ article.strap }}{% endblock %}

{% block opengraph_block %}
    {% image article.featured_image max-1000x500 as featured_image %}
    {% if article.original_published_date %}
        {% include "core/includes/media_sharing_meta.html" with title=article.title description=article.strap url=article.get_absolute_url type="article" image_url=featured_image.file.url date_of_item=article.original_published_date%}
    {% else %}
        {% include "core/includes/media_sharing_meta.html" with title=article.title description=article.strap url=article.get_absolute_url type="article" image_url=featured_image.file.url date_of_item=article.first_published_at%}
    {% endif %}
    {% if translations and translations|length > 1 %}
        {% for translation in translations %}
            <link rel="alternate" hreflang="{{ translation.language }}" href="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ translation.get_absolute_url }}" />
        {% endfor %}
    {% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ article.title }}</li>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}location/css/leaflet.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css" />
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}article/css/article.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/story/story.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/layout/components/main-content/author-info.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/two_column_grid.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/album/photo-album.less">
{% endblock %}

{% block extra_uncompressed_css %}
    <style>
      .lazyload { display: none; }
    </style>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}album/js/magnific-popup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}article/js/social.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}article/js/article.js"></script>
{% endblock %}

{% block main_wrapper %}
{% if article.featured_image and article.show_featured_image %}
{% image article.featured_image width-1400 as featured_image %}
<div class="full-row">
    <div class="banner-container">
        <img src="{{ featured_image.url }}" alt="{{ article.featured_image.alt_text }}">
        <div class="banner-info">
        <div class="container">
        <button class="arrow-wrap" data-toggle="collapse" data-target="#banner-info">
                <span class="glyphicon glyphicon-chevron-down arrow-collapse"></span>
        </button>
        <div class="container collapse in" id="banner-info">
            <div class="row-1">
                <span class="tag">
                        {% if article.categories.count %}
                            {% for category in article.categories.all %}
                                <span class="tag-space">{{ category }}
                                {% if not forloop.last %},</span>
                                {% else %}  <span class="tag-space-both">•</span>
                                {%  endif  %}
                            {% endfor %}
                        {% endif %}
                    </span>
                    {% if article.original_published_date %}
                        <a href="{% url "archive-detail" year=article.original_published_date.year month=article.original_published_date.month %}">
                            {% if article.show_day %}
                                <span itemprop="datePublished" class="date">{{ article.original_published_date|date }}</span>
                            {% elif article.show_month %}
                                <span itemprop="datePublished" class="date">{{ article.original_published_date|date:"M, Y"}}</span>
                            {% elif article.show_year %}
                                <span itemprop="datePublished" class="date">{{ article.original_published_date|date:"Y" }}</span>
                            {% endif %}
                        </a>
                    {% else %}
                        {% if article.first_published_at %}
                            <a href="{% url "archive-detail" year=article.first_published_at.year month=article.first_published_at.month %}">
                                {% if article.show_day %}
                                    <span itemprop="datePublished" class="date">{{ article.first_published_at|date }}</span>
                                {% elif article.show_month %}
                                    <span itemprop="datePublished" class="date">{{ article.first_published_at|date:"M, Y"}}</span>
                                {% elif article.show_year %}
                                    <span itemprop="datePublished" class="date">{{ article.first_published_at|date:"Y" }}</span>
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
             <h1><span itemprop="headline" id="article-gallery-title">{{ article.title }}</span></h1>
             <p>{{ article.strap }}</p>
             <ul class="clearfix">
                 <li>
                     {% include "../../core/templates/includes/author-links.html" with authors=article.authors.all author_link_class="" author_name_class="" %}
                     <span class="hidden" itemprop="homeLocation" itemtype="http://schema.org/Place">
                        <span itemprop="address">{{ author.twitter_username }}</span>
                    </span>
                 </li>
                 <li >
                        <span class="filter-value language-box">
                            <span class="banner-label">Language</span>
                          <div class="dropdown custom-dropdown" id="language_dd">
                              <button class="dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  {% for lang in LANGUAGES %}
                                  {% if lang.0 == LANGUAGE_CODE %}
                                  <span class="selected">{{ lang.1 }}</span>
                                      {% endif %}
                              {% endfor %}
                                  <span class="fa fa-angle-down pull-right" aria-hidden="true"></span>
                              </button>
                              <ul class="dropdown-menu banner-language-list" name="lang">
                                  {% for translation in translations %}
                                      <li value="{{ translation.get_absolute_url }}">{{ translation.get_language_display }}</li>
                                  {% endfor %}
                              </ul>
                          </div>
                          <script type="text/javascript">
                            document.addEventListener("DOMContentLoaded", function() {
                              $("#language_dd ul li").on("click", function() {
                                $("#language_dd button .selected").text($(this).text());
                                window.location.href = $(this).attr("value");
                              });
                            });
                          </script>

                      </span>
                 </li>
                 <li>
                                <a href="#">
                                    <i class="fa fa-photo"></i>
                                    <span class="preview">Read the story in pictures</span>
                                </a>
                            </li>{% with request.build_absolute_uri as url and item.title as title %}<li class="social-icon" data-url="{{ url }}">
                                    <span class="banner-label">Share</span>
                                        <a href="https://twitter.com/intent/tweet?url={{ url|urlencode }}&amp;hashtags=RuralIndiaOnline&amp;via=PARINetwork" target="_blank" class="link-light">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a target="_blank"
                                       href="https://facebook.com/sharer.php?u={{ url|urlencode }}&t={{ title|urlencode }}" class="link-light">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>{% endwith %}<li>
                                <a class="#" onclick="window.print()">Print this story</a>
                            </li>{% if article.locations.count %}{% with article.locations.first as location %}<li>
                                        <a href="{% url 'map-list' %}?lat={{ location.point.x }}&long={{ location.point.y }}&title={{ location.name }}&slug={{ location.slug }}">
                                            <span itemprop="contentLocation">
                                                <span itemprop="name">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    <span class="map-top-title">{{ location.district }}</span>, {{ location.state }}
                                                </span>

                                            </span>
                                        </a>
                                    </li><li>
                                        <a href="{% url "location-detail" location.slug %}">
                                            <span>See more from this region</span>
                                        </a>
                                    </li>
                                {% endwith %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

</div>
{% endif %}
{{ block.super }}
{% endblock %}

{% block main %}
<div class="container content-container" itemscope itemtype="http://schema.org/Article">


    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="container article-container">
            <div class="row">
                <div class="article-content-wrapper">
                    <div itemprop="articleBody" class="article-content">
                        {{ article.content|richtext }}
                    </div>
                </div>

    </div>
  <div class="translator_bio">
    {% for translator in article.translators.all %}
    {% if translator not in article.authors.all %}
	  <p itemscope itemtype="http://schema.org/Person" itemprop="translator">
      <i>
        {% if translator.bio %}
        <span class="hidden" itemprop="name">{{ translator.name }}</span>
        <span itemprop="description">{{ translator.bio }}</span>
        {% else %}
        {% trans "Translated by:" %} <span itemprop="name">{{ translator.name }}</span>
        {% endif %}
        {% if translator.twitter_username %}
        {% trans "You can contact the translator here:" %}
        <a itemprop="url" href="https://twitter.com/{{ translator.twitter_handle }}">{{ translator.twitter_username }}</a>
        {% endif %}
      </i>
    </p>
    {% endif %}
    {% endfor %}
  </div>
      </div>
    </div>
</div>
{% include "article/includes/author_info.html" with authors=article.authors.all show_other_stories=True show_translated_bio=True%}
    <div class="container related-stories">
        {% if article.related_articles %}
            <h4>RELATED STORIES</h4>
        {% endif %}
    {% include "article/includes/article_list.html" with articles=article.related_articles %}
</div>

    {% verbatim %}
        <script id="articleAlbumTemplate" type="text/x-jsrender">
          <div class="photo-album-popup popup hide">
            <div class="photo-album show-slide-info">
                <header class="header clear-fix">
                    <div class="left left-icons">
                        <i class="fa fa-angle-left back-to-albums" ></i>
                    </div>
                    <div class="right right-icons">
                        <a href="#" class="fa fa-external-link open-in-new-tab" target="_blank"></a>
                        <i id="showSlideInfo" href="#" class="fa fa-angle-right selected"></i>
                    </div>
                    <div class="carousel-index"></div>
                </header>
                <section class="carousel-area clear-fix">
                  <div id="carousel" class="carousel-container slide left">
                      <ul class="carousel-items carousel-inner" role="list-box">
                        <!-- slides will come here -->
                      </ul>
                      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div>
                  <div class="right slide-info">
                      <div class="description info"></div>
                      <div class="title-meta-data">
                        <div class="album-title info"></div>
                      </div>
                  </div>
                </section>
            </div>
          </div>
          </script>
      {% endverbatim %}
    {% verbatim %}
      <script id="carouselPage" type="text/x-jsrender">
        <li class="{{:carouselPageClass}}" data-slide-to={{:id}}>
            <div class="wrapper">
                <img src="{{:src}}" />
            </div>
        </li>
      </script>
    {% endverbatim %}
{% endblock %}
