{% extends "base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags %}

{% block meta_title %}{{ article.title }}{% endblock %}

{% block opengraph_block %}
{% if article.featured_image %}
{% image article.featured_image max-1400x1120 as featured_image %}
<meta property="og:title" content="{{ article.title }}">
<meta property="og:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ article.get_absolute_url }}">
<meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ featured_image.file.url }}">
<meta property="og:type" content="article">
<meta property="og:description" content="{{ article.strap }} #RuralIndiaOnline">
<meta property="og:published_time" content="{% firstof article.original_published_date|date:"c" article.first_published_at|date:"c" %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ SOCIAL_TWITTER }} #RuralIndiaOnline">
<meta name="twitter:title" content="{{ article.title }}" >
<meta name="twitter:description" content="{{ article.strap }} " >
<meta name="twitter:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ featured_image.file.url }}" >
<meta name="twitter:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ article.get_absolute_url }}" >
{% endif %}

{% if translations and translations|length > 1 %}
{% for translation in translations %}
<link rel="alternate" hreflang="{{ translation.language }}" href="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ translation.get_absolute_url }}" />
{% endfor %}
{% endif %}

{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ article.title }}</li>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}location/css/leaflet.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css" />
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}article/css/article.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/story/story.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/layout/components/main-content/author-info.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/two_column_grid.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/album/photo-album.less">
{% endblock %}

{% block extra_uncompressed_css %}
    <style>
      .lazyload { display: none; }
    </style>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}album/js/magnific-popup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}article/js/social.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}article/js/article.js"></script>
{% endblock %}

{% block main_wrapper %}
{% if article.featured_image %}
{% image article.featured_image width-1400 as featured_image %}
<div class="full-row">
    <div class="banner-container">
        <img src="{{ featured_image.url }}" alt="{{ article.featured_image.alt_text }}">
        <div class="banner-info">
        <div class="container">
            <div class="row-1">
                <span class="tag">
                        {% if article.categories.count %}
                            {% for category in article.categories.all %}
                                <span class="tag-space">{{ category }}
                                {% if not forloop.last %},</span>
                                {% else %}  <span class="tag-space-both">•</span>
                                {%  endif  %}
                            {% endfor %}
                        {% endif %}
                    </span>
                    {% if article.original_published_date %}
                        <a href="{% url "archive-detail" year=article.original_published_date.year month=article.original_published_date.month %}">
                            <span itemprop="datePublished" class="date  ">{{ article.original_published_date|date }}</span>
                        </a>
                    {% else %}
                        {% if article.first_published_at %}
                            <a href="{% url "archive-detail" year=article.first_published_at.year month=article.first_published_at.month %}">
                                <span itemprop="datePublished" class="date"> {{ article.first_published_at|date }}</span>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
             <h2><span itemprop="headline" id="article-gallery-title">{{ article.title }}</span></h2>
             <p>{{ article.strap }}</p>
             <ul class="clearfix">
                 <li>{% for author in article.authors.all %}
                        {% if not forloop.first %}
                            {% if not forloop.last %},{% else %}{% trans "and" %}{% endif %}
                        {% endif %}
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                 <a itemprop="url" href="{% url "author-detail" author.slug %}">
      <span itemprop="name">{{ author.name }}</span>
  </a>
  <span class="hidden" itemprop="homeLocation" itemtype="http://schema.org/Place">
      <span itemprop="address">{{ author.twitter_username }}</span>
  </span>
</span>
                    {% endfor %}</li><li >
{#                    {% if translations and translations|length > 1 %}#}
                    <span class="filter-value">
                        <span class="banner-label">Language</span>
                        <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                      <select class="select-no-style pull-right" name="lang" onchange="location = this.value;">
                      {% for translation in translations %}
                          <option class = "banner-language-list"{% if translation.get_absolute_url == request.get_full_path %} selected="selected"{% endif %} value="{{ translation.get_absolute_url }}" >
                          <a >{{ translation.get_language_display }}</a>
{#                               {% blocktrans%}{{ translation.get_language_display }}{% endblocktrans %}#}
                          </option>
                      {% endfor %}
                      </select>
                    </span>
{#                    {% endif %}#}


                            </li><li>
                                <a href="#">
                                    <i class="fa fa-photo"></i>
                                    <span class="preview">Read the story in pictures</span>
                                </a>
                            </li>{% with request.build_absolute_uri as url and item.title as title %}<li class="social-icon" data-url="{{ url }}">
                                    <span class="banner-label">Share</span>
                                        <a href="https://twitter.com/intent/tweet?url={{ url }}&amp;hashtags=RuralIndiaOnline" target="_blank" class="link-light">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a target="_blank"
                                       href="https://facebook.com/sharer.php?u={{ url|urlencode }}&t={{ title|urlencode }}" class="link-light">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>{% endwith %}<li>
                                <a class="#" onclick="window.print()">Print this story</a>
                            </li>{% if article.locations.count %}{% with article.locations.first as location %}<li>
                                        <a href="{% url 'map-list' %}?lat={{ location.point.x }}&long={{ location.point.y }}&title={{ location.name }}&slug={{ location.slug }}">
                                            <span itemprop="contentLocation">
                                                <span itemprop="name">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    <span class="map-top-title">{{ location.district }}</span>, {{ location.state }}
                                                </span>

                                            </span>
                                        </a>
                                    </li><li>
                                        <a href="{% url "location-detail" location.slug %}">
                                            <span>See more from this region</span>
                                        </a>
                                    </li>
                                {% endwith %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

</div>
{% endif %}
{{ block.super }}
{% endblock %}

{% block main %}
<div class="container content-container" itemscope itemtype="http://schema.org/Article">


    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="container article-container">
            <div class="row">
                <div class="article-content-wrapper">
                    <div itemprop="articleBody" class="article-content">
                        {{ article.content|richtext }}
                    </div>
                </div>

    </div>
  <div class="translator_bio">
    {% for translator in article.translators.all %}
    {% if translator not in article.authors.all %}
	  <p itemscope itemtype="http://schema.org/Person" itemprop="translator">
      <i>
        {% if translator.bio %}
        <span class="hidden" itemprop="name">{{ translator.name }}</span>
        <span itemprop="description">{{ translator.bio }}</span>
        {% else %}
        {% trans "Translated by:" %} <span itemprop="name">{{ translator.name }}</span>
        {% endif %}
        {% if translator.twitter_username %}
        {% trans "You can contact the translator here:" %}
        <a itemprop="url" href="https://twitter.com/{{ translator.twitter_handle }}">{{ translator.twitter_username }}</a>
        {% endif %}
      </i>
    </p>
    {% endif %}
    {% endfor %}
  </div>
      </div>
    </div>
</div>
{% include "article/includes/author_info.html" with authors=article.authors.all show_other_stories=True show_translated_bio=True%}
    <div class="container related-stories">
        {% if article.related_articles %}
            <h4>RELATED STORIES</h4>
        {% endif %}
    {% include "article/includes/article_list.html" with articles=article.related_articles %}
</div>

    {% verbatim %}
        <script id="articleAlbumTemplate" type="text/x-jsrender">
          <div class="photo-album-popup popup hide">
            <div class="photo-album">
                <header class="header clear-fix">
                    <div class="left left-icons">
                        <i class="fa fa-angle-left back-to-albums" ></i>
                    </div>
                    <div class="right right-icons">
                        <a href="#" class="fa fa-external-link open-in-new-tab" target="_blank"></a>
                        <i id="showSlideInfo" href="#" class="fa fa-info-circle show-slide-info"></i>
                    </div>
                    <div class="carousel-index"></div>
                </header>
                <section class="carousel-area clear-fix">
                  <div id="carousel" class="carousel-container slide left">
                      <ul class="carousel-items carousel-inner" role="list-box">
                        <!-- slides will come here -->
                      </ul>
                      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div>
                  <div class="right slide-info">
                      <div class="description info"></div>
                      <div class="title-meta-data">
                        <div class="album-title info"></div>
                      </div>
                  </div>
                </section>
            </div>
          </div>
          </script>
      {% endverbatim %}
    {% verbatim %}
      <script id="carouselPage" type="text/x-jsrender">
        <li class="{{:carouselPageClass}}" data-slide-to={{:id}}>
            <div class="wrapper">
                <img src="{{:src}}" />
            </div>
        </li>
      </script>
    {% endverbatim %}
{% endblock %}
