{% extends "base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags %}

{% block meta_title %}{{ article.title }}{% endblock %}

{% block opengraph_block %}
{% if article.featured_image %}
{% image article.featured_image max-1400x1120 as featured_image %}
<meta property="og:title" content="{{ article.title }}">
<meta property="og:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ article.get_absolute_url }}">
<meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ featured_image.file.url }}">
<meta property="og:type" content="article">
<meta property="og:published_time" content="{% firstof article.original_published_date|date:"c" article.first_published_at|date:"c" %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ SOCIAL_TWITTER }}">
<meta name="twitter:title" content="{{ article.title }}" >
<meta name="twitter:description" content="{{ article.strap }}" >
<meta name="twitter:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ featured_image.file.url }}" >
<meta name="twitter:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ article.get_absolute_url }}" >
{% endif %}

{% if translations and translations|length > 1 %}
{% for translation in translations %}
<link rel="alternate" hreflang="{{ translation.language }}" href="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ translation.get_absolute_url }}" />
{% endfor %}
{% endif %}

{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ article.title }}</li>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}location/css/leaflet.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css" />
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}article/css/article.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/carousel.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/location.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/story/story.less">
{% endblock %}

{% block extra_uncompressed_css %}
    <style>
      .lazyload { display: none; }
    </style>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}album/js/magnific-popup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}article/js/social.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}article/js/map.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}article/js/article.js"></script>
{% endblock %}

{% block extra_uncompressed_js %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ MAP_KEY }}&callback=initMap" async defer></script>
{% endblock %}

{% block main_wrapper %}
{% if article.featured_image %}
{% image article.featured_image max-1400x1120 as featured_image %}
<div class="full-row">
    <div class="banner-container">
        {% image article.featured_image max-1400x1120 %}
        <div class="banner-info">
        <div class="container">
            <div class="row-1">
                <span class="tag">
                        {% if article.categories.count %}
                            {% for category in article.categories.all %}
                                {{ category }}
                                {% if not forloop.last %} ,
                                {% else %} •
                                {%  endif  %}
                            {% endfor %}
                        {%  endif %}
                    </span>
                    {% if article.original_published_date %}
                        <a href="{% url "archive-detail" year=article.original_published_date.year month=article.original_published_date.month %}">
                            <span itemprop="datePublished" class="date  ">{{ article.original_published_date|date }}</span>
                        </a>
                    {% else %}
                        {% if article.first_published_at %}
                            <a href="{% url "archive-detail" year=article.first_published_at.year month=article.first_published_at.month %}">
                                <span itemprop="datePublished" class="date">  {{ article.first_published_at|date }}</span>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
             <h2><span itemprop="headline">{{ article.title }}</span></h2>
             <p>{{ article.strap }}</p>
             <ul class="clearfix">
                 <li>{% for author in article.authors.all %}
                        {% if not forloop.first %}
                            {% if not forloop.last %},{% else %}{% trans "and" %}{% endif %}
                        {% endif %}
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                 <a itemprop="url" href="{% url "author-detail" author.slug %}">
      <span itemprop="name">{{ author.name }}</span>
  </a>
  <span class="hidden" itemprop="homeLocation" itemtype="http://schema.org/Place">
      <span itemprop="address">{{ author.twitter_username }}</span>
  </span>
</span>
                    {% endfor %}</li>
                 <li >
{#                    {% if translations and translations|length > 1 %}#}
                    <span class="filter-value">
                        <span class="banner-label">Language</span>
                        <i class="fa fa-angle                   -down pull-right" aria-hidden="true"></i>
                      <select class="select-no-style pull-right" name="lang" onchange="location = this.value;">
                      {% for translation in translations %}
                          <option class = "banner-language-list"{% if translation.get_absolute_url == request.get_full_path %} selected="selected"{% endif %} value="{{ translation.get_absolute_url }}" >
                          <a >{{ translation.get_language_display }}</a>
{#                               {% blocktrans%}{{ translation.get_language_display }}{% endblocktrans %}#}
                          </option>
                      {% endfor %}
                      </select>
                    </span>
{#                    {% endif %}#}


                 </li>
                 <li>
                     <a href="#">
                         <i class="fa fa-photo"></i>
                         <span class="preview">Read the story in pictures</span>
                     </a>
                 </li>
                 {% with request.build_absolute_uri as url and item.title as title %}
                     <li class="social-icon" data-url="{{ url }}">
                            <span class="banner-label">Share</span>
                            <a target="_blank"
                               href="https://twitter.com/home?status={{ title|urlencode }}+{{ url|urlencode }}">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a target="_blank"
                               href="https://facebook.com/sharer.php?u={{ url|urlencode }}&t={{ title|urlencode }}">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                 {% endwith %}
                 <li>
                     <a class="#" onclick="window.print()">Print this story</a>
                 </li>
             </ul>
         </div>
        </div>
     </div>

</div>
{% endif %}
{{ block.super }}
{% endblock %}

{% block main %}
<div class="container content-container" itemscope itemtype="http://schema.org/Article">


  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
      <div class="container article-container">
        <div class="row">
            {% if article.locations.count %}
                <p>{% for location in article.locations.all %}
                    <div class="col-lg-3 content-map">
                        <div class="subtitle">
                            <a itemprop="url" href="https://www.openstreetmap.org/?mlat={{ location.point.x }}&mlon={{ location.point.y }}#map=14/{{ location.point.x }}/{{ location.point.y }}" target="_blank"><span itemprop="contentLocation"><span itemprop="name">
                                <span class = "map-top-title">{{ location.district }}</span>, {{ location.state }}</span></span></a>
                        </div>
                        <div style="width: 100%">
                            <iframe width="100%" height="260"
                                    src="http://www.mapi.ie/create-google-map/map.php?width=100%&amp;height=260&amp;hl=en&amp;q={{ location.name }}+()&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=A&amp;output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
                                    href="http://www.mapsdirections.info/fr/mesurer-distance-surface-google-maps.html">distance
                                entre deux points carte</a> en <a href="http://www.mapsdirections.info/fr/">www.mapsdirections.info/fr/</a>
                            </iframe>
                        </div>
                        <a class="title" href="{% url "location-detail" location.slug %}">
                            <span>See more from this region</span>
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                {% endfor %}
                </p>

            {% endif %}
            <div itemprop="articleBody" class="article-content">
                {{ article.content|richtext }}
	        </div>
    </div>
  <div class="translator_bio">
    {% for translator in article.translators.all %}
    {% if translator not in article.authors.all %}
	  <p itemscope itemtype="http://schema.org/Person" itemprop="translator">
      <i>
        {% if translator.bio %}
        <span class="hidden" itemprop="name">{{ translator.name }}</span>
        <span itemprop="description">{{ translator.bio }}</span>
        {% else %}
        {% trans "Translated by:" %} <span itemprop="name">{{ translator.name }}</span>
        {% endif %}
        {% if translator.twitter_username %}
        {% trans "You can contact the translator here:" %}
        <a itemprop="url" href="https://twitter.com/{{ translator.twitter_username }}">{{ translator.twitter_username }}</a>
        {% endif %}
      </i>
    </p>
    {% endif %}
    {% endfor %}
  </div>
	<div class="author_bio">
	  {% for author in article.authors.all %}
	  <p itemscope itemtype="http://schema.org/Person">
      <i>
        {% if author.bio %}
        <span class="hidden" itemprop="name">{{ author.name }}</span>
        <span itemprop="description">{{ author.bio }}</span>
        {% else %}
        {% trans "Author:" %} <span itemprop="name">{{ author.name }}</span>
        {% endif %}
        {% if author.twitter_username %}
        {% trans "You can contact the author here:" %}
        <a itemprop="url" href="https://twitter.com/{{ author.twitter_username }}">{{ author.twitter_username }}</a>
        {% endif %}
      </i>
    </p>
	  {% endfor %}
	</div>
      </div>
    </div>
    <div class="container article-grid related-stories">
        <h4>RELATED STORIES</h4>
        <div class="row">
           {% for related_article in article.related_articles %}
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        {% if related_article.featured_image %}
                            <div class="article-image">{% image related_article.featured_image fill-512x512 as featured_image %}
                                <a href="{{ related_article.get_absolute_url }}">
                                    <img class="img-responsive lazyload" data-src="{{ featured_image.url }}"
                                     alt="{{ related_article.featured_image.title }}" width="260" height="260"
                                     src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
                                </a>
                            </div>
                        {% else %}
                            <div class="article-image">
                            <a href="{{ related_article.get_absolute_url }}">
                                <img class="img-responsive" src="{{ STATIC_URL }}img/default_featured_image.png"
                                     alt="PARI Logo" width="260" height="260">
                            </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                        <a href="{{ related_article.get_absolute_url }}"> <h3> {{ related_article.title|truncatechars:70 }}</h3></a>
                        <div>
                            <i class="fa fa-pencil"></i>
                            <span>{% for author in related_article.authors.all %}
                                <a href="{% url "author-detail" author.slug %}">{{ author.name }}</a>
                                {% if not forloop.last %},{% endif %}{% endfor %}</span>
                                <span>
                                    {% for location in related_article.locations.all %}
                                        <i class="fa fa-map-marker"></i>
                                        <a  href="{% url "location-detail" location.slug %}">
                                            <span>{{  location.name }}</span>
                                        </a>
                                    {%  endfor %}
                                </span>
                            </a>
                        </div>
                        <div class="date">
                                 {% if related_article.original_published_date %}
	                                <a href="{% url "archive-detail" year=related_article.original_published_date.year month=related_article.original_published_date.month %}"> <span itemprop="datePublished">{{ related_article.original_published_date|date }}</span> </a>
	                             {% else %}
	                             {% if related_article.first_published_at %}<a href="{% url "archive-detail" year=related_article.first_published_at.year month=related_article.first_published_at.month %}"> <span itemprop="datePublished">{{ related_article.first_published_at|date }}</span></a>{% endif %}
	                             {% endif %}
                        </div>
                    </div>
                </div>
            </div>
           {% endfor %}
    </div>
</div>
{% endblock %}
