{% extends "base.html" %}
{% load i18n wagtailimages_tags %}

{% block feed_block %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "article_feeds" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "article_feeds" %}">
{% endblock %}

{% block meta_title %}{{ title }}{% if filter%} - {{ filter }}{% endif %}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}article/css/article.less">
{% endblock %}

{% block main %}
<div class="container content-container">
  <div class="jumbotron author-header">
    <div class="row">
      {% if author and author.image %}<div class="col-lg-3 col-md-3">{% image author.image fill-270x270 as featured_image %}
        <img class="img-responsive" src="{{ featured_image.url }}" alt="{{ featured_image.title }}">
      </div>{% endif %}
      <div class="caption col-lg-9 col-md-9">
        <h1>{{ title }}</h1>
        {% if author %}<p>{{ author.description }}</p>
	<p>{% include "article/includes/author_social.html" with author=author %}</p>{% endif %}
      </div>
    </div>
  </div>
  {% include "article/includes/article_list.html" %}
</div>
{% endblock %}
