{% extends "base.html" %}
{% load i18n wagtailimages_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block opengraph_block %}
    {% with authors|first as author %}
        <meta property="og:title" content="{{ author.name }}">
        <meta property="og:url"
              content="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ request.get_full_path }}">
        <meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ STATIC_URL }}img/default_featured_image.png">
        <meta property="og:type" content="article">
        <meta property="og:description" content="{{ author.bio_en }} #RuralIndiaOnline">


        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ SOCIAL_TWITTER }}">
        <meta name="twitter:title" content="{{ author.name }}">
        <meta name="twitter:description" content="{{ author.bio_en }} #RuralIndiaOnline">
        <meta name="twitter:url"
              content="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ request.get_full_path }}">
        <meta name="twitter:image" content="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ STATIC_URL }}img/default_featured_image.png" >
    {% endwith %}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/two_column_grid.less">
    <link type="text/less" rel="stylesheet"
          href="{{ STATIC_URL }}css/v2/layout/components/main-content/author-info.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/author-article-list.less">
{% endblock %}

{% block extra_head %}
  {% if articles.paginator %}
    {%  if articles.has_previous %}
    <link rel="prev" href="{{ absolute_path_minus_query_string }}{% if articles.previous_page_number != 1 %}?page={{ articles.previous_page_number }}{% endif %}"/>
    {%  endif %}
    {%  if articles.has_next %}
    <link rel="next" href="{{ absolute_path_minus_query_string }}?page={{ articles.next_page_number }}"/>
    {%  endif %}
  {%  endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}article/js/category.js"></script>
{% endblock %}

{% block main %}
    {% include "article/includes/author_info.html" with authors=authors %}
    <div class="container content-container" id="author-article-list">
        <div class="result-title clear-fix">
            <div class="left"><h3>{{ title }}</h3></div>
            <div class="right">
                <ul class="font-m">
                    <li>{% trans "Languages" %}:</li>
                    <li>
                        {% include "includes/language_select.html" %}
                        <i class="fa fa-angle-down"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            {% with authors|first as author %}
                {% with "No articles written by "|add:author.name as error_message %}
                    {% include "article/includes/article_list.html" with articles=articles title=title error_message=error_message %}
                {% endwith %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
