{% extends "base.html" %}
{% load i18n wagtailimages_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block opengraph_block %}
    {% with authors|first as author %}
        <meta property="og:title" content="{{ author.name }}">
        <meta property="og:url"
              content="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ request.get_full_path }}">
        <meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ STATIC_URL }}img/default_featured_image.png">
        <meta property="og:type" content="article">
        <meta property="og:description" content="{{ author.bio }} #PARIStories">


        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ SOCIAL_TWITTER }}">
        <meta name="twitter:title" content="{{ author.name }}">
        <meta name="twitter:description" content="{{ author.bio }} #PARIStories">
        <meta name="twitter:url"
              content="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ request.get_full_path }}">
        <meta name="twitter:image" content="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ STATIC_URL }}img/default_featured_image.png" >
    {% endwith %}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet"
          href="{{ STATIC_URL }}css/v2/layout/components/main-content/article-list.less">
    <link type="text/less" rel="stylesheet"
          href="{{ STATIC_URL }}css/v2/layout/components/main-content/author-info.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/author-article-list.less">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}article/js/category.js"></script>
{% endblock %}

{% block main %}
    {% include "article/includes/author_info.html" with authors=authors %}
    <div class="container content-container" id="author-article-list">
        <div class="result-title clear-fix">
            <div class="left"><h3>{{ title }}</h3></div>
            <div class="right">
                <ul class="font-m">
                    <li>{% trans "Languages" %}:</li>
                    <li>
                        <select class="select-no-style" name="lang">
                            <option value="">{% trans "All" %}</option>
                            #}
                            {% for lang in LANGUAGES %}
                                <option {% if request.GET.lang == lang.0 %}selected="selected"{% endif %}
                                        value="{{ lang.0 }}">
                                    {% blocktrans with tlang=lang.1 %}{{ tlang }}{% endblocktrans %}
                                </option>
                            {% endfor %}
                        </select>
                        <i class="fa fa-angle-down"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            {% include "article/includes/article_list.html" with articles=articles title=title %}
        </div>
    </div>
{% endblock %}
