@import "../colors/colors";
@import "../layout/responsive";

.donate-page {
  line-height: 35px;

  .donate-title {
    padding-bottom: 30px;
  }

  .subtitle {
    color: @text-color-brand-title;
  }
}