@import "../colors/colors";
@import "../layout/responsive";
@import "../layout/mixins";

p{
  line-height:25px;
}
.donate-form-title {
  .title-strap{
    color:@darker-grey;
    padding: 0;
    margin: 0px;
    line-height: normal;
  }
}

 .donate-heading {
    color: @link-primary;
    .font-size(15);
    margin-bottom: 0px;
    font-weight: bold;
    padding-top:10px;
  }

.donate-form-content {
  .has-error {
    .form-control {
      border-color: @text-color-brand-title;
    }
    .control-label {
      color: @grey;
    }
  }
  .errorlist {
    color: @link-primary;
    padding: 8px 0 0 5px;
  }
  label{
    display: inline-block;
  }
  .form-group {
    border-radius: 0;
    #label_id_is_indian{
      color:@darker-grey;
      padding: 0 0 0 20px;
      line-height: normal;
      .font-size(15);
    }
   #id_is_indian{
     position: absolute;
     left: 0;
     .font-size(30);
     margin-top: 1px;
   }
  }
  .btn {
    .font-size(16);
    border-radius: 0;
    background: @text-color-footer;
    color: @bg-light;
    padding:10px 50px;
    font-weight: 500;
    &:hover {
      background: @link-primary;
    }
  }
  .notify-info {
    line-height: 22px;
    color: @text-color-footer;
    .font-size(12);
  }
  .payment-powered-by{
    p{
      margin-bottom: 0;
    }
    img{
      height: 21px;
      opacity: 0.4;
    }
  }
  input, textarea{
      border-radius: 0 ;
    }
}

.donate-form-section {
  padding:0px;
  margin-top: 20px;
  border-top: @grey 1px solid;

  .special-bullets {
    li:before {
      margin-top: 0;
    }

    li {
      margin-bottom: 10px;
    }
    .account-details{
      margin-left: 40px;
    }
  }
  .the-form{
    margin: 22px 0;
  }
  .donate-heading {
    a{
      color: @link-primary
    }
  }

}