@import "../colors/colors";
@import "../layout/responsive";

.founders-title {
  font-size: 50px;
  font-family: Fira sans-serif;
  font-weight: bolder;
  padding-bottom: 35px;
  color: lightgray;
}

.founders-bio {
  h3 {
    color: @primary-color;
  }
}

.image-grid {
  width: 100%;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 2px solid @light-grey;
}

.founders-details {
  display: inline-block;
  width: 290px;
  padding: 10px 0;
  padding-bottom: 25px;
  .image-holder {
    width: 270px;
    height: 171px;
    overflow: hidden;
  }
  img {
    width: 100%;
  }
  h4 {
    color: @primary-color;
    padding-top: 10px;
  }
}

.photo-section-head {
  font-size: x-large;
  margin-bottom: 30px;
  color: @primary-color;
  margin-top: 30px;
  font-weight: 500;
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .founders-details {
    display: inline-block;
    width: 309px;
    padding: 10px 0;
    padding-bottom: 25px;
  }

  .founders-details .image-holder {
    width: 309px;
    height: 192px;
    overflow: hidden;
    padding: 0px 9px 0px 0px;
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .founders-details {
    display: inline-block;
    width: 354px;
    padding: 10px 0;
    padding-bottom: 25px;
  }

  .founders-details .image-holder {
    width: 354px;
    height: 229px;
    overflow: hidden;
    padding: 0 12px 0 0;
  }

}

@media (max-width: @screen-xs-max) {
  .image-grid .image-holder {
    width: 290px;
    height: 200px;
    overflow: hidden;
  }

  .founders-details {
    display: block;
    margin: auto;
  }
}
