@import "../colors/colors";

.guidelines-page {
  color: @dark-grey;
  line-height: 35px;
  h1 {
    font-size: 40px;
    margin-bottom: 0;
  }

  h3 {
    border-bottom: thick solid @text-color-brand-title;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: @dark-grey;

  }

  h3, h4 {
    font-family: 'Fira Sans', 'Open Sans', sans-serif;
    font-weight: 500;
  }

  .guideline-title {
    padding-bottom: 30px;
  }

  .subtitle {
    color: @text-color-brand-title;
  }

  ol.sub-section {
    padding-left: 1px;
  }

  .index {
    color: @text-color-brand-title;
    padding-left: 0;
    a {
      color: @text-color-brand-title;
      text-decoration: none;
      display: block;
    }

    .section-index {
        border-bottom: thin solid @text-color-brand-title;
        padding-bottom: 10px;
        padding-top: 10px;
        cursor: pointer;
    }

    h4 {
      display: inline-block;
      text-transform: uppercase;
      color: @text-color-brand-title;
    }

    .fa {
      margin-right: 6px;
    }

    div[aria-expanded=true] .fa-caret-right, .fa-caret-right{
      display: none;
    }
    div[aria-expanded=false] {
      .fa-caret-down {
        display: none;
      }
      .fa-caret-right {
        display: inline;
      }
    }
  }

  .content {
    padding-top: 40px;
    line-height: 35px;
    h4 {
      color: @darker-grey;
      display: inline;
    }
    li {
      p:first-of-type {
        display: inline;
      }
    }
    .rich-text {
      display: inline;
      p:first-child {
        display: inline;
      }
    }
    ol {
      counter-reset: item;
      padding-left: 0;
    }
    li { display: block }
    li:before { content: counters(item, ".") " "; counter-increment: item }
  }
}