{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}
{% blocktrans with site_name=site.site_name %}Donate to {{ site_name }}{% endblocktrans %}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/donate_form.less" />
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/forms/form-elements.less" />
{% endblock %}

{% block main %}
<div class="content container">
    <div class="row">
        <div class="donate-form-content col-md-5 col-xs-12">
            <div class="donate-form-title">
                <h1 style="margin-left: 0">{% trans "Donate to PARI" %}</h1>
                <br>
            </div>
            {% if errors %}<h5 class="errorlist">{{ errors }}</h5>{% endif %}
            <form id="donation_form" method="post" action="{% url 'donate_form' %}">{% csrf_token %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        {% if not field.is_hidden %}<label class="control-label"
                                                           id="label_{{ field.id_for_label }}">{{ field.label }} </label>{% endif %}
                        {{ field }} {{ field.errors }}
                        <p class="help-text">{{ field.help_text }}</p>
                    </div>
                {% endfor %}
                <label class="control-label" id="offline_message">Hit submit to get the details.</label>
                <label class="control-label" id="online_message">As per the latest RBI guidelines, recurring i.e Monthly
                    and Annual payments can be only made by UPI or Netbanking options. Recurring payments using Credit
                    and Debit Cards have been disabled for the time being. One-time payments can continue to be made
                    using any payment mode.</label>
                <p></p>
                <input type="submit" class="btn btn-default btn-full-width" value="Submit"/>
                <p class="notify-info">
                    {% blocktrans trimmed %}
                        At present, we can only accept donations in Indian rupees by Indian citizens.
                        All donations made to the CounterMedia Trust are eligible for exemption
                        under Section 80G of the Income Tax Act, 1961. Here is a copy of our 
                        <a href="/media/uploads/Donate/80_certificate_2.pdf" target="_blank">exemption certificate.</a>
                    {% endblocktrans %}
                </p>
            </form>
        </div>
        <div class="donate-form-message col-md-5 col-xs-12">
            <h1>
                {% blocktrans trimmed %}
                In 2014-15, only about <span class="highlight">0.24% of front page news</span>
                came out of rural India. We want to change that. We can do this without governments – and will. We can’t do it without you.
                {% endblocktrans %}
            </h1>
            <div class="row">
                <div class="faqs">
                    <h2 class="heading">{% trans "Frequently Asked Questions" %}</h2>
                    <section class="faq-accordion hr">
                        <input type="checkbox" name="collapse" id="q1">
                        <h2 class="question">
                            <label for="q1">{% trans "I sent PARI a donation. How do I get a receipt?" %}</label>
                        </h2>
                        <div class="answer">
                            <p>{% blocktrans trimmed %}Please make sure you include your email address in the donation
                                form when you make a contribution to PARI.  A receipt will be sent to you in 4 to 8 weeks by email.
                                You may download the 80G certificate <a href="/media/uploads/Donate/80_certificate_2.pdf" target="_blank">here</a>.
                            {% endblocktrans %}
                            </p>
                        </div>
                    </section>
                    <section class="faq-accordion hr">
                        <input type="checkbox" name="collapse" id="q2">
                        <h2 class="question">
                            <label for="q2">{% trans "I live abroad. Can I send PARI a donation?" %}</label>
                        </h2>
                        <div class="answer">
                            <p>
                                {% blocktrans trimmed %}
                                    You can send PARI a donation only from an Indian bank account, in Indian rupees. We are
                                    currently not registered with FCRA for accepting foreign funds.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </section>
                    <section class="faq-accordion hr">
                        <input type="checkbox" name="collapse" id="q6">
                        <h2 class="question">
                            <label for="q6">{% trans "Is there any other way in which I can contribute?" %}</label>
                        </h2>
                        <div class="answer">
                            <p>{% blocktrans trimmed %}Apart from donating money and equipment, you can provide PARI
                                copies of photo collections (new and old), pertaining to rural India. We are also always on the look
                                out for people who can write/photograph for us. Learn more about how you can contribute
                                <a href="/contribute">here</a>.
                            {% endblocktrans %}
                            </p>
                        </div>
                    </section>
                    <div class="hr"></div>
                    <p>If you have any queries with regards to donations you may write to <a href="mailto:donate@ruralindiaonline.org">donate@ruralindiaonline.org</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_uncompressed_js %}
{{ form.media }}
<script type="text/javascript">
    $(function () {
        var ONLINE_PAYMENT = 'Online Payment';
        var CHECK_DD = 'Cheque / DD';
        var BANK_TRANSFER = 'Bank Transfer';
        var ONE_TIME = 'ONE-TIME';
        var MONTHLY = 'Monthly';
        var YEARLY = 'Yearly';
        var checkedFrequencySelector = $('input[name="frequency"]:checked');
        var termSelect = $('.term-select');
        var amountSelect = $('#id_amount_0');
        var frequencySelect = $('#id_frequency');

        function enablePaymentMethod(paymentMethod) {
            $('#id_payment_method').find('input').each(function () {
                if ($(this).val() === paymentMethod) {
                    $(this).parent().addClass('selected-radio')
                }
                $(this).parent().css({'pointer-events': '', 'cursor': '', 'background': ''})
            });
        }

        function enableSubmit() {
            $(':input[type="submit"]').prop('disabled', false).css({'background': '#F13502'});
        }

        function disableSubmit() {
            $(':input[type="submit"]').prop('disabled', true).css({'background': '#737373'});
        }

        function toggleMessage(messageId, display) {
            var selector = $(`#${messageId}`);
            display ? selector.show() : selector.hide();
        }

        function hideOnlineOptions() {
            amountSelect.parent().hide();
            frequencySelect.parent().hide();
            termSelect.parent().hide();
            toggleMessage('online_message', false);
        }

        function hidePaymentOptions() {
            $('#id_payment_method').find('label').each(function () {
                $(this).removeClass('selected-radio').css({
                    'pointer-events': 'none',
                    'cursor': 'default',
                    'background': '#a3a3a3'
                })
            });
        }

        function checkRequiredFields() {
            var name = $('input[name="name"]').val();
            var email = $('input[name="email"]').val();
            var phone = $('input[name="phone"]').val();
            var pan = $('input[name="pan"]').val();
            var is_indian = $('input[name="is_indian"]').is(":checked");
            var address = $('textarea[name="address"]').val();
            var paymentMethod = $('input[name=payment_method]:checked', '#donation_form').val();
            if (!(name.length && email.length && phone.length && pan.length && address.length && is_indian)) {
                disableSubmit();
                hidePaymentOptions();
                hideOnlineOptions();
                toggleMessage('offline_message', false);
            } else if (paymentMethod === CHECK_DD || paymentMethod === BANK_TRANSFER) {
                enablePaymentMethod(paymentMethod);
                hideOnlineOptions();
                toggleMessage('offline_message', true);
                enableSubmit();
            } else if (paymentMethod === ONLINE_PAYMENT) {
                enablePaymentMethod(paymentMethod);
                amountSelect.parent().show();
                frequencySelect.parent().show();
                ($('input[name="frequency"]:checked', '#donation_form').val() === ONE_TIME || !checkedFrequencySelector.length) ? termSelect.parent().hide() : termSelect.parent().show();
                toggleMessage('offline_message', false);
                toggleMessage('online_message', true);
                enableSubmit();
            } else {
                enablePaymentMethod();
            }
        }

        checkRequiredFields();

        function toggleSelected(selectedItem) {
            selectedItem.closest('ul').find('.selected-radio').removeClass('selected-radio');
            selectedItem.parent().addClass('selected-radio');
        }

        if (checkedFrequencySelector.val() === ONE_TIME || !checkedFrequencySelector.length)
            termSelect.parent().hide();

        if (checkedFrequencySelector.val() === YEARLY) termSelect.children('option:lt(2)').hide();

        $('input[type="radio"]:checked').parent().addClass('selected-radio');
        $('input[type="radio"]').click(function () {
            toggleSelected($(this));

            switch ($(this).val()) {
                case ONLINE_PAYMENT:
                    checkRequiredFields();
                    break;
                case CHECK_DD:
                case BANK_TRANSFER:
                    checkRequiredFields();
                    break;
                case ONE_TIME:
                    termSelect.parent().hide();
                    break;
                case YEARLY:
                    termSelect.children('option:lt(2)').hide();
                    termSelect.parent().show();
                    break;
                case MONTHLY:
                    termSelect.children('option:lt(2)').show();
                    termSelect.parent().show();
                    break;
            }
        });

        $('input[name="name"], input[name="email"], input[name="phone"], input[name="pan"], input[name="is_indian"], textarea[name="address"]')
            .change(function () {
                checkRequiredFields();
            });
    })
</script>
{% endblock %}
