{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}
{% blocktrans with site_name=site.site_name %}Donate to {{ site_name }}{% endblocktrans %}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/donate_form.less" />
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/forms/form-elements.less" />
{% endblock %}

{% block main %}
<div class="content container">
    <div class="row">
        <div class="donate-form-title">
            <h1>{% trans "Donate to PARI" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="donate-form-content col-md-5 col-xs-12">
          {% if errors %}<h5 class="errorlist">{{ errors }}</h5>{% endif %}
          <form method="post" action="{% url 'donate_form' %}">{% csrf_token %}
            {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
              {% if not field.is_hidden %}<label class="control-label" id="label_{{ field.id_for_label }}">{{ field.label }} </label>{% endif %}
              {{ field }} {{ field.errors }}
              <p class="help-text">{{ field.help_text }}</p>
            </div>
            {% endfor %}
            <br/>
            <input type="submit" class="btn btn-default" value="Submit" />
            <p class="notify-info">
                {% blocktrans trimmed %}
                    At present, we can only accept donations in Indian rupees by Indian citizens.
                    All donations made to the CounterMedia Trust are eligible for exemption
                    under Section 80G of the Income Tax Act, 1961. Here is a copy of our 
                    <a href="/media/uploads/Donate/80g_certificate.jpg" target="_blank">exemption certificate.</a>
                {% endblocktrans %}
            </p>
          </form>
        </div>
        <div class="donate-form-message hidden-xs hidden-sm col-md-offset-1 col-md-6">
            <br/>
            <h1>
                {% blocktrans trimmed %}
                In 2014-15, only about <span class="highlight">0.24% of front page news</span>
                came out of rural India.
                {% endblocktrans %}
            </h1>
            <h3>
                {% blocktrans trimmed %}
                We want to change that.<br/><br/>
                We can do this without governments – and will. <u>We can’t do it without you.</u>
                {% endblocktrans %}
            </h3>
        </div>
    </div>
    <div class="row hr">
        <div class="col-md-5 col-xs-12">
            <div class="donate-form-section">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfJnETn_g_ubn4uFk-RNpTg4_sKXnXBFelBlgHVv84ynwvevA/viewform?embedded=true" width="550" height="1095" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </div>
        <div class="faqs col-md-offset-1 col-md-5 col-xs-12">
            <h1 class="heading">{% trans "FAQs" %}</h1>
            <div class="faq">
                <p class="question">{% trans "I sent PARI a donation. How do I get a receipt?" %}</p>
                <p class="answer">{% blocktrans trimmed %}Please make sure you include your email address in the donation
                    form when you make a contribution to PARI.  A receipt will be sent to you in 4 to 8 weeks by email.
                    You may download the 80G certificate <a href="/media/uploads/Donate/80g_certificate.jpg" target="_blank">here</a>.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="faq">
                <p class="question">{% trans "I live abroad. Can I send PARI a donation?" %}</p>
                <p class="answer">
                    {% blocktrans trimmed %}
                        You can send PARI a donation only from an Indian bank account, in Indian rupees. We are
                        currently not registered with FCRA for accepting foreign funds.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="faq">
                <p class="question">{% trans "Is there any other way in which I can contribute?" %}</p>
                <p class="answer">{% blocktrans trimmed %}Apart from donating money and equipment, you can provide PARI
                    copies of photo collections (new and old), pertaining to rural India. We are also always on the look
                    out for people who can write/photograph for us. Learn more about how you can contribute
                    <a href="/contribute">here</a>.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_uncompressed_js %}
{{ form.media }}
<script type="text/javascript">
    $(function () {
        var ONE_TIME = 'ONE-TIME';
        var MONTHLY = 'Monthly';
        var YEARLY = 'Yearly';
        var checkedFrequencySelector = $('input[name="frequency"]:checked');
        var termSelect = $('.term-select');

        function toggleSelected(selectedItem) {
            selectedItem.closest('ul').find('.selected-radio').removeClass('selected-radio');
            selectedItem.parent().addClass('selected-radio');
        }

        if (checkedFrequencySelector.val() === ONE_TIME || !checkedFrequencySelector.length)
            termSelect.parent().hide();

        if (checkedFrequencySelector.val() === YEARLY) termSelect.children('option:lt(2)').hide();

        $('input[type="radio"]:checked').parent().addClass('selected-radio');
        $('input[type="radio"]').click(function () {
            toggleSelected($(this));

            switch ($(this).val()) {
                case ONE_TIME:
                    termSelect.parent().hide();
                    break;
                case YEARLY:
                    termSelect.children('option:lt(2)').hide();
                    termSelect.parent().show();
                    break;
                case MONTHLY:
                    termSelect.children('option:lt(2)').show();
                    termSelect.parent().show();
                    break;
            }
        })
    })
</script>
{% endblock %}
