{% load i18n %}

<li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "category-list" %}">
    <span itemprop="name">{% trans "Categories" %}</span>
  </a>
</li>
<li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "category-list" %}">
    <span itemprop="name">{% trans "Gallery" %}</span>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" itemscope itemtype="http://schema.org/ItemList">
    <li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "talking-album-list" %}">
	      <span class="glyphicon glyphicon-bullhorn"></span>
	      <span itemprop="name">{% trans "Talking Albums" %}</span>
      </a>
    </li>
    <li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "other-album-list" %}">
	      <span class="glyphicon glyphicon-picture"></span>
	      <span itemprop="name">{% trans "Albums" %}</span>
      </a>
    </li>
    <li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "category-detail" slug="faces" %}">
	      <span class="glyphicon glyphicon-user"></span>
	      <span itemprop="name">{% trans "Faces" %}</span>
      </a>
    </li>
    <li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "category-detail" slug="videozone" %}">
	      <span class="glyphicon glyphicon-film"></span>
	      <span itemprop="name">{% trans "Video Zone" %}</span>
      </a>
    </li>
    <li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "category-detail" slug="audiozone" %}">
	      <span class="glyphicon glyphicon-volume-up"></span>
	      <span itemprop="name">{% trans "Audio Zone" %}</span>
      </a>
    </li>
    <li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "category-detail" slug="photozone" %}">
	      <span class="glyphicon glyphicon-camera"></span>
	      <span itemprop="name">{% trans "Photo Zone" %}</span>
      </a>
    </li>
    <li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "category-detail" slug="visible-work-invisible-women" %}">
	      <span class="glyphicon glyphicon-eye-open"></span>
	      <span itemprop="name">{% trans "P Sainath's Online Photo Exhibition" %}</span>
      </a>
    </li>
  </ul>
</li>
<li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "resource-list" %}">
    <span itemprop="name">{% trans "Resources" %}</span>
  </a>
</li>
<li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="javascript:void(0);">
    <span itemprop="name">{% trans "Contribute" %}</span>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" itemscope itemtype="http://schema.org/ItemList">
    <li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "contribute" slug="contribute" %}">
	      <span itemprop="name">{% trans "Get Involved" %}</span>
      </a>
    </li>
    <li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "static_page" slug="guidelines" %}">
	      <span itemprop="name">{% trans "Guidelines" %}</span>
      </a>
    </li>
  </ul>
</li>
<li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  <a href="javascript:void(0);">
    {% trans "About PARI" %}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" itemscope itemtype="http://schema.org/ItemList">
    <li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item url"  href="{% url "static_page" slug="about" %}">
	      <span itemprop="name">{% trans "The story of PARI" %}</span>
      </a>
    </li>
    <li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item url"  href="{% url "static_page" slug="pari-teachers-students" %}">
	      <span itemprop="name">{% trans "PARI Students & Teachers" %}</span>
      </a>
    </li>
    <li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "static_page" slug="about-the-editor" %}">
	      <span itemprop="name">{% trans "Founder Editor P Sainath" %}</span>
      </a>
    </li>
    <li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "static_page" slug="acknowledgements" %}">
	      <span itemprop="name">{% trans "Acknowledgements" %}</span>
      </a>
    </li>
  </ul>
</li>
<li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "static_page" slug="donate" %}">
    <span itemprop="name">{% trans "Donate" %}</span>
  </a>
</li>
<li class="dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  <a itemscope itemtype="http://schema.org/Thing" itemprop="item url" href="{% url "map-list" %}">
    <span itemprop="name">{% trans "Map" %}</span>
  </a>
</li>
