{% load i18n %}

<li class="dropdown stories keep-on-left">
    <a class="dropdown-toggle" data-toggle="dropdown" itemprop="url" href="#">
        <span itemprop="name" {% if "stories" in tab %} class="active-tab" {%endif%}>{% trans "Stories" %}</span>
        <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu mega-nav">
        <div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <h5>{% trans "CATEGORIES" %}</h5>
                <ul class="list-unstyled clear-margins">
                    <li>
                        <a itemprop="url" href="{% url "story-detail" slug="things-we-do" %}">
                        <span itemprop="name">{% trans "Things We Do" %}</span>
                        </a>
                    </li>
                    <li>
                        <a itemprop="url" href="{% url "story-detail" slug="things-we-make" %}">
                        <span itemprop="name">{% trans "Things We Make" %}</span>
                        </a>
                    </li>
                    <li>
                        <a itemprop="url" href="{% url "story-detail" slug="farming-and-its-crisis" %}">
                        <span itemprop="name">{% trans "Farming and its Crisis" %}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <ul class="list-unstyled clear-margins with-out-title">
                    <li>
                        <a itemprop="url" href="{% url "story-detail" slug="foot-soldiers-of-freedom" %}">
                        <span itemprop="name">{% trans "Foot-Soldiers of Freedom" %}</span>
                        </a>
                    </li>
                    <li>
                        <a itemprop="url" href="{% url "story-detail" slug="the-rural-in-the-urban" %}">
                        <span itemprop="name">{% trans "The Rural in the Urban" %}</span>
                        </a>
                    </li>
                    <li>
                        <a itemprop="url" href="{% url "story-detail" slug="musafir" %}">
                        <span itemprop="name">{% trans "Musafir" %}</span>
                        </a>
                    </li>
                    <li>
                        <a class="page-nav-link" itemprop="url" href="{% url "category-list" %}">
                        <span itemprop="name">{% trans "View all Categories" %} <i class="fa fa-angle-double-right"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 image-link margin-top-10px">
                <ul class="list-unstyled clear-margins">
                    <li>
                        <div >
                            <img class="img-responsive" src = "{{ STATIC_URL }}img/nav_header_images/map.png" alt="The archive on a map">
                        </div>
                    </li>
                    <li>
                        <div>{% trans "Stories from near you" %}</div>

                        <a class="page-nav-link" href="{% url "map-list" %}">
                        <span itemprop="name">{% trans "The archive on a map" %} <i class="fa fa-angle-double-right"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>
<li class="dropdown gallery keep-on-left">
    <a class="dropdown-toggle" data-toggle="dropdown" itemprop="url" href="#">
        <span itemprop="name" {% if 'gallery' in tab %} class="active-tab" {%endif%}>{% trans "Gallery" %}</span>
        <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu mega-nav">
        <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h5>{% trans "PHOTOS" %}</h5>
                    <ul class="list-unstyled clear-margins">
                        <li>
                            <a itemprop="url" href="{% url "other-album-list" %}">
                            <span itemprop="name">{% trans "Albums" %}</span>
                            </a>
                        </li>
                        <li>
                            <a itemprop="url" href="{% url "gallery-detail" slug="visible-work-invisible-women" %}">
                            <span itemprop="name">{% trans "Exhibitions" %}</span>
                            </a>
                        </li>
                        <li>
                            <a itemprop="url" href="{% url "gallery-detail" slug="photozone" %}">
                            <span itemprop="name">{% trans "PARI Pics" %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h5>{% trans "VIDEOS" %}</h5>
                    <ul class="list-unstyled clear-margins">
                        <li>
                            <a itemprop="url" href="{% url "gallery-detail" slug="Little takes" %}">
                            <span itemprop="name">{% trans "Little Takes" %}</span>
                            </a>
                        </li>
                        <li><a href="https://www.youtube.com/{{ SOCIAL_YOUTUBE }}" target="_blank">YouTube</a></li>
                        <li>
                            <a class="page-nav-link" itemprop="url" href="{% url "gallery-detail" slug="videozone" %}">
                            <span itemprop="name">{% trans "View all videos" %} <i class="fa fa-angle-double-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h5>{% trans "AUDIO" %}</h5>
                    <ul class="list-unstyled clear-margins">
                        <li>
                            <a itemprop="url" href="{% url "gallery-detail" slug="audiozone" %}">
                            <span itemprop="name">{% trans "Music" %}</span>
                            </a>
                        </li>
                        <li>
                            <a itemprop="url" href="{% url "gallery-detail" slug="tongues" %}">
                            <span itemprop="name">{% trans "Tongues" %}</span>
                            </a>
                        </li>
                        <li><a href="https://soundcloud.com/{{ SOCIAL_SOUND_CLOUD }}" target="_blank">Soundcloud</a></li>
                        <li>
                            <a class="page-nav-link" itemprop="url" href="{% url "gallery-home-page" %}">
                            <span itemprop="name">{% trans "View Gallery highlights" %} <i class="fa fa-angle-double-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 image-link">
                    <ul class="list-unstyled clear-margins">
                        <li>
                            <div >
                                <img class="img-responsive" src = "{{ STATIC_URL }}img/nav_header_images/face.png" alt="Explore India’s facial diversity">
                            </div>
                        </li>
                        <li>
                            <span>{% trans "Explore India’s facial diversity" %}</span>
                            <a class="page-nav-link" itemprop="url" href="{% url "face-list" %}">
                            <span itemprop="name">{% trans "View FACES" %} <i class="fa fa-angle-double-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 image-link">
                    <ul class="list-unstyled clear-margins">
                        <li>
                            <div >
                                <img class="img-responsive" src = "{{ STATIC_URL }}img/nav_header_images/talking_album.png" alt="Listen to photos speak">
                            </div>
                        </li>
                        <li>
                            <span>{% trans "Listen to photos speak" %}</span>
                             <a class="page-nav-link" itemprop="url" href="{% url "talking-album-list" %}">
                                <span itemprop="name">{% trans "View Talking Albums" %} <i class="fa fa-angle-double-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="dropdown resources keep-on-left">
    <a class="dropdown-toggle" itemprop="url" href="{% url "resource-list" %}">
    <span itemprop="name" {% if "resources" in tab %} class="active-tab" {%endif%}>{% trans "Resources" %}</span>
    </a>
</li>
<li class="dropdown search-icon keep-on-left">
    <a class="dropdown-toggle search-icon-container" itemprop="url" href="javascript:void(0)">
        <i class="fa fa-search"></i>
    </a>
</li>
<li class="dropdown donate keep-on-right">
    <a class="dropdown-toggle" itemprop="url" href="{% url "static_page" slug="donate" %}">
    <span style='background-color: #ff3c35;padding: 5px 7px;border-radius: 3px;color: white;' itemprop="name"  {% if "donate" in tab %} class="active-tab" {%endif%}>{% trans "Donate to PARI" %} </span>
    </a>
</li>
<li class="dropdown about-pari keep-on-right">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span {% if "about-pari" in tab %} class="active-tab" {%endif%}>{% trans "About PARI" %}</span>
        <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right mega-nav">
        <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h5>{% trans "ABOUT PARI" %}</h5>
                    <ul class="list-unstyled clear-margins">
                        <li>
                            <a itemprop="url"  href="{% url "static_page" slug="about" %}">
                            <span itemprop="name">{% trans "The story of PARI" %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://blog.ruralindiaonline.org/">Blog</a>
                        </li>
                        <li>
                            <a href="{% url "contact_us" %}">
                            <span itemprop="name">{% trans "Contact us" %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h5>{% trans "GET INVOLVED" %}</h5>
                    <ul class="list-unstyled clear-margins">
                        <li>
                            <a  href="{% url "contribute" slug="contribute" %}">
                            <span itemprop="name">{% trans "Contribute" %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "static_page" slug="donate" %}">
                            <span itemprop="name">{% trans "Donate" %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h5>{% trans "NOTES" %}</h5>
                    <ul class="list-unstyled clear-margins">
                        <li>
                            <a itemprop="url" href="{% url "static_page" slug="acknowledgements" %}">
                            <span itemprop="name">{% trans "Acknowledgements" %}</span>
                            </a>
                        </li>
                        <li>
                            <a itemprop="url" href="{% url "static_page" slug="guidelines" %}">
                            <span itemprop="name">{% trans "Guidelines" %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 image-link">
                    <ul class="list-unstyled clear-margins">
                        <li>
                            <div >
                                <img class="img-responsive" src = "{{ STATIC_URL }}img/nav_header_images/students_teachers.png" alt="PARI for students, teachers and researchers">
                            </div>
                        </li>
                        <li>
                            <span>{% trans "PARI for students, teachers and researchers" %}</span>
                            <a class="page-nav-link" itemprop="url"  href="{% url "static_page" slug="pari-teachers-students" %}">
                            <span itemprop="name">{% trans "Know more" %} <i class="fa fa-angle-double-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 image-link">
                    <ul class="list-unstyled clear-margins">
                        <li>
                            <div >
                                <img class="img-responsive" src = "{{ STATIC_URL }}img/nav_header_images/sainath.png" alt="P. Sainath, Founder Editor">
                            </div>
                        </li>
                        <li>

                            <span>P. Sainath, {% trans "Founder Editor" %}</span>
                            <a class="page-nav-link" itemprop="url" href="{% url "static_page" slug="about-the-editor" %}">
                            <span itemprop="name">{% trans "Know more" %} <i class="fa fa-angle-double-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</li>
