{% load i18n %}
{% spaceless %}
<footer class="footer">
    <div class="container" itemscope itemtype="http://schema.org/Organization">
        <div class="row"><!-- row -->
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><!-- widgets column left -->
                <h4 class="title-widget">{% trans "Explore" %}</h4>
                <ul class="list-unstyled clear-margins">
                    <li>
                        <a class="page-nav-link" itemprop="url" href="{% url "category-list" %}">
                           <span itemprop="name">{% trans "Categories" %}</span>
                        </a>
                    </li>
                    <li>
                        <a class="page-nav-link" itemprop="url" href="{% url "map-list" %}">
                            <span itemprop="name">{% trans "Stories on a map" %}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><!-- widgets column left -->
            <h4 class="title-widget">{% trans "Gallery" %}</h4>
            <ul class="list-unstyled clear-margins">
                <li>
                    <a itemprop="url" href="{% url "gallery-detail" slug="photozone" %}">
                        <span itemprop="name">{% trans "Photos" %}</span>
                    </a>
                </li>
                <li>
                    <a class="page-nav-link" itemprop="url" href="{% url "gallery-detail" slug="videozone" %}">
                        <span itemprop="name">{% trans "Videos" %}</span>
                    </a>
                </li>
                <li>
                    <a itemprop="url" href="{% url "gallery-detail" slug="audiozone" %}">
                        <span itemprop="name">{% trans "Audios" %}</span>
                    </a>
                </li>
                <li>
                     <a itemprop="url" href="{% url "talking-album-list" %}">
                        <span itemprop="name">{% trans "Talking Albums" %}</span>
                    </a>
                <li>
                    <a class="page-nav-link" itemprop="url" href="{% url "face-list" %}">
                        <span itemprop="name">{% trans "Faces" %}</span>
                    </a>
                </li>
            </ul>
        </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><!-- widgets column left -->
            <h4 class="title-widget">{% trans "About" %}</h4>
            <ul class="list-unstyled clear-margins">
                <li>
                     <a itemprop="url"  href="{% url "static_page" slug="about" %}">
                        <span itemprop="name">{% trans "The story of PARI" %}</span>
                    </a>
                </li>
                <li>
                    <a itemprop="sameAs" href="https://blog.ruralindiaonline.org/">
                        <span itemprop="name">{% trans "Blog" %}</span>
                    </a>
                </li>
                <li>
                    <a href="{% url "contact_us" %}">
                        <span itemprop="name">{% trans "Contact us" %}</span>
                    </a>
                </li>
                <li>
                    <a itemprop="url" href="{% url "static_page" slug="acknowledgements" %}">
                        <span itemprop="name">{% trans "Acknowledgements" %}</span>
                    </a>
                </li>
                <li>
                     <a itemprop="url" href="{% url "static_page" slug="guidelines" %}">
	                    <span itemprop="name">{% trans "Guidelines" %}</span>
                    </a>
                </li>
            </ul>
        </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><!-- widgets column left -->
            <h4 class="title-widget">{% trans "Get Involved" %}</h4>
            <ul class="list-unstyled clear-margins">
                <li>
                    <a href="{% url "static_page" slug="donate" %}">
                        <span itemprop="name">{% trans "Donate to PARI" %}</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-toggle" itemprop="url" href="{% url "contribute" slug="contribute" %}">
                    <span itemprop="name">{% trans "Volunteer for PARI" %}</span>
                    </a>
                </li>
            </ul>
        </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><!-- widgets column left -->
            <h4 class="title-widget">{% trans "More" %}</h4>
            <ul class="list-unstyled clear-margins">
                <li>
                    <a href="{% url "static_page" slug="terms-and-conditions" %}">
                        <span itemprop="name">{% trans "Terms & Conditions" %}</span>
                    </a>
                </li>

                <li>
                    <a href="{% url "static_page" slug="copyright" %}">
                        <span itemprop="name">{% trans "Copyright" %}</span>
                    </a>
                </li>
            </ul>
        </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><!-- widgets column left -->
                <h4 class="title-widget">{% trans "Connect" %}</h4>
                <ul class="list-unstyled clear-margins">
                    <li class="footer-social-icons">
                        <span>
                            <span><a itemprop="sameAs" href="https://facebook.com/{{ SOCIAL_FACEBOOK }}" target="_blank"><i class="fa fa-facebook-official"></i></a></span>
                            <span><a itemprop="sameAs" href="https://twitter.com/{{ SOCIAL_TWITTER }}" target="_blank"><i class="fa fa-twitter"></i></a></span>
                            <span><a itemprop="sameAs" href="{% url "feeds_list_page" %}"><i class="fa fa-rss"></i></a></span>
                            <span><a itemprop="sameAs" href="https://github.com/{{ SOCIAL_GITHUB_REPO }}" target="_blank"><i class="fa fa-github"></i></a></span>
                        </span>
                    </li>
            </ul>
        </div>
        </div>
        <div class="row">
            <span class="hidden" itemprop="name">{{ site.site_name }}</span>
            <span class="hidden" itemprop="url">https://{{ site.hostname }}/</span>
        </div>
    </div>
</footer>


{% endspaceless %}


