{% extends "base.html" %}
{% load i18n wagtailimages_tags %}

{% block meta_title %}{% blocktrans %}Pages from {{ location.address }}{% endblocktrans %}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}article/css/article.less">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}article/js/category.js"></script>
{% endblock %}

{% block main %}
<div class="container content-container">
  <div id="articles" class="heading row">
    {% if location %}
    <h3 class="col-lg-10">{% blocktrans trimmed %} Pages from {{ location.name }}, {{ location.district }}, {{ location.state }} {% endblocktrans %}</h3>
    {% endif %}
  </div>
  {% include "article/includes/article_list.html" %}
</div>
{% endblock %}
