{% load wagtailcore_tags wagtailimages_tags %}
{% load article_filters %}

<div class="n-column-image-with-paragraph clearfix">
    <div class="n-column-image clearfix {% if value.content.content|striptags|length > 0 and value.align_columnar_images == "left" %}margin-right{% elif value.content.content|striptags|length > 0 and value.align_columnar_images == "right" %}margin-left{% else %}center{% endif %}">
        {% with value.images|length as images_length %}
            {% for image in value.images %}
                <div class="image-block">
                    {% if value.height > 560 %}
                        {% image image.image height-1120 as image %}
                    {% else %}
                        {% image image.image height-560 as image %}
                    {% endif %}
                    <div class="image" style="height:{{ value.height }}px">
                        {% image image.image max-1400x1120 as slide_image %}
                        <img class="lazyload" src="{{ image.url }}" data-src="{{ slide_image.url }}" style=" height:{{ value.height }}px;"/>
                    </div>
                    <div class= "photo-credits">
                        {% if image.image.photographers.all %}
                         PHOTO •
                        {% for photographer in image.image.photographers.all %}
                           {{ photographer }}
                            {% if not forloop.last %},&nbsp;
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endwith %}
            <div class="caption">
                    {{ value.caption }}
            </div>
        <script async defer type="text/javascript">
            var container = document.currentScript.parentNode;
            setImageCaptionWidth(container);
        </script>
    </div>

    {% include_block value.content %}

</div>