{% load wagtailcore_tags wagtailimages_tags %}
{% load article_filters %}

<div class="n-column-paragraph row clearfix">
    {% with value.paragraph|length as paragraph_size %}
        {% for para in value.paragraph %}
            <div class="col-lg-{% widthratio 12 paragraph_size 1 %} col-md-{% widthratio 12 paragraph_size 1 %} {% if forloop.first %}no-padding-right{% elif forloop.last %}no-padding-left{% else %}no-padding-both{% endif %}">
            {% include_block  para %}
            </div>
        {% endfor %}
    {% endwith %}
</div>
