{% load wagtailcore_tags wagtailimages_tags %}
{% load article_filters %}

<div class="image-with-block-quote">
    {% if value.align_quote == "left" %}
        <div class="quote-container left">
            {{ value.quote }}
        </div>
    {% endif %}
    <div class="image-with-caption {{ value.align_quote }} " style="width: {{ value.image_width }}px;">
        {{ value.image }}
    </div>
    {% if value.align_quote == "right" %}
        <div class="quote-container right">
            {{ value.quote }}
        </div>
    {% endif %}
    <script type="text/javascript">
        var img = document.currentScript.parentNode.querySelector('img');
        var caption = document.currentScript.parentNode.querySelector('.caption');

        var handle = null;
        function checkIfImageLoaded() {
            if (!img.complete) {
                return false;
            }
            if (img.clientWidth === 0) {
                return false;
            }
            return true
        }
        function setCaptionWidth() {
            if (checkIfImageLoaded()) {
                var width = img.clientWidth;
                caption.setAttribute('style', 'width:' + width + 'px;');
                clearInterval(handle);
            }

        }
        handle = setInterval(setCaptionWidth, 500);
    </script>
</div>