{% load wagtailcore_tags wagtailimages_tags %}
{% load article_filters %}

<div class="image-with-block-quote">
    {% if value.align_quote == "left" %}
        <div class="quote-container left">
            <div class="block-quote">
                {{ value.quote }}
            </div>
        </div>
    {% endif %}
    <div class="image-with-caption {{ value.align_quote }} ">
        {{ value.image }}
    </div>
    {% if value.align_quote == "right" %}
        <div class="quote-container right">
            <div class="block-quote">
                {{ value.quote }}
            </div>
        </div>
    {% endif %}
    <script async defer type="text/javascript">
        var container = document.currentScript.parentNode;
        setImageCaptionWidth(container);
    </script>
</div>