{% load wagtailcore_tags wagtailimages_tags %}

<div class="image-with-quote-and-paragraph clearfix">
    <div class="image-content image-align-{{ value.align_image }}">
        {{ value.image }}
    </div>
    <div class="text-content">
        {{ value.content_1 }}

        <div class="block-quote quote-align-{{ value.align_image }} float-{{ value.align_image }} ">
        {{ value.quote.quote }}
        </div>

        {{ value.content_2 }}
    </div>

    <script async defer type="text/javascript">
        var container = document.currentScript.parentNode;
        setImageCaptionWidth(container);
    </script>
</div>