{% load wagtailcore_tags wagtailimages_tags %}

<div class="image-block">
    {% if value.width_in_columns > 6 %}
        {% image value.image width-1440 as image %}
    {% else %}
        {% image value.image width-720 as image %}
    {% endif %}
    <div class="image" style="height: {% if value.fill_container %}inherit {% else %}{{ value.height }}px {% endif %}">
        <img src="{{ image.url }}" {% if value.fill_container %}style="position:relative;max-height:inherit"{% endif %}/>
    </div>
    <div class="caption">
        <p>
            {{ value.caption }}
        </p>
    </div>
</div>