{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

<div class="paragraph-with-embed-block row">

    <div class="embed-holder embed-align-{{ value.embed_align }}">
        {% embed value.embed.url value.embed_max_width %}
        <div class="caption">
            {{ value.embed_caption }}
        </div>
    </div>

    {% include_block value.content %}

    <script async defer type="text/javascript">
        var container = document.currentScript.parentNode;
        setEmbedCaptionWidth(container);
    </script>
</div>