{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

<div class="paragraph-with-map-block">
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <div id="map" style="height: 300px; width: 400px;"></div>
    <script type="text/javascript">
        var locations = [ {% for location in value.locations %} ["{{ location.name }}", {{ location.point.x }},
            {{ location.point.y }}], {% endfor %}];

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 9,
            center: new google.maps.LatLng(locations[0][1], locations[0][2]),
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    </script>

    {{ value.content }}
</div>