{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

<div class="paragraph-with-raw-embed-block row">

    <div class="embed-holder {% if value.content|striptags|length > 10 %}embed-align-{{ value.embed_align }}{% else %}no-margin{% endif %}">
        {{ value.embed }}
        <div class="caption">
            {{ value.embed_caption }}
        </div>
    </div>

    {% include_block value.content %}

    <script async defer type="text/javascript">
        var container = document.currentScript.parentNode;
        setEmbedCaptionWidth(container);
    </script>
</div>