{% load wagtailcore_tags wagtailimages_tags %}
{% load article_filters %}

<div class="video-with-quote-block row">
    {% if value.align_quote == 'left'%}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 block-quote quote-align-left">
            {{ value.quote }}
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 embed-holder embed-align-right">
            {{ value.video }}
        </div>
    {% else %}

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 embed-holder embed-align-left ">
            {{ value.video }}
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 block-quote quote-align-right">
            {{ value.quote }}
        </div>
    {% endif %}
</div>