{% load wagtailcore_tags wagtailimages_tags %}
{% load article_filters %}

<div class="video-with-quote-block clearfix floating-element">
    {% if value.align_quote == 'left'%}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 block-quote quote-align-left float-left">
            {{ value.quote }}
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 embed-holder embed-align-right content">
            {{ value.video }}
        </div>
    {% else %}

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 embed-holder embed-align-left content">
            {{ value.video }}
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 block-quote quote-align-right float-right">
            {{ value.quote }}
        </div>
    {% endif %}
</div>
