.search-panel, .search-panel-toggle {
  background: #F4F4F4;

    .container {
      position: relative;
      height: 100%;

      header.seach-input-panel {
        margin-top: 23px;
        height: 43px;
        position: relative;

        form {
          margin: 0px;
        }

        .input-box {
          display: inline-block;
          width: ~"calc(100% - 126px)";
          vertical-align: middle;
        }
        .no-of-results {
          display: inline-block;
          vertical-align: middle;
          width: 120px;
          font-size: 16px;
          color: #8F8F8F;
        }

        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px #dedede inset;
        }

        input {
          width: 100%;
          display: block;
          outline: none;
          border: none;
          border-bottom: 1px solid #c7c7c7;
          margin: 0px;
          padding: 10px 30px 10px 10px;
          background: none;
          font-size: 16px;

          &.error {
            border-bottom-color: #FF0000 !important;
          }
        }
        span {
          position: absolute;
          right: 5px;
          top: 11px;
          font-size: 20px;
          cursor: pointer;
          color: #c7c7c7;
        }
      }

    }
}

.search-panel-toggle {
  position: absolute;
  left: 0px;
  right: 0px;
  top: -100px;
  height: 100px;
  z-index: 2 !important;
  margin-top: 82px;

  -webkit-transition: 300ms linear top;
  -moz-transition: 300ms linear top;
  -ms-transition: 300ms linear top;
  transition: 300ms linear top;

  &.show {
    top: 0px !important;
    box-shadow: 2px 2px 3px #bfbfbf;
  }
}

.search-result-panel {
  margin-top: -40px;

  .search-panel {
    .container {
      position: relative;
      height: 100%;

      header.seach-input-panel {
        height: 43px;
        position: relative;
        margin-top: 10px;
      }

      section.search-result {
        height: ~"calc(100% - 126px)";
        margin: 30px 0px 20px 0px;
        overflow: auto;
        & > ul {
          overflow: auto;
          li {
            float: left;
            width: 50%;
            overflow: auto;
            margin-bottom: 20px;

            img {
              width: 100%;
            }

            & > a {
              width: 250px;
            }

            & > a, & > .caption {
              display: block;
              width: 50%;
              padding-right: 10px;
              float: left;
            }

            .caption {
              h3 {
                font-size: 22px;
                margin: 7px 2px;
                max-height: 42px;
                overflow: hidden;
                color: rgb(59, 59, 59);

                a {
                  color: rgb(59, 59, 59);
                }
              }
              .date, .margin-top-20px {
                margin-top: 10px !important;
              }
            }
            .date {
              float: left;
              margin-top: 10px !important;
            }
          }
        }

        .pagination {
          margin: 0px;
          li {
            a {
             color: #827c7c;
           }
           &.active a {
             color: #FFF;
           }
          }
        }

      }

      footer.page-index {
        height: 43px;
      }

      .result-not-found {
        padding: 0px 10px;
        border-radius: 3px;

        p {
          padding: 20px;
        }
      }
    }

  }
}



@media (max-width: 991px) {
  .search-panel-toggle {
    margin-top: 80px !important;
  }
  .search-panel {
    margin-top: 40px !important;
  }
}

@media (max-width: 768px) {
  .search-panel-toggle {
    margin-top: 56px !important;
  }

  .search-result-panel .search-panel {
    .container section.search-result ul {
      li {
        .date {
          margin-top: 10px !important;
          font-size: 14px;
        }
        & > a, & > .caption {
          width: 100% !important;

          h3 {
            font-size: 18px;
            margin: 4px 2px;
            max-height: 38px;
          }
          .margin-top-20px {
            margin-top: 10px !important;
            a {
             font-size: 14px;
           }
          }
        }
      }
    }
    .pagination > li {
      display: inline-block;
    }
  }
}

@media (max-width: 500px) {
  section.search-result {
    & > ul {
      li {
        float: none !important;
        width: 100% !important;

        & > a, & > .caption {
          width: 100% !important;

          h3 {
            margin-top: 10px !important;
          }
          .date {
            margin-top: 0px !important;
          }
          .margin-top-20px {
            margin-top: 0px !important;
            a {
             font-size: 14px;
           }
          }
        }
      }
    }
  }
}
