@import "/colors/colors";
@import "layout/responsive";

.paginator-bottom {
  z-index: 1;
}

.no-of-results {
  h4 {
    font-size: large;
    margin-bottom: 5px;
    padding-left: 0;
  }
}

.filters-list {
  color: @grey;
  padding-left: 0;

  hr {
    margin-top: 0px;
    border-top: 5px solid @light-grey;
  }
  .search-filters {
    .language-filters ul, .category-filters ul, .type-filters ul {
      height: 125px;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-bottom: 15px;
    }

    li {
      display: -webkit-box;
    }
    .type-heading, .language-heading, .category-heading {
      font-weight: 500;
    }
    h5 {
      margin-top: 1px;
      font-weight: 400;
      color: @grey;
    }
    div {
      margin-left: 3px;
      ul {
        width: 180px;
      }
      span {
        font-size: 11px;
        margin-left: 30px;
        color: @side-text-link-light;
        cursor: pointer;
        position: absolute;
        right: 16px;
        padding-top: 4px;

        &:hover {
          color: @primary-color;
        }
      }
    }

  }
}

.squaredFour {
  //width: 20px;
  position: relative;
  //margin: 20px auto;
  h5 {
    margin-left: 10px;
  }
  label {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 3px;
    border: 1px solid #bfbfbf;
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 2px;
      border: 2.2px solid @grey;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
  input[type=checkbox][disabled] + label {
    &:hover {
      cursor: not-allowed;
    }
    &:hover::after {
      opacity: 0;
    }
  }
}

.two-column-grid {
  hr {
    color: @light-grey;
    margin-top: 0px;
  }
  .result {
    min-height: 182px;
  }
  margin: 30px 0px 20px 0px;
  overflow: visible;
  & > ul {
    overflow: visible;
    min-height: 400px;

    li {
      position: relative;
      padding: 0px;
      margin: 20px 0px 20px 0px;
      & > a {
        float: left;
        width: 290px;
        position: relative;
        padding-right: 30px;
      }
      & > a, & > .caption {
        display: block;
        padding-right: 10px;
      }

      .caption {
        .caption {
          h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            max-height: 58px;
            line-height: 29px;
            padding-top: 0px;
          }
        }
        position: relative;
        .dropdown.custom-dropdown {
          position: relative;
          z-index: 2;
          button {
            margin-right: 0px;
            border-style: solid;
            background-color: @lighter-grey;
            border-width: 1px;
            border-color: lightgrey;
            color: #b5b5b5;
            margin-top: 6px;
            padding: 1px 10px;
            font-size: 11px;
            border-radius: 3px;
            letter-spacing: 0.3px;
            font-weight: 400;
            text-transform: capitalize;
            &:hover {
              color: #444;
              border: 1px solid #444;
            }
          }
          &.open > .dropdown-menu {
            position: absolute;
            min-width: 105px;
            display: block;
            text-align: center;
            border-radius: 0;
            color: @grey;
            li {
              position: relative;
              font-size: 14px;
              padding: 10px 0px;
              cursor: pointer;
              margin: 2px;
              a {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                margin: 0px;
                padding: 0px;

              }
              a:hover {
                text-decoration: none;
              }
            }
            li:hover {
              background-color: transparent;
            }
          }
        }
        h3 {
          font-family: 'Amiri', serif;
          font-weight: 700;
          font-size: 22px;
          margin: 0px;
          line-height: 1.1;
          padding-top: 10px;
          color: #444444;
          letter-spacing: -0.7px;
          a {
            color: rgb(59, 59, 59);
          }
        }

        .comma-grey {
          color: #827c7c;
        }
        .margin-top-6px {
          margin-top: 6px !important;
          * {
            //margin-right: 20px;
            font-size: 14px;
            letter-spacing: 0.3px;
          }
        }
        .location-list {
          margin-right: 0px !important;
        }
        .date a:hover {
          text-decoration: underline;
          color: #FF3D08;
        }
      }
      .result-type {
        color: #FFF;
        background: rgba(0, 0, 0, 0.4);
        padding: 5px;
        position: absolute;
        left: 17px;
        bottom: 5px;
        font-size: 17px;
        z-index: 1;
      }
    }
  }

  .pagination {
    margin: 0px;
    li {
      a {
        color: #827c7c;
      }
      &.active a {
        color: #FFF;
      }
    }
  }

}

.search-result-pagination {
  li {
    a {
      color: #827c7c;
    }
    &.active a {
      color: #FFF;
    }
  }
}

// ends

@media (max-width: 1199px) {
  .two-column-grid {
    & > ul {
      li {
        padding-right: 15px;
        padding-left: 15px;
        margin: 20px 0px;
        .dropdown-menu {
          left: 0px !important;
        }
        & > a {
          float: none;
          width: 100%;
          padding: 0px;
          margin-bottom: 15px;

          .item-image {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .two-column-grid {
    ul {
      li {
        & > a, & > .caption {
          width: 100% !important;

          h3 {
            font-size: 18px;
            margin: 4px 2px;
          }
          .margin-top-20px {
            a, a span {
              font-size: 14px;
            }
          }
        }
      }
    }
    .pagination > li {
      display: inline-block;
    }
  }
}

@media (max-width: 500px) {
  #holder {
    overflow: visible !important;
    .pagination > .active > a {
      z-index: 0 !important;
    }

    .two-column-grid {
      .result {
        min-height: 372px;
        div {
          padding-left: 0;
          padding-right: 0;
        }
      }
      & > ul {
        min-height: auto;
        li {
          float: none !important;
          width: 100% !important;

          & > a, & > .caption {
            width: 100% !important;
            h3 {
              margin-top: 10px !important;
            }
          }
          .result-type {
            left: 4px;
          }
          .caption {
            .dropdown.custom-dropdown {
              .dropdown-toggle {
                padding: 5px 10px;
              }
              &.open > .dropdown-menu {
                li {
                  margin: 10px 0px;
                  padding: 20px 10px 5px 10px;
                }
              }
            }
          }
        }
      }

    }
  }
}

@media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
  .two-column-grid .result {
    min-height: 345px;
  }
}

