{% load i18n static wagtailimages_tags %}
{% load i18n core_filters %}
{% load filters %}

    <section class="two-column-grid">
        <ul>
        {% for article in articles %}
          <li class="result item col-lg-6 col-md-4 col-sm-6 col-xs-12">
          <div class="col-lg-6">
            <a href="{{ article.get_absolute_url }}">
                <div class="show-content-type">
                    {% include "includes/content_type.html" with type=article|get_type %}
                </div>
              {% include "includes/article_listing_image.html" with specific=article alignment_class='full-image-center listing-image'%}
            </a>
          </div>
                <div class="caption col-lg-6">
                    {% include "article/includes/default_atom.html" with article=article%}

                   <div class="margin-top-20px date">
                       {% if article.original_published_date %}
                            {% include "../../article/templates/article/includes/display_date.html" with display_date=article.original_published_date %}
                       {% else %}
                            {% include "../../article/templates/article/includes/display_date.html" with display_date=article.article.first_published_at %}
                       {% endif %}
                   {% with article.get_translation as article_translations %}
                       {% if article_translations|length > 1 %}
                        <div class="dropdown custom-dropdown">
                            <button class="dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ article_translations | length }} languages
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for translation in article_translations %}
                                    <li><a href="{{ translation.get_absolute_url}}">{{ translation.get_language_display }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                   {% endwith %}
                   </div>
                </div>
          </li>

              {% empty %}
            <div class="col-lg-12">
                <p class="bg-danger font-l pad-20px">
                    {% if error_message %}
                        {{ error_message }}
                    {% else %}
                        {% trans "No articles available for " %}
                        {% for lang in LANGUAGES %}
                        {% if request.GET.lang == lang.0 %}
                        {% blocktrans with tlang=lang.1 %}{{ tlang }}{% endblocktrans %}
                        {% trans " in this category."%}
                        {% endif %}
                        {% endfor %}
                        Please help us
                        <a class="font-l" href="{% url "contribute" slug="contribute" %}">
                        <span itemprop="name">{% trans "translate." %}</span>
                        </a>
                    {% endif %}
                    {{ tlang }}
                </p>
            </div>
          {% endfor %}
        </ul>
    </section>
{%if articles %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paginator-bottom">
                {% include "includes/paginator.html" with results=articles %}
    </div>
{% endif %}
