{% load i18n wagtailcore_tags %}

<div class="author-info">
    <div class="container">
        {% for author in authors %}
            <div class="row author-block">
                <div class="col-lg-3">
                    <div class="author-name">{{ author.name }}</div>
                    {% if author.twitter_username %}
                        <div>
                            <i class="fa fa-twitter icon-handle"></i>
                            <div class="handle">
                                <a href="https://twitter.com/{{ author.twitter_handle }}">{{ author.twitter_username }}</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if author.facebook_username %}
                        <div>
                            <i class="fa fa-facebook icon-handle"></i>
                            <div class="handle">
                                <a href="https://www.facebook.com/{{ author.facebook_username }}">{{ author.facebook_username }}</a>
                            </div>
                        </div>
                    {% endif %}

                    {% if author.email %}
                        <div>
                            <i class="fa fa-envelope icon-handle"></i>
                            <div class="handle">{{ author.email }}</div>
                        </div>
                    {% endif %}

                    {% if author.website %}
                        <div>
                            <i class="glyphicon glyphicon-globe icon-handle"></i>
                            <div class="handle"><a href="{{ author.website }}" target="_blank">{{ author.website }}</a></div>
                        </div>
                    {% endif %}
                    <div>
                    {% with request.build_absolute_uri as url and author.name as title %}
                            <ul>
                                <li class="social-icon" data-url="{{ author.get_absolute_url }}">
                                    <span class="banner-label">{% trans "Share" %}</span>
                                    <a href="https://twitter.com/intent/tweet?url=http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{% url "author-detail" slug=author.slug %}&amp;hashtags=RuralIndiaOnline&amp;via=PARINetwork" target="_blank" class="link-light">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a target="_blank"
                                       href="https://facebook.com/sharer.php?u=http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ author.get_absolute_url|urlencode }}&t={{ title|urlencode }}" class="link-light">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                            </ul>
                        {% endwith %}
                    </div>
                </div>
                <div class="col-lg-9 margin-btm-30px">
                    {% if author.bio %}
                        {% if show_translated_bio %}
                            <p class="author-bio"> {{ author.bio }} </p>
                        {% else %}
                            <p class="author-bio"> {{ author.bio_en }} </p>
                        {% endif %}
                    {% endif %}
                    {%  if show_other_stories %}
                    <a href="{{ author.get_absolute_url }}" class="btn primary">{% blocktrans trimmed %} Other stories by {{ author.name }} {% endblocktrans %}</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>