{% load i18n wagtailcore_tags %}
<div class="caption">

    <h3>
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
    </h3>
    <div class="margin-top-20px">
        {% if article.authors.count %}
        {% for author in article.authors.all %}<a class="link-dark-primary font-l" href="{% url "author-detail" slug=author.slug %}">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
        {% endif %}
    </div>
    <div class="margin-top-20px">
        {% for location in article.locations.all %}<a class="link-dark font-m" href="{% url "location-detail" slug=location.slug %}">{{ location.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
    </div>

</div>
