{% load i18n static wagtailimages_tags %}
{% if LANGUAGES %}
    <div class="col-lg-12 margin-btm-30px filter-lang">
        <div class="row">
            <div class="col-lg-4">
                <span class="filter-label">{% trans "Languages" %}:</span>
                <span class="filter-value">
                  {% include "includes/language_select.html" with select_class="pull-left" %}
                  <i class="Chevron"></i>
            </span>
            </div>
        </div>
    </div>
{% endif %}

{% for article in articles %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 grid-list">
        <div class="grid-container">
            <div class="gallery-image-container">
                <a href="{{ article.get_absolute_url }}">
                    {% if article.featured_image %}{% image article.featured_image fill-270x270 as featured_image %}
                    <img class="img-responsive" src="{{ featured_image.url }}" alt="{{ article.featured_image.alt_text }}">
                    {% else %}
                    <img class="img-responsive" src="{{ STATIC_URL }}img/default_featured_image.png" alt="{{ article.title }}" width="270">
                    {% endif %}
                </a>
            </div>
            {% include "article/includes/default_atom.html" %}

        </div>
        </div>
    {% empty %}
        <div class="col-lg-12">
    <p class="bg-danger font-l pad-20px">
        {% trans "No articles available for " %}
        {% for lang in LANGUAGES %}
        {% if request.GET.lang == lang.0 %}
        {% blocktrans with tlang=lang.1 %} {{ tlang }} .{% endblocktrans %}
        {% endif %}
        {% endfor %}
        {% trans "Please help us" %}
        <a class="font-l" href="{% url "contribute" slug="contribute" %}">
        <span itemprop="name">{% trans "translate." %}</span>
        </a>
        {{ tlang }}
    </p>
</div>
    {% endfor %}
{%if articles %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% include "includes/paginator.html" with results=articles %}
    </div>
{% endif %}
