<div class="social" data-url="{{ url }}">
    <a target="_blank" href="http://facebook.com/sharer.php?u={{ url }}&amp;t={{ title|urlencode }}"><div class="badge facebook"><i class="fab fa-facebook-square"></i></div></a>
    
    <a target="_blank" href="http://twitter.com/home?status={{ title }}+{{ url }}"><div class="badge twitter"><i class="fab fa-twitter-square"></i></div></a>
    
    <a target="_blank" href="https://plus.google.com/share?url={{ url }}"><div class="badge google-plus"><i class="fab fa-google-plus-square"></i></div></a>
</div>