{% with request.build_absolute_uri as url and item.title as title %}
    <div class="social" data-url="{{ url }}">
        <a target="_blank" href="https://facebook.com/sharer.php?u={{ url|urlencode }}&t={{ title|urlencode }}"><div class="badge facebook"><i class="fab fa-facebook-square"></i></div></a>

        <a target="_blank" href="https://twitter.com/home?status={{ title|urlencode }}+{{ url|urlencode }}"><div class="badge twitter"><i class="fab fa-twitter-square"></i></div></a>
        
        <a target="_blank" href="whatsapp://send?text={{ title|urlencode }}-%20{{ url|urlencode }}"><div class="hidden badge whatsapp"><i class="fab fa-whatsapp"></i></div></a>
    </div>
{% endwith %}
