body {
  font-family: 'Fira Sans', 'Open Sans', sans-serif;
  background: @bg-body;
}

h1, h2, h3 {
  font-family: 'Crete Round', serif;
}

h4, h5, h6 {
  font-family: 'Fira Sans', 'Open Sans', sans-serif;
}
a{
  color: @link;
}
ul{

}