.font-size(@sizeValue) {
  @pxValue: @sizeValue;
  @remValue: (@sizeValue / 12);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
}

.appearance (@value: none) {
  -webkit-appearance:     @value;
  -moz-appearance:        @value;
  -ms-appearance:         @value;
  -o-appearance:          @value;
  appearance:             @value;
}

.transition(@duration:0.2s, @ease:ease-out, @property: all) {
  -webkit-transition: @property @duration @ease;
  -moz-transition: @property  @duration @ease;
  -o-transition: @property  @duration @ease;
  transition: @property @duration @ease;
}

.box-sizing(@sizing: border-box) {
  -ms-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing;
}

.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  .background-clip(padding-box);
}

.background-clip(@argument: padding-box) {
  -moz-background-clip: @argument;
  -webkit-background-clip: @argument;
  background-clip: @argument;
}