{% extends "base.html" %}

{% load i18n wagtailcore_tags %}
{% block meta_title %}{% trans "The story of PARI" %}{% endblock %}
{% block meta_description %} {% blocktrans %}Rural India — a living journal, a breathing archive. Learn how PARI came to exist and what role it hopes to serve in the Indian media landscape.{% endblocktrans %}{% endblock %}


{% block opengraph_block %}
    {% include "core/includes/media_sharing_meta.html" with title="Rural India: a living journal, a breathing archive" description="Can a project’s success be judged on the basis of its never being completed? Yes, if it’s a living archive of the world’s most complex countryside. Rural India is in many ways the most diverse part of the planet. Its 833 million people include distinct societies speaking well over 700 languages, some of them thousands of years old. The People’s Linguistic Survey of India tells us the country as a whole speaks some 780 languages and uses 86 different scripts. But in terms of provision for schooling up to Class 7, just 4 per cent of those 780 are covered. Most Indian languages are mainly spoken by people in rural India." url=request.get_full_path type="url" image_url=STATIC_URL|add:"img/farm_woman_bend_sharing.jpg"%}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/about.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/forms/form-elements.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/static_page.less">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block main %}
<div class="about-page">
    <div class="row">
        <div class="col-lg-12">
            <div class="banner-container">
                <div class="cover-image"></div>
                <div class="banner-content container" itemscope itemtype="http://schema.org/headline">
                    <h2 itemprop="headline"> {% trans "Rural India: a living journal, a breathing archive" %} </h2>
                    <h4> {% trans "The everyday lives of everyday people" %}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main-panel">
            <div>
                <p>
                    {% blocktrans trimmed %}Can a project’s success be judged on the basis of its never being completed? Yes, if it’s a
                    living archive of the world’s most complex countryside. Rural India is in many ways the most
                    diverse part of the planet. Its 833 million people include distinct societies speaking well over
                    700 languages, some of them thousands of years old. The People’s Linguistic Survey of India
                    tells us the country as a whole speaks some 780 languages and uses 86 different scripts.
                    But in terms of provision for schooling up to Class 7, just 4 per cent of those 780 are
                    covered. Most Indian languages are mainly spoken by people in rural India.{% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}The Eighth Schedule of the Constitution of India lists 22 languages whose development the
                    country’s government is obliged to promote. Yet, there are states whose official languages fall
                    outside those 22, like Khasi and Garo of Meghalaya. Each of six Indian languages is spoken by 50
                    million people or more. Three are spoken by 80 million or more. One, by close to 500 million. At
                    the other end of the spectrum are unique tribal languages spoken by as few as 4,000 people, some
                    by even less. The eastern state of Odisha alone is home to around 44 tribal languages. The
                    Linguistic Survey reckons that close to 220 languages have died in the past 50 years. Saimar in
                    Tripura is down its last seven speakers.{% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}The same diversity characterises rural India’s occupations, arts and crafts, culture,
                    literature, legend, transportation, and other fields. As the Indian countryside rushes through
                    an extremely painful transformation, many of these features disappear, leaving us poorer. There
                    are, for instance, probably more schools and styles of weaving in India than in any other single
                    nation. Many of these traditional weaving communities face real collapse, which will rob the
                    world of some of its greatest gifts. Some unique occupations – professional storytellers, epic
                    poem singers – are also in danger of extinction.{% endblocktrans %}
                </p>
                <p>
                    {% url 'album-detail'  slug='toddy-tapper' as toddy_url %}
                    {% url 'album-detail' slug='when-meenakshi-beats-a-pot-3000-times' as potters_url %}
                    {% blocktrans trimmed %}Then there are professions known only to a few nations. Like <a href={{ toddy_url }}>toddy-tappers who climb 50 palm
                    trees daily</a>, each one thrice, in season. From the sap they make palm jaggery or a fermented
                    liquor called toddy. In peak season, a toddy tapper climbs a height greater than New York’s
                    Empire State Building – every single day. But so many occupations are in collapse. <a href={{ potters_url }}>Potters</a>,
                    metal workers and millions of other highly skilled craftspeople are rapidly losing their
                    livelihoods.{% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}Much of what makes the countryside unique could be gone in 20-30 years. Without any systematic
                    record, visual or oral, to educate us – let alone motivate us – to save this incredible
                    diversity. We are losing worlds and voices within rural India of which future generations will
                    know little or nothing. Even as the present one steadily sheds its own links with those worlds.{% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}There is surely much in rural India that should die. Much that is tyrannical, oppressive,
                    regressive and brutal – and which must go. Untouchability, feudalism, bonded labour, extreme
                    caste and gender oppression and exploitation, land grab and more. The tragedy though is that the
                    nature of the transformation underway more often tends to bolster the regressive and the
                    barbaric, while undermining the best and the diverse. That, too, will be documented here.{% endblocktrans %}
                </p>
            </div>
            <div>
                <h2 class="section-sub-header">{% trans "THIS IS WHERE PARI COMES IN" %}</h2>
                {% url 'category-list' as category_list %}
                {% url 'resource-list' as resource_list %}
                {% url "gallery-detail" slug="videozone" as gallery_detail_video %}
                {% url "gallery-detail" slug="audiozone" as gallery_detail_audio %}
                {% url 'static_page' slug='copyright' as copyright %}
                <p>{% blocktrans trimmed %}PARI is both a living journal and an archive. It will generate and host reporting on the
                    countryside that is current and contemporary, while also creating a database of already
                    published <a href={{ category_list }}>stories</a>, <a href={{ resource_list }}>reports</a>, <a href={{ gallery_detail_video }}>videos</a> and <a href={{ gallery_detail_audio }}>audios</a> from as many sources as we can. All of PARI’s own
                    content comes under the <a href={{ copyright }}>Creative Commons </a>
                    and the site is free to access. And anyone can
                    contribute to PARI. Write for us, shoot for us, record for us – your material is welcome so long
                    as it meets the standards of this site and falls within our mandate: the everyday lives of
                    everyday people.{% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}The use of many libraries and museums in India has fallen, more so in the last 20 years. This
                    was compensated by the fact that what you can find in our museums, you could also find on our
                    streets: the same miniature painting schools, the same traditions of sculpture. Now those too
                    are fading. Library and museum visits amongst the young are more rare than routine. However,
                    there is one place future generations the world over, including Indians, will visit more and
                    more: the Net. Internet access, particularly broadband, is low in India, but it is expanding. It
                    is the right place to build – as a public resource – a living, breathing journal and an archive
                    aimed at recording people’s lives. The People’s Archive of Rural India. Many worlds, one
                    website. More voices and distinct languages, we hope, than have ever met on one site.{% endblocktrans %}

                </p>
                <p>
                    {% blocktrans trimmed %}It means an undertaking unprecedented in scale and scope, utilising myriad forms of media in
                    audio, visual and text platforms. One where the stories, the work, the activity, the histories
                    are narrated, as far as possible, as far as we can manage, by rural Indians themselves. By
                    tea-pickers amidst the fields. By fishermen out at sea. By women paddy transplanters singing at
                    work, or by traditional storytellers. By Khalasi men using centuries-old methods to launch heavy
                    ships to sea without forklifts and cranes. In short, by everyday people talking about
                    themselves, their labour and their lives – talking to us about a world we mostly fail to see.{% endblocktrans %}
                </p>
            </div>
            <div>
                <h3 class="section-sub-header">{% trans "WHAT’S ON PARI" %}</h3>
                <p>
                    {% blocktrans trimmed %}PARI hosts and combines video, photo, audio and text archives. There is content we already have
                    and stories we are generating. Both take time and effort to organise and load. The videos
                    generated specifically for PARI record the lives and livelihoods of poor and everyday Indians.
                    For example, a woman agricultural labourer takes you through her life, her work, her labour
                    techniques, family, kitchen, whatever she considers important. Typically, the first credit in
                    such a film goes to her; the second to her village/community. The director comes third. PARI
                    respects her ownership of her story. And it is in our mandate to search for ways in which the
                    very people we cover, rural Indians, will also have access to, and a say in, the making of this
                    site. We're also trying to create subtitling in multiple Indian languages for each documentary we
                    generate.{% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}The site's <a href="https://soundcloud.com/ruralindia">AudioZone</a> will, over time, hold thousands of clips – conversations, songs, poetry –
                    in every Indian language that we can record. We started with the Grindmill Songs Project – folk
                    songs by women in Maharashtra’s villages. More than 100,000 songs will eventually be hosted on
                    PARI as an archive of a phenomenal poetic-musical legacy.{% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}We also focus on education and learning. Teaching and research materials, including textbooks,
                    will increasingly move online in the next few years – that process is already on in some parts
                    of the world.  PARI aims to help create informative and lively resources for students, teachers,
                    schools, colleges and universities. Done right, it could mean ‘textbooks’ or teaching material
                    that can be added to, amended, updated or widened. As broadband access grows, it should also
                    mean lower costs for many students, as PARI is a free-access-to-public site.{% endblocktrans %}
                </p>
                <p>
                    {% url 'resource-list' as resource_list %}
                    {% blocktrans trimmed %}PARI is also building a <a href={{ resource_list }}>Resources</a> section, where we aim to put up (in full text and not just via
                    links), all official (and unofficial but credible) reports related to rural India. For instance,
                    every report of the National Commission for Enterprises in the Unorganised Sector, reports of
                    the Planning Commission (now NITI Aayog) and ministries, the United Nations and much more.
                    Researchers will not have to surf multiple sites to access important documents and studies from
                    different sources.{% endblocktrans %}
                </p>
            </div>
            <div>
                <h4 class="category-section-header">{% trans "CATEGORIES" %}</h4>
                <p>
                    {% blocktrans trimmed %}The number of categories you see in the archive are not fixed or final. We will also, for
                    example, include livestock and wildlife – and many others, brick by brick. Here’s a look at just
                    three of very many categories on PARI:{% endblocktrans %}
                </p>
                <div class="category clearfix">
                    <div class="col-lg-5">
                        <img class=category-thumbanail src="{{ STATIC_URL }}img/category_things_we_do.jpg" alt="Things we do"/>
                    </div>
                    <div class="col-lg-7">
                        <h5 class="category-section-sub-header">{% trans "Things we do" %}</h5>
                            <p>
                                {% blocktrans trimmed %}This leads you into the complex world of rural Indian labour. To landless workers in the fields,
                                to farmers and woodcutters, to brick-makers and blacksmiths. From men who push 200 kilograms of
                                coal on bicycles across 40 kilometres to earn a few rupees, to women who scavenge coal at great
                                risk from giant waste dumps. And migrant labourers who travel thousands of kilometres each year
                                in search of work, never staying anywhere for six months, not even in their own village homes.{% endblocktrans %}
                            </p>
                            <p>
                                {% blocktrans trimmed %}Apart from covering their stories we are also photographing and filming the tools and implements
                                that people use, many of them sure to disappear over the next few years.{% endblocktrans %}
                            </p>
                        <button class="primary" onclick="location.href='{%  url 'story-detail' slug="things-we-do" %}'">{% trans "Explore" %}</button>
                    </div>
                </div>

                <div class="category clearfix">
                    <div class="col-lg-5">
                        <img class=category-thumbanail src="{{ STATIC_URL }}img/category_things_we_make.jpg" alt="Things we make"/>
                    </div>
                    <div class="col-lg-7">
                        <h5 class="category-section-sub-header">{% trans "Things we make" %}</h5>
                        <p>
                            {% blocktrans trimmed %}Here, PARI covers arts and crafts, artists and craftspersons. The country’s countless
                            schools
                            and
                            skills and traditions, and their products. In this category, you will find India’s ‘everyday
                            museums’ – miniature painting schools, rural traditions of sculpture, exquisite weaving
                            techniques – many of which are slowly fading away and might soon vanish completely.{% endblocktrans %}
                        </p>
                        <button class="primary" onclick="location.href='{% url 'story-detail' slug="things-we-make" %}'">{% trans "Explore" %}</button>
                    </div>
                </div>
                <div class="category clearfix">
                    <div class="col-lg-5">
                        <img class=category-thumbanail src="{{ STATIC_URL }}img/category_footsoldiers_of_freedom.jpg" alt="Foot Soldiers Of Freedom"/>
                    </div>
                    <div class="col-lg-7">
                        <h5 class="category-section-sub-header">{% trans "Foot-soldiers of freedom" %}</h5>
                        <p>
                            {% blocktrans trimmed %}The last living freedom fighters of rural India, most now in their 90s. People who spent
                            many
                            years in prison fighting for the country’s freedom from colonial rule and to establish an
                            independent, democratic Indian nation. In the next decade there will be none left to tell
                            the
                            tale.{% endblocktrans %}
                        </p>
                        <button class="primary" onclick="location.href='{% url 'story-detail' slug="foot-soldiers-of-freedom" %}'">{% trans "Explore" %}</button>
                    </div>
                </div>
                <p>
                    {% blocktrans trimmed %}While we constantly try to build and expand a gene pool of contributors, we do exercise
                    editorial selection and quality control. The use of experienced contributors with a credible
                    record is important to this work, of course. Most of these will be journalists, writers and
                    authors. But not all. Anyone who is interested can participate, write for us, or shoot even on
                    cell phones with decent video quality – if the material falls within the mandate of the archive.
                    You need not be a professional journalist.{% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}Remember, the narratives that make up the overwhelming share of PARI come from rural Indians
                    themselves, not from the professional media persons who help record their story. Some of those
                    rural Indians will shoot their own stories. And the stories will be renewed and reported — as
                    long as there is a countryside.{% endblocktrans %}
                </p>
                <p class="top-bordered"></p>
                <p>
                    {% blocktrans trimmed %}Public access to PARI is free. The site is run by the CounterMedia Trust. An informal network
                    supports and funds the trust and its primary activities through volunteer work, donations and
                    direct personal contributions. This voluntary network of reporters, professional filmmakers,
                    film editors, photographers, documentary filmmakers and journalists (television, online and
                    print), represents PARI's biggest asset. Besides, academics, teachers, researchers, techies and
                    professionals from many other fields have also donated their expertise to design the site and
                    establish PARI.{% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}PARI needs money to create content beyond what volunteers do for us, and we aim at crowd funding
                    to generate the resources. Though our call for donations is titled ‘Cover your country’, rural
                    India can never be fully 'covered' and the content on this site consists of fragments of many
                    giant realities. We can expand our coverage of those many worlds only with the widest possible
                    public participation.{% endblocktrans %}
                </p>
                <p class="author">
                    P. Sainath <br>
                    {% trans "Founder Editor, PARI" %}
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 side-panel">
            <div class="quote-section">
                <p class="quote">
                    "{% trans "This is an insane project – and a wonderful one" %}"
                </p>
                <div class="quote-author">
                    {% trans "Neville Roy Singham, Chairman, ThoughtWorks Inc." %}
                </div>
                <p class="quote">
                    "{% trans "There's a pleasure sure to being mad, that only madmen know" %}"
                </p>
                <div class="quote-author">
                    {% trans "John Dryden in ‘The Spanish Friar’ (1681)" %}
                </div>
            </div>
            <div class="section">
                <p class="heading">{% trans "CONSIDER DONATING TO PARI" %}</p>
                <p class="sub-heading">{% trans "Donate money" %}</p>
                <p class="content">
                    {% blocktrans trimmed %}You can send in donations using a range of payment methods. All donations made to
                    the <b>CounterMedia
                    Trust</b> are eligible for exemption under Section 80G of the Income Tax Act, 1961.{% endblocktrans %}
                </p>
                <button class="primary" onclick="location.href='{% url 'donate_form' %}'">{% trans "Send donation" %}</button>
            </div>
            <div class="section">
                <p class="heading">{% trans "CONTRIBUTE TO PARI" %}</p>
                <p class="content">
                    {% blocktrans trimmed %}Anyone can contribute to PARI. Write for us, shoot for us, record, translate, research, edit a
                    video
                    for us – your material is welcome so long as it meets the standards of this site and falls
                    within
                    our mandate: the everyday lives of everyday people.{% endblocktrans %}
                </p>
                <button class="primary" onclick="location.href='{% url 'contribute' slug="contribute" %}'">{% trans "Learn more" %}</button>
            </div>
            <div class="section">
                <p class="heading">{% trans "PARI AND EDUCATION" %}</p>
                <p class="content">
                    {% blocktrans trimmed %}At PARI, we’re writing the textbooks of the future. That’s happening with the numerous stories,
                    photos, videos and audio material going up every week on our site. Over time, quite a bit of
                    that
                    will be produced by students and teachers themselves.{% endblocktrans %}
                </p>
                <button class="primary" onclick="location.href='{% url 'pari_teachers_students' %}'">{% trans "Learn more" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}