{% extends "base.html" %}
{% load i18n wagtailcore_tags %}
{% block meta_title %}{{ page.title }}{% endblock %}
{% block meta_description %}PARI Acknowledgements page{% endblock %}

{% block extra_css %}
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/acknowledgements.less">
{% endblock %}

{% block main %}
<div id="acknowledgements">
    <div class="content container">
        <h1>Acknowledgments</h1>
        <p>It was ThoughtWorks Founder Chairman Neville Roy Singham who made me believe that PARI in its present form
            was possible. Roy thought the project was nuts, but loved its audacity. Drawing from a (physical) photo
            exhibition of mine in 2011, he laid out the possibilities of a fully curated photo exhibition — and more
            —online. We were also able to use the original text panels as well, yet . You can see the outcome of that
            idea on: Visible Work, Invisible Women.</p>
        <br>
        <p>At every stage, subsequently, Roy’s ideas and energy pushed the idea of PARI forward. No acknowledgement of
            his contribution can be strong enough.</p>
        <br>
        <p>When PARI was still a fledgling notion, the contribution of Prof. Ananya Mukherjee of York University,
            Toronto, to its ideas, concepts and clarity was critical. The strong education-related component of PARI
            owes much to her influence.</p>
        <br>
        <p>Volunteer techies from ThoughtWorks India made PARI the platform happen. Without them, none of this would
            have materialised. Many helped in immeasurable ways, but Manoj Mahalingam (now independent) and Satish
            Viswanathan played key roles in getting us off the ground. Siddharth Adelkar was and is central to our
            overall effort.</p>
        <br>
        <p>Scores of others helped in big and many ways.</p>

        <hr/>

        <div>
            <p class="acknowledgements-heading">CORE GROUP / CONTENT / SUPPORT / ADMIN</p>
            <div class="acknowledgements-cols row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p>Namita Waikar</p>
                    <p>Aparna Karthikeyan</p>
                    <p>Revathi R</p>
                    <p>Deepa Bhatia</p>
                    <p>Shalini Singh</p>
                    <p>Sweta Daga</p>
                    <p>Nagarjun Kandukuru</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p>Amiya Pani</p>
                    <p>Kaushik Nath</p>
                    <p>Guruji Swetachandran</p>
                    <p>Naveen Roy Benedict</p>
                    <p>Sharmila Joshi</p>
                    <p>Akshara Prabhakar</p>
                    <p>Parikshhit Jha</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p>Jaideep Hardikar</p>
                    <p>Chitrangada Choudhury</p>
                    <p>Purushottam Thakur</p>
                    <p>Naveen Vasudevan</p>
                    <p>Mathew Cherian</p>
                    <p>Amita Josepb</p>
                    <p>Onkar Mandlekar</p>
                </div>
            </div>
        </div>
        <hr/>
        <div>

            <div class="acknowledgements-cols row">

                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p class="acknowledgements-heading">SOFTWARE DEVELOPMENT TEAM</p>
                    <p>Jayakumar Chinnappan (Tech lead, Final Lap)</p>
                    <p>Manoj S Mahalingam (Tech lead)</p>
                    <p>Suganthi Krishnavathi T</p>
                    <p>Aruna Shanmugakumar</p>
                    <p>Jeyakar J Vaiz</p>
                    <p>Thejaswi Puthraya</p>
                    <p>Arvind Ram A</p>
                    <p>Devarajan N</p>
                    <p>Gowri Jayalakshmi R</p>
                    <p>Anilkumar Kodi</p>
                    <p>Dinesh Kumar</p>
                    <p>Raj Kumar</p>
                    <p>Gaurav Manoharrav Ingalkar</p>
                    <p>Mohit Shankarrao Pote</p>
                    <p>Ram Ramalingam</p>
                    <p>Mubashar Nadeem Sibgathullah</p>
                    <p>Vivek Singh</p>
                    <p>Senthil V S</p>
                    <p>Satish Kumar Viswanathan</p>
                    <p>Balachander Swaminathan</p>
                    <p>Pradipta Kundu</p>
                    <p>Gopinath Jayabalan</p>
                    <p>Ramalingam Singaravel</p>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p class="acknowledgements-heading">SWECHCHHA TECHNOLOGY TEAM</p>
                    <p>Praveen Chandrahas</p>
                    <p>Bhuvan Krishna</p>
                    <p>Kiran Chandra</p>
                    <p class="acknowledgements-heading">DIGITAL ARCHIVIST </p>
                    <p>Venkataraaman S</p>
                    <p class="acknowledgements-heading">LOGISTICS TEAM</p>
                    <p>Poornima R S</p>
                    <p>T Karthik</p>
                    <p>Ratnakara</p>
                    <p>G Bhaskar</p>
                    <p class="acknowledgements-heading">LEGAL TEAM</p>
                    <p>Rina Kamath</p>
                    <p>Rishab Bailey</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p class="acknowledgements-heading">TRANSLATORS</p>
                    <p>Raman Kansal</p>
                    <p>Soumya Ghosh</p>
                    <p>Kashi Vishwanatha Reddy</p>
                    <p>Pranathi Birudugadda</p>
                    <p>Sriram Subramanian</p>
                    <p>Pallavi Mishra</p>
                    <p>Sumanth Suresh Nagadavalli</p>
                    <p>Bhumika Srinivas</p>
                    <p>Divya Sarvanakumar</p>
                    <p>Neeraja Arjun</p>
                    <p>Charukesi</p>
                    <p>Usha Turaga-Revelli</p>
                </div>
            </div>
            <hr/>


        </div>
        <p>A very special thanks to P.R. Gandhi, Kartik Shah and Eesha Thakkar of P.R. Gandhi & Co, Mumbai and Prakash Shah of Delhi for their invaluable assistance.</p>
        <br>
        <p>We are most indebted to the volunteers, journalists, film makers, other contributors who gifted us so much time and labour. They are too many in number to list here. There may also be a couple of names we’ve missed out by accident for which we beg pardon. There are also some whom we cannot name because, alas, of where they’re working.</p>
    </div>
</div>
{% endblock %}
