{% extends "base.html" %}
{% load i18n wagtailcore_tags %}
{% block meta_title %}{{ page.title }}{% endblock %}
{% block meta_description %}PARI Acknowledgements page{% endblock %}

{% block extra_css %}
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/acknowledgements.less">
{% endblock %}

{% block main %}
<div id="acknowledgements">
    <div class="content container">
        <h1>Acknowledgments</h1>
        <p>It was the Founder Chairman of <a href="https://www.thoughtworks.com/" target="_blank">ThoughtWorks</a>,
            Neville Roy Singham, who made me believe that the People’s Archive of Rural India in its present form was
            possible. Roy thought the project was nuts, but loved its audacity. Drawing from a (physical) photo
            exhibition of mine in 2011, he laid out the possibilities of a fully curated photo exhibition – and more –
            online. We were able to use the original text panels online too, and you can see the outcome of that effort
            on <a href="{% url 'story-detail' slug='visible-work-invisible-women' %}">Visible
                Work, Invisible Women</a>.</p>
        <br>
        <p>At every stage, subsequently, Roy’s ideas and energy pushed forward the making of PARI. No acknowledgement of
            his contribution can be strong enough.</p>
        <br>
        <p>When PARI was still a fledgling notion, Prof. Ananya Mukherjee-Reed, now Dean of Faculty, Liberal Arts &
            Professional Studies of York University, Toronto, made a critical contribution to its ideas, concepts and
            clarity. The strong education-related component of PARI owes a great deal to her influence.</p>
        <br>
        <p>Volunteer techies from ThoughtWorks India made the PARI platform possible. Without them, none of this would
            have materialised. Many helped in immeasurable ways, but Manoj Mahalingam (then with TW) and Satish
            Viswanathan played key roles in getting us off the ground. Siddharth Adelkar was and is central to our
            overall effort. </p>
        <br>
        <p>As PARI enters Phase 2 of its existence, we have Aditya Dipankar making an astonishing difference to the
            website’s design and appearance. We also have the inimitable Thejaswi Puthraya who is there for us, from
            before the launch, on all matters tech and some beyond.</p>
        <br>
        <p>Scores of others helped in big and many ways:</p>

        <hr/>


        <div>

            <div class="acknowledgements-cols row">

                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p class="acknowledgements-heading">Software Development Team: Launch Phase</p>

                    <p>Anilkumar Kodi </p>
                    <p>Aruna Shanmugakumar</p>
                    <p>Arvind Ram A.</p>
                    <p>Balachander Swaminathan</p>
                    <p>Devarajan N.</p>
                    <p>Dinesh Kumar</p>
                    <p>Gaurav Manoharrav Ingalkar</p>
                    <p>Gopinath Jayabalan</p>
                    <p>Gowri Jayalakshmi R.</p>
                    <p>Jayakumar Chinnappan (Tech Lead, final lap)</p>
                    <p>Jeyakar J. Vaiz</p>
                    <p>Manoj S. Mahalingam (Tech Lead)</p>
                    <p>Mohit Shankarrao Pote </p>
                    <p>Mubashar Nadeem Sibgathullah </p>
                    <p>Pradipta Kundu</p>
                    <p>Raj Kumar </p>
                    <p>Ram Ramalingam</p>
                    <p>Ramalingam Singaravel</p>
                    <p>Satish Viswanathan</p>
                    <p>Senthil V. S. </p>
                    <p>Suganthi Krishnavathi T. </p>
                    <p>Thejaswi Puthraya </p>
                    <p>Vivek Singh </p>

                </div>

                <div class="col-sm-12 col-md-4 col-lg-4">

                    <p class="acknowledgements-heading">Logistics Team</p>
                    <p>Baskar G.</p>
                    <p>Karthik T. </p>
                    <p>Poornima R. S.</p>
                    <p>Ratnakar Nath</p>

                    <p class="acknowledgements-heading">Swecha Technology Team</p>
                    <p>Bhuvan Krishna</p>
                    <p>Kiran Chandra</p>
                    <p>Praveen Chandrahas</p>


                    <p class="acknowledgements-heading">Digital Archivist </p>
                    <p>Venkataraaman S.</p>


                    <p class="acknowledgements-heading">Software Development Team: Design Phase</p>
                    <p>Deepan Rajkumar R.</p>
                    <p>Deepthi R. (Tech Lead)</p>
                    <p> Gayathri M. (Team Lead)</p>
                    <p>Jayakumar C. (Tech Lead)</p>
                    <p>Lokesh S.</p>
                    <p> Nimesh P.</p>
                    <p>Olivia Waring</p>
                    <p>Sankar P.</p>
                    <p>Satish Viswanathan</p>
                    <p> Venkatesa Madhan </p>
                    <p>Vidhyalakshmi S.</p>
                    <p>Vinoth Kumar R.</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">

                    <p class="acknowledgements-heading">Inception Team</p>
                    <p>David Siang Fong Oh</p>
                    <p>Kartik Kannan</p>
                    <p>Koundinya Goparaju</p>
                    <p>Nikhileshwar Gamedhar</p>
                    <p>Ruchi Mahajan</p>
                    <p>Shashank Raghavendra</p>

                    <p class="acknowledgements-heading">Design Team</p>
                    <p>Aditya Dipankar (Team Lead)</p>
                    <p>Gaurav Sharma</p>
                    <p>Samir Bellare</p>
                    <p>Shiraz Iqbal</p>
                    <p>Suvani Suri</p>


                    <p class="acknowledgements-heading">Legal Advisers</p>
                    <p>Rina Kamath</p>
                    <p>Rishab Bailey</p>


                </div>
            </div>
            <hr/>
            <div>
                <p class="acknowledgements-heading">Translators</p>
                <div class="acknowledgements-cols row">

                    <div class="col-sm-12 col-md-4 col-lg-4">

                        <p class="acknowledgements-heading">Crazy Frog Media Team</p>
                        <p>Mohan G.N. (Lead)</p>
                        <p>Prasad Naik</p>
                        <p>Rajaram Tallur</p>
                        <p>Sandhyarani N.</p>
                        <p>Santosh Tamprapani</p>
                        <p>Shama Nandibetta</p>

                        <p class="acknowledgements-heading">Other Translators</p>
                        <p>Chandan Dey</p>
                        <p>Chinta T. K.</p>


                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <p>Debasmita Bhowmik</p>
                        <p>Hemant Shah</p>
                        <p>Jyotsna V.</p>
                        <p>Medha Kale</p>
                        <p>Naren H.R.</p>
                        <p>Nibha Rani Roy</p>
                        <p>Pallavi Kulkarni</p>
                        <p>Pallavi Malshe</p>
                        <p>Pushpa Kandaswamy</p>
                        <p>Qamar Tabrez</p>


                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <p>Ratna Bharali Talukdar</p>
                        <p>Saravanan P.K.</p>
                        <p>Shaji K.A.</p>
                        <p>Shirish Khare</p>
                        <p>Siddharth Chakrabarti</p>
                        <p>Subramanian Sundararaman</p>
                        <p>Uma Maheshwari</p>
                        <p>Usha Turaga-Revelli</p>
                        <p>Vilasini</p>
                        <p>Vishnu Varatharajan</p>

                    </div>
                </div>
            </div>
            <hr/>

            <div>
                <p class="acknowledgements-heading">Core Group, Support, Admin</p>
                <div class="acknowledgements-cols row">
                    <div class="col-sm-12 col-md-4 col-lg-4">

                        <p>Aditi Chandrasekhar</p>
                        <p>Amita Joseph</p>
                        <p>Amiya Pani</p>
                        <p>Aparna Karthikeyan</p>
                        <p>Bharat Patil</p>
                        <p>Bini Bharucha</p>
                        <p>Biraj Patnaik</p>
                        <p>Chitrangada Choudhury</p>
                        <p>Deepa Bhatia</p>
                        <p>Divya Jain</p>
                        <p>Gauri Adelkar</p>
                        <p>Hutokshi Doctor</p>
                        <p>Jaideep Hardikar</p>
                        <p>Jayati Vora</p>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <p>Kavita Carneiro</p>
                        <p>Lubaina Kitabi</p>
                        <p>Madhusree Mukerjee</p>
                        <p>Mathew Cherian</p>
                        <p>Mausumi Bhattacharyya</p>
                        <p>Namita Waikar</p>
                        <p>Naveen Roy Benadict</p>
                        <p>Olivia Waring</p>
                        <p>Onkar Mandlekar</p>
                        <p>Praveen Chandrahas</p>
                        <p>Purusottam Thakur</p>
                        <p>Revathi R.</p>
                        <p>Rishab Bailey</p>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <p>Sainath P.</p>
                        <p>Samyukta Shastri</p>
                        <p>Satish Viswanathan</p>
                        <p>Shalini Singh</p>
                        <p>Sharmila Joshi</p>
                        <p>Shreya Katyayini</p>
                        <p>Siddharth Adelkar</p>
                        <p>Sinchita Maji</p>
                        <p>Sweta Daga</p>
                        <p>Sukhada Tatke</p>
                        <p>Thejaswi Puthraya</p>
                        <p>Urvashi Sarkar</p>
                        <p>Vidyut Kale</p>
                    </div>

                </div>
            </div>
            <hr/>

        </div>
        <p>A very special thanks to P.R. Gandhi, Kartik Shah, Deepak Soni and Eesha Thakkar of P.R. Gandhi & Co, Mumbai,
            and Prakash Shah of Delhi, for their invaluable assistance.</p>
        <br>
        <p>We also wish to acknowledge the huge encouragement and support we have got, and continue to get, from
            individuals like  Abhijit Dutta, Anil Choudhury, Mariam Ram, Romi Mahajan, Sudarshan Loyalka, Sudhanva
            Deshpande and Vijay Prashad. </p>
        <br>
        <p>We are greatly indebted to the volunteers, journalists, filmmakers and other contributors who continue to
            gift us so much time and labour. They are too many in number to list here. There may be a few names we’ve
            missed out for which we seek pardon. There are also some whom we cannot name because, alas, of where they
            are working.</p>
        <br>
        <h3>P. Sainath</h3>
        <h3>Founder Editor, PARI</h3>

    </div>
</div>
{% endblock %}
