{% extends "base.html" %}
{% load i18n wagtailcore_tags %}

{% block meta_title %}
{% trans "Contact PARI" %}
{% endblock %}

{% block meta_description %}PARI Contact us{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/contact-us.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/static_page.less">
{% endblock %}

{% block main %}
<div class="container" id="contact-pari">
    {% url "contribute" as contribute_url %}
    {% url "static_page" slug="guidelines" as guidelines_url %}
    {% url "static_page" slug="donate" as donate_url %}

    <h1>{% trans "Contact PARI" %}</h1>
    <h4 class="font-xl">{% trans "TO CONTRIBUTE CONTENT" %}</h4>
    <p class="section-content">Please visit the <a href="https://script.google.com/macros/s/AKfycbyHC82VzoPpoUqjrcNj8Yg0kBo904g-om2cdjH0d_BRt0L1b5aA/exec" target="_blank">content upload form</a> and the <a href="{{ guidelines_url }}">guidelines</a> for details.</p>

    <h4 class="font-xl">{% trans "TO DONATE TO PARI" %}</h4>
    <p class="section-content">{% trans "Do see our <a href="{{ donate_url }}">donate</a> page for details." %}</p>

    <h4 class="font-xl">{% trans "WANT TO VOLUNTEER FOR PARI?" %}</h4>
    <p class="section-content">{% trans "Help us understand your skills and interests by filling up this" %} <a href="https://docs.google.com/forms/d/1IbwsyjTovsTnlSb2yC-KkkBlR_rPWOnGepi7XBD4b_k/viewform?usp=send_form" target="_blank">form</a>.</p>

    <form method="post" action="{% url "contact_us" %}">{% csrf_token %}
        <h4 class="font-xl">{% trans "OTHER QUESTIONS?" %}</h4>
        <p>Write to us using this form:</p>
        <div class="form">
            <div class="form-group">
                <label>{{ contact_form.name.label | upper }}</label>
                {{ contact_form.name }}
            </div>
            <div class="form-group">
                <label>{{ contact_form.email.label | upper }}</label>
                {{ contact_form.email }}
            </div>
            <div class="form-group">
                <label>{{ contact_form.message.label | upper }}</label>
                {{ contact_form.message }}
            </div>
            <div class="form-group">
                <input type="submit" class="primary" value="{% trans "Send" %}">
            </div>
            </div>
  </form>
</div>
{% endblock %}