{% extends "base.html" %}{% load i18n %}

{% block meta_title %}
    {% blocktrans with site_name=site.site_name %} Contribute to {{ site_name }} {% endblocktrans %}
{% endblock %}
{% block meta_description %}{% trans "Join us in building a unique national knowledge repository on rural India. We need writers, editors, photographers, filmmakers, translators, researchers, and more." %}{% endblock %}

{% block opengraph_block %}
    {% include "core/includes/media_sharing_meta.html" with title="India’s biggest archive of itself needs everyone to participate" description="Join us in building a unique national knowledge repository on rural India. You can start by telling us something about yourself." url=request.get_full_path type="url" image_url=STATIC_URL|add:"img/share_faces_collage.jpg"%}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/forms/form-elements.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/contribute.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/static_page.less">
{% endblock %}

{% block main %}
    <div id="contribute">
        <div class="content container">
            <h1>{% trans "India’s biggest archive of itself needs everyone to participate" %}</h1>
            <p class="contribute-heading">{% trans "COVER YOUR COUNTRY – HERE’S HOW" %}</p>
            <p>{% trans "Join us in building a unique national knowledge repository on rural India." %}</p>
            <p>{% trans "You can start by telling us something about yourself." %}</p>
            <a href="https://docs.google.com/forms/d/1IbwsyjTovsTnlSb2yC-KkkBlR_rPWOnGepi7XBD4b_k/viewform?usp=send_form"
               target="_blank" class="btn primary">{% trans "Fill the profile form" %}</a>
            <hr/>

            <div>
                <p class="contribute-heading">{% trans "CONTRIBUTE CONTENT" %}</p>
                <div class="contribute-cols row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div>
                            <i class="fa fa-pencil"></i>
                            <p class="contribute-col-heading"> {% trans "Write / Edit / Photograph" %} </p>
                        </div>
                        <p>
                            {% blocktrans trimmed %}You could write content for existing films or edit content that has been written but needs
                            the
                            careful eye of an editor. You can also write independent content for our print section. You
                            could translate the subtitles of films on PARI into other languages. Having those in as many
                            Indian languages as possible is a major objective. You can also translate other written
                            content
                            into different languages.{% endblocktrans %}
                        </p>
                        <hr/>
                        <div class="help-text">
                            {% blocktrans trimmed %}Help us understand your skills and interests by filling in this <a
                                href="https://docs.google.com/forms/d/1IbwsyjTovsTnlSb2yC-KkkBlR_rPWOnGepi7XBD4b_k/viewform?usp=send_form"
                                target="_blank">Profile Form</a>.{% endblocktrans %}
                        </div>
                        <hr/>
                        <div class="help-text">
                            {% blocktrans trimmed %}Upload your articles, photos, document with content ideas through the <a
                                href="https://script.google.com/macros/s/AKfycbyHC82VzoPpoUqjrcNj8Yg0kBo904g-om2cdjH0d_BRt0L1b5aA/exec"
                                target="_blank">Content Upload Form</a>.{% endblocktrans %} 
                        </div>
                        <hr/>
                        <div class="help-text">
                            {% blocktrans trimmed %}To contribute to the Faces category, upload the photos and details through the <a
                                href="https://script.google.com/macros/s/AKfycbzMQwyY8P1t7CT0_ylmPfSDz7WiSTVHWtL-Yf0UhtoYOIWQfMf5/exec"
                                target="_blank">Faces Form</a>.{% endblocktrans %}
                        </div>
                        <hr/>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div>
                            <i class="fa fa-film"></i>
                            <p class="contribute-col-heading"> {% trans "Make a film" %} </p>
                        </div>
                        <p>
                            {% blocktrans trimmed %}You can produce content for the archive by making films like the ones you already see on
                            this
                            website, so long as these are within PARI’s mandate and objectives. Get in touch with us to
                            know
                            what would be suitable for the archive. The basic principle: it’s got to be on the everyday
                            lives of everyday people in rural India. Share your ideas about what topics/ areas you wish
                            to
                            make a film on. We can take it further from there. Know that you can record content for PARI
                            on
                            your cell phone camera. Please share your audio/video clip links through this <a
                                href="https://script.google.com/macros/s/AKfycbyHC82VzoPpoUqjrcNj8Yg0kBo904g-om2cdjH0d_BRt0L1b5aA/exec"
                                target="_blank">Content Upload Form</a>.{% endblocktrans %}
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div>
                            <i class="fa fa-binoculars"></i>
                            <p class="contribute-col-heading"> {% trans "Research" %} </p>
                        </div>
                        {% url "resource-list" as resource_list %}
                        <p>{% blocktrans trimmed %}Find online content already on the archive and send us links to it. Or research a vital topic
                            –
                            for instance, the lives of agricultural labourers in rural India – and collaborate with us
                            on
                            building a fund of information, photographs and data on that subject. Besides, you can send
                            us
                            any studies or reports in electronic form which you know of and that are relevant to rural
                            India. Have a look at PARI's <a href={{ resource_list }}>'Resources'</a> section to know what’s already there and get a
                            better
                            idea of what we’re looking for. Do share any relevant reports you find through this <a
                                    href="https://script.google.com/macros/s/AKfycbyHC82VzoPpoUqjrcNj8Yg0kBo904g-om2cdjH0d_BRt0L1b5aA/exec"
                                    target="_blank">Content Upload Form</a>.{% endblocktrans %} </p>
                    </div>
                </div>
                <div class="contribute-cols row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div>
                            <i class="fa fa-language"></i>
                            <p class="contribute-col-heading"> {% trans "Translate" %} </p>
                        </div>
                        <p>{% blocktrans trimmed %}Help us by translating content into Indian languages. Please help us understand your skills
                            and
                            interests by filling in this <a
                                    href="https://docs.google.com/forms/d/1IbwsyjTovsTnlSb2yC-KkkBlR_rPWOnGepi7XBD4b_k/viewform?usp=send_form"
                                    target="_blank">Profile Form</a>.{% endblocktrans %}</p>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div>
                            <i class="fa fa-user-circle-o"></i>
                            <p class="contribute-col-heading"> {% trans "FACES" %} </p>
                        </div>
                        <p>{% blocktrans trimmed %}Do you have FACES to contribute to the only and largest database recording India’s facial
                            diversity?{% endblocktrans %}</p>
                        <a href="{% url "contribute_to_faces" %}" class="btn primary">{% trans "Contribute to Faces" %}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ready-to-upload">
            <div class="container">
                <p class="contribute-heading">{% trans "READY TO UPLOAD?" %}</p>
                {% url "static_page" slug="guidelines" as guidelines %}
                <p>{% blocktrans trimmed %}Is your content ready to upload? Do go through the <a
                        href={{ guidelines }}>PARI content guidelines</a> to ensure you know what’s
                    required.{% endblocktrans %}</p>
                <a href="https://script.google.com/macros/s/AKfycbyHC82VzoPpoUqjrcNj8Yg0kBo904g-om2cdjH0d_BRt0L1b5aA/exec"
                   target="_blank" class="btn primary">{% trans "Upload content" %}</a>
            </div>
        </div>

        <div class="support-a-pari-project container">
            <p class="contribute-heading">{% trans "DONATE – SUPPORT A PARI PROJECT" %}</p>
            <p>{% blocktrans trimmed %}You can back ongoing PARI projects by funding them. Or pitch one yourself on an aspect of rural India
                from your home state or district that you believe demands attention.{% endblocktrans %}</p>
            <a href="{% url "static_page" slug="donate" %}" class="btn primary">{% trans "Donate to PARI" %}</a>
        </div>
    </div>
{% endblock %}
