{% extends "base.html" %}{% load i18n %}

{% block meta_title %}
{% blocktrans with site_name=site.site_name %}Donate to {{ site_name }}{% endblocktrans %}
{% endblock %}

{% block main %}
<div class="content container" style="margin-bottom: 20px;">
  <div class="rich-text">
    <div style="text-align: center; clear: both;">
      <p><strong>Donate to People's Archive of Rural India</strong></p>
      <p><strong>At present, only donations in Indian Rupees by Indian citizens are accepted.</strong></p>
      <p>Donations made to <strong>CounterMedia Trust</strong> are eligible for exemption U/s. 80G of the Income Tax Act, 1961. Here is a copy of the <a href="/media/uploads/Donate/80g_certificate.jpg">exemption certificate.</a></p>
    </div>

    <div class="center col-lg-push-3 col-lg-6 col-md-push-3 col-md-6 col-sm-12">
      <form method="post" action="{% url "core.views.donate_form" %}">{% csrf_token %}
        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
          {% if not field.is_hidden %}<label class="control-label" id="{{ field.id_for_label }}">{{ field.label }}</label>{% endif %}
          {{ field }}
          {{ field.help_text }}
        </div>
        {% endfor %}
        <p class="bg-info" style="padding: 10px;">You will be redirected to Instamojo where you can complete the donation either through a credit/debit card or bank transfer.</p>
        <input type="submit" class="btn btn-default btn-primary" value="Donate" >
      </form>
    </div>
  </div>
</div>
{% endblock %}
