{% extends "base.html" %}

{% load i18n wagtailcore_tags %}
{% block meta_title %}{% trans "Donate to PARI" %}{% endblock %}
{% block meta_description %}{% trans "We can do this without governments – and will. We can’t do it without you. A tax-exempt financial contribution will help PARI pull off this most ambitious of Indian journalistic endeavours." %}{% endblock %}

{% block opengraph_block %}
    {% include "core/includes/media_sharing_meta.html" with title="Donate" description="PARI needs your help to pull off this most ambitious of Indian journalistic endeavours." url=request.get_full_path type="url" image_url=STATIC_URL|add:"img/share_faces_collage.jpg"%}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/donate.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/static_page.less">
{% endblock %}

{% block main %}
    <div class="container donate-page">
        <div class="header-section">
            <h1 class="donate-title">
                {% blocktrans trimmed %}In 2014-15, only about <span class="highlight">0.24%</span> of front page news came out of rural India.<br/>We want to change that.{% endblocktrans %}
            </h1>
            <div class="subtitle">
                {% trans "We can do this without governments – and will. We can’t do it without you." %}
            </div>
        </div>
        <div class="main-panel col-lg-7 col-md-7 col-sm-12 col-xs-12 ">
            <div>
                <p>{% blocktrans trimmed %}India’s younger, media-saturated generations grow up knowing little about their country, but a lot
                    about the elites of a few metros and towns. For a narrowly-owned, commercially-driven media, the
                    dumbing down of a nation is part of standard operating procedure. Data of the Centre for
                    Media Studies (CMS, Delhi) show us that reports from New Delhi account for 66 per cent of news on
                    the front pages of major dailies. The CMS also found that in 2014-15, only about 0.24 per cent of
                    front page news came out of rural India. The TV channels are not much better.{% endblocktrans %}</p>
                <p>{% trans "PARI needs your help to pull off this most ambitious of Indian journalistic endeavours." %}</p>
            </div>

            <div class="donate-section">
                <h4 class="header">{% trans "THE PLAN" %}</h4>
                <div class="special-bullets">
                    <ol>
                        <li>
                            <p> {% blocktrans trimmed %}The People’s Archive of Rural India aims to position a PARI Fellow in every single one of
                                the country’s 95 regions, most of which are untouched by the ‘national’ (read corporate)
                                media.{% endblocktrans %}
                                <br>{% trans "The Fellows could be" %}
                            </p>
                            <div class="fellows">
                                <span><i class="fa fa-microphone"></i>{% trans "Reporters" %}</span>
                                <span><i class="fa fa-pencil"></i>{% trans "Writers" %}</span>
                                <span><i class="fa fa-film"></i>{% trans "Filmmakers" %}</span>
                                <span><i class="fa fa-camera"></i>{% trans "Photographers" %}</span>
                            </div>
                            <p>{% trans "and everyday residents of the regions themselves." %}</p>
                            <p class="grey-text">{% blocktrans trimmed %}By ‘regions’ we mean natural or historically evolved areas. For instance, in the state
                                of Uttar Pradesh we have Rohilkhand, Bundelkhand, Braj, Awadh, Sonebhadra, and Bhojpur
                                (which extends into Bihar as well)." {% endblocktrans %}
                            </p>
                        </li>
                        <li>
                            {% blocktrans trimmed %}Each PARI Fellow works on a specific region for a year, spending at least three months
                            full-time in fieldwork amongst the region’s people and communities.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}Across 60 months or so, PARI will generate text reports, audio stories, videos, documentary
                            films, photographs, music and ‘talking albums’ on the everyday lives of everyday people – from
                            every part of the country. A database that will be truly representative of the Indian people,
                            particularly of 833 million rural citizens. Of their labour, crafts, stories, songs, poems, art
                            and more. The network of Fellows we build will also reflect the social composition of the
                            country. Half of the nearly 100 Fellows will be women. And Dalit journalists,
                            Adivasi journalists and those from the minorities, will also be represented in a fair manner.
                            Many stories will be told directly by everyday people themselves. Among other legacies, this
                            will give generations of students, all our children, living textbooks on the world around them.
                            And give the nation itself a repository the like of which it has never seen.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}PARI is a multi-lingual site. On this site you’ll find several articles which have a
                            ‘Choose language’ button at the top. Some appear in multiple languages, a few in as many as 10.
                            We intend to scale up both, the number of articles as well as languages. PARI’s audio project
                            too aims to record speakers in every one of India’s 780 living languages.{% endblocktrans %}
                        </li>
                    </ol>
                </div>
            </div>

            <div class="donate-section">
                <h4 class="header">{% trans "SPONSOR A FELLOW" %}</h4>
                <div class="fellowship">
                    <div class="cost-label">{% trans "Cost of each fellowship:" %}</div>
                    <div class="cost">{% trans "Rs. 2 lakhs" %}</div>
                    <p> {% blocktrans trimmed %}+ associated costs related to the recording, documentation, collation, editing (text and video), training and more. {% endblocktrans %}
                    </p>
                </div>
                <div class="fellowship">
                    <div class="cost-label">{% trans "Approximate total cost of PARI fellowships (per year):" %}</div>
                    <div class="cost">{% trans "Rs. 80 lakhs" %}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-12 col-xs-12 side-panel">
                <div>
                    <h4 class="header">{% trans "HOW YOU CAN HELP" %}</h4>
                    <div class="side-panel-section">
                        <p class="sub-header">{% trans "Donate money" %}</p>
                        <p class="text">
                            {% blocktrans trimmed %}You can send in donations using a range of payment methods. All donations made to the CounterMedia
                            Trust are <a href="/media/uploads/Donate/80g_certificate.jpg" target="_blank">eligible for exemption</a> under Section 80G of the Income Tax Act, 1961.{% endblocktrans %}
                        </p>
                        {%  url 'donate_form' as donate_form %}
                        <button class="primary" onclick="location.href='{%  url 'donate_form' %}'">{% trans "Send donation" %}</button>
                    </div>
                    <div class="side-panel-section">
                        <p class="sub-header">{% trans "Donate equipment" %}</p>
                        <p class="text">
                            {%  url "contact_us" as contact_us %}
                            {% blocktrans trimmed %}If you would like to send over equipment (new or used) that PARI Fellows and rural contributors
                            could use, please get in <a href="mailto:contact@ruralindiaonline.org">touch</a>. That could include still and video cameras, audio digital
                            recorders, laptops, hard disks and other equipment.{% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="side-panel-section">
                    <p class="sub-header">{% trans "Share the message in your network" %}</p>
                    <p class="text">
                        {% blocktrans trimmed %}Ask your friends to connect and contribute to this endeavour. Help us cover your country. Join us
                        in building a unique national knowledge repository on rural India.{% endblocktrans %}
                    </p>

                     <div class="gallery-social-icon">
                     {% trans "Donate to PARI" as donate %}
                     {% with url=request.build_absolute_uri  title=donate %}
                            <a href="https://twitter.com/intent/tweet?url={{ url|urlencode }}&amp;hashtags=RuralIndiaOnline&amp;via=PARINetwork" target="_blank" class="link-light"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="https://facebook.com/sharer.php?u={{ url|urlencode }}&t={{ title|urlencode }}" target="_blank" class="link-light"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                     {% endwith %}
                     </div>

                </div>
                <div class="faqs">
                    <h4 class="header">{% trans "FAQs" %}</h4>
                    <div class="faq">
                        <p class="question">{% trans "I sent PARI a donation. How do I get a receipt?" %}</p>
                        <p class="answer">Please make sure you include your email address in the donation form when you make a contribution to PARI.  A receipt will be sent to you in 4 to 8 weeks by email. You may download the 80G certificate <a href="/media/uploads/Donate/80g_certificate.jpg" target="_blank">here</a>.</p>
                    </div>
                    <div class="faq">
                        <p class="question">{% trans "I live abroad. Can I send PARI a donation?" %}</p>
                        <p class="answer">You can send PARI a donation only from an Indian bank account, in Indian rupees. We are currently not registered with FCRA for accepting foreign funds.</p>
                    </div>
                    <div class="faq">
                        <p class="question">{% trans "Is there any other way in which I can contribute?" %}</p>
                        <p class="answer">Apart from donating money and equipment, you can provide PARI copies of photo collections (new and old), pertaining to rural India. We are also always on the look out for people who can write/photograph for us. Learn more about how you can contribute <a href="{% url "contribute" slug="contribute" %}">here</a>.</p>
                    </div>
                </div>
        </div>
        <div class="founder-section col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="donate-section ">
                <div class="header"></div>
                <p>{% blocktrans trimmed %}A lot more, actually, but PARI’s core group and volunteers bear significant costs, personally. We appeal 
                        to you to contribute generously and make this unique journalistic effort a success. We can do this
                        without governments and corporations – and will. We can’t do it without you.{% endblocktrans %}
                    </p>
                <div class="founder">
                    <img src="{{ STATIC_URL }}img/founders/p_sainath.jpg" alt="P. Sainath"/>
                        <p>
                            {% trans "Thanking you" %},<br>
                            {% trans "Sincerely" %},<br>
                            P. Sainath
                        </p>
                    </div>
            </div>
        </div>
    </div>
{%  endblock %}