{% extends "base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags %}
{% block meta_description %}
    {% trans "P. Sainath is the Founder Editor of the People’s Archive of Rural India. The archive is an outcome of his three decades-plus in journalism – including a quarter century of reporting from rural India." %}{% endblock %}
{% block meta_title %}{% trans "Founder Editor P Sainath" %}{% endblock %}

{% block opengraph_block %}
    {% include "core/includes/media_sharing_meta.html" with title="P. Sainath, Founder Editor" description="P. Sainath is the Founder Editor of the People’s Archive of Rural India. The archive is an outcome of his three decades-plus in journalism – including a quarter century of reporting from rural India." url=request.get_full_path type="url" image_url=STATIC_URL|add:"img/nav_header_images/sainath.png" twitter_card="summary" %}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/founders.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/static_page.less">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="founders-title"><h1>{{ page.title }}</h1></div>
        <div class="founders-bio">
            {% for person in page.editor.all %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="image-holder "><img src="{{ person.image.file.url }}"></div>
                    </div>
                    <div class="col-md-8">
                        <h3 class="founder-name">{{ person.name }}</h3>
                        <h4>{{ person.title }}</h4>
                        <p>{{ person.description|richtext }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {#        <hr class="seperator">#}
        {#        <div class="photo-section-head">{% trans "People" %}</div>#}
        {#        <div class="image-grid">#}
        {#            {% for person in page.editor.all %}#}
        {#                <div class="founders-details">#}
        {#                    <div class="image-holder "><img src="{{ person.image.file.url }}"></div>#}
        {#                    <div class="detail-holder ">#}
        {#                        <h4>{{ person.title }}</h4>#}
        {#                        <span>{{ person.name }}</span>#}
        {#                    </div>#}
        {#                </div>#}
        {#            {% endfor %}#}
        {#        </div>#}

    </div>

{% endblock %}
