{% extends "base.html" %}
{% load i18n wagtailcore_tags %}
{% block meta_description %}{% trans "P. Sainath is the Founder Editor of the People’s Archive of Rural India. The archive is an outcome of his three decades-plus in journalism – including a quarter century of reporting from rural India." %}{% endblock %}
{% block meta_title %}{% trans "Founder Editor P Sainath" %}{% endblock %}

{% block opengraph_block %}
    {% include "core/includes/media_sharing_meta.html" with title="P. Sainath, Founder Editor" description="P. Sainath is the Founder Editor of the People’s Archive of Rural India. The archive is an outcome of his three decades-plus in journalism – including a quarter century of reporting from rural India." url=request.get_full_path type="url" image_url=STATIC_URL|add:"img/nav_header_images/sainath.png" twitter_card="summary"%}
{% endblock %}

{% block extra_css %}
   <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/founders.less">
   <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/static_page.less">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="founders-title"> {% trans "Founder's page" %}</div>
        <div class="founders-bio">
            <h3>P. Sainath</h3>
            <p>{% blocktrans trimmed %}P. Sainath is the Founder Editor of the People’s Archive of Rural India. The archive is an outcome of his three decades-plus in journalism – including a quarter century of reporting from rural India. PARI aims to address the complete failure of the corporate media to cover two-thirds of the country’s population. Our aim is to report and record what is easily the most complex part of the planet.{% endblocktrans %}</p>
            <p>{% blocktrans trimmed %}Sainath, former Rural Affairs Editor of The Hindu, writer and journalism teacher, is the 2007 winner of the Ramon Magsaysay Award, Asia’s most prestigious prize. He has also won the World Media Summit Global Award for Excellence 2014, in Public Welfare reporting. He was the first reporter in the world to win Amnesty International’s Global Award for Human Rights Journalism in its inaugural year in 2000. Sainath has taught at journalism schools in India and abroad, mentoring students as well as training media professionals.{% endblocktrans %}</p>
            <p>{% blocktrans trimmed %}His book <i>Everybody Loves a Good Drought </i>(Penguin India, 1996), now in its 43rd print, was declared a Penguin Classic in January 2013.  The book is being used in over a hundred universities in India and abroad. His photo archive of black and white images from rural India is being digitised. One part of that titled &#39;Visible Work, Invisible Women&#39; is now on PARI as a fully curated online exhibition. For more on Sainath see
                <a href="http://www.psainath.org/" target="_blank">www.psainath.org.</a>{% endblocktrans %}</p>
            <h3>Binaifer Bharucha</h3>
            <p>{% blocktrans trimmed %}Binaifer Bharucha is PARI’s Photo Editor and a freelance photographer based in Mumbai. Her commercial portfolio focuses on still life work (products, food, interiors and jewellery). Since 2010 she has been a part of ArtOxygen, an organisation that promotes people’s art in public spaces in Mumbai. She photographs and shoots videos of the interactions and encounters between the public, the artwork and the artist.{% endblocktrans %}</p>
            <p>{% blocktrans trimmed %}Binaifer has a postgraduate diploma in Social Communications Media from the Sophia Polytechnic, Mumbai. She loves, in no particular order, to shoot things that don’t move, going to the mountains, animals, books, films and food.{% endblocktrans %}</p>
            <h3>Namita Waikar</h3>
            <p>{% blocktrans trimmed %}Namita Waikar is Managing Editor, PARI, and a CounterMedia trustee. She oversees the finance and administrative functions of the trust that runs PARI. Her work includes administering the PARI fellowships programme, managing communications with volunteers, overseeing all Indian language translations and reviews, and anchoring the landmark Grindmill Songs Project.{% endblocktrans %}</p>
            <p>{% blocktrans trimmed %}Namita is also a writer and translator (Marathi to English), and some of her stories, photos and videos are published on PARI.  In her day job, she is a partner in a chemistry databases firm in Pune, which is the culmination of her work of over 20 years as a biochemist and a software project manager.{% endblocktrans %}</p>
            <h3>Sharmila Joshi</h3>
            <p>{% blocktrans trimmed %}Sharmila Joshi is the Editorial Chief at PARI. Her work includes overseeing, editing and presenting PARI’s complex content from innumerable parts of the country. She also manages a pool of voluntary editors and trains editorial interns. She has a significant role in shaping our site’s editorial and ethical protocols.{% endblocktrans %}</p>
            <p>{% blocktrans trimmed %}As a journalist, Sharmila’s work has featured in several national and international publications. As a researcher, she has published in anthologies on gender and violence, on women in politics, and gender and labour. She has an MA in Historical Sociology from the State University of New York, and the work she started towards a PhD there remains a pipedream.{% endblocktrans %}</p>
            <h3>Siddharth Adelkar</h3>
            <p>{% blocktrans trimmed %}As Tech Editor, PARI, Siddharth Adelkar notices nifty tools and best practices in the tech world, and brings them home to PARI. Siddharth believes that journalists expect more than “just a website” from technologists. They need an engaged tech team that is sensitive to the geopolitical, economic and societal crisis that journalism is going through. Online journalism can be a redeeming force, but that requires building an enduring partnership between techies and journalists. One that strives to rebuild the Internet as a democratic and public space.{% endblocktrans %}</p>
            <p>{% blocktrans trimmed %}Siddharth works at ThoughtWorks, where he focuses on software for independent media. He is also the Secretary of the Free Software Movement of Maharashtra. He has a master’s degree in Computer Science from the University of Southern California.{% endblocktrans %}</p>
        </div>
        <hr class="seperator">
        <div class="photo-section-head">People</div>
        <div class="image-grid">
            <div class="founders-details" >
                <div class="image-holder "><img src="{{ STATIC_URL }}img/founders/p_sainath.jpg"></div>
                <div class="detail-holder ">
                    <h4>{% trans "FOUNDER EDITOR" %}</h4>
                    <span>P. Sainath</span>
                </div>
            </div>
            <div class="founders-details " >
                <div class="image-holder"><img src="{{ STATIC_URL }}img/founders/binaifer_bharucha.jpg"></div>
                <div class="detail-holder"><h4>{% trans "PHOTO EDITOR" %}</h4>
                <span>Binaifer Bharucha</span></div>
            </div>
            <div class="founders-details " >
                <div class="image-holder"><img src="{{ STATIC_URL }}img/founders/namita_waikar.jpg" ></div>
                <div class="detail-holder"><h4>{% trans "MANAGING EDITOR" %}</h4>
                <span>Namita Waikar</span></div>
            </div>
            <div class="founders-details" >
                <div class="image-holder"><img src="{{ STATIC_URL }}img/founders/Sharmila_Joshi.jpg" ></div>
                <div class="detail-holder"><h4>{% trans "EDITORIAL CHIEF" %}</h4>
                <span>Sharmila Joshi</span></div>
            </div>
            <div class="founders-details " >
                <div class="image-holder"><img src="{{ STATIC_URL }}img/founders/Siddharth_Adelkar.jpg" ></div>
                <div class="detail-holder"><h4>{% trans "TECH EDITOR" %}</h4>
                <span>Siddharth Adelkar</span></div>
            </div>
        </div>

        </div>

    </div>

{% endblock %}