{% extends "base.html" %}
{% load i18n wagtailcore_tags %}
{% block meta_title %}{{ page.title }}{% endblock %}
{% block meta_description %}Want to contribute to PARI? Find out what types of content we are looking for.{% endblock %}

{% block opengraph_block %}
    {% include "core/includes/media_sharing_meta.html" with title="Guidelines for PARI contributors" description="Writers, photographers, filmmakers and others" url=request.get_full_path type="url" image_url=STATIC_URL|add:"img/default_featured_image.png"%}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/guidelines.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/static_page.less">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/guidelines.js"></script>
{% endblock %}

{% block main %}
    <div class="container guidelines-page">
        <div class="guideline-title">
            <h1>{{ page.title }}</h1>
            <div class="subtitle font-xl">{{ page.strap }}</div>
        </div>
        <div class="index col-lg-4 col-md-4 col-sm-12 col-xs-12 font-xl">
            <h3>{% trans "Index of contents" %}</h3>
            {% for heading_title, heading_block in page_content.items %}
                <div class="section-index">
                    <div data-toggle="collapse" data-target="#section-{{ forloop.counter }}">
                        {% if heading_block.has_sub_section_with_heading %}
                            <span class="fa fa-caret-down"></span>
                            <span class="fa fa-caret-right"></span>
                            <h4>{{ heading_title }}</h4>
                        {% else %}
                            <h4>
                                <a class="index-link pad-left-20px" href="#section-{{ forloop.counter }}">{{ heading_title }}</a>
                            </h4>
                        {% endif %}
                    </div>
                    {% if heading_block.has_sub_section_with_heading %}
                        <div id="section-{{ forloop.counter }}" class="collapse in pad-left-20px">
                            {% for sub_section_item in heading_block.sub_section %}
                                <a class="index-link" href="#section-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">{{ sub_section_item.heading }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="content col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <ol class="section">
                {% for heading_title, heading_block in page_content.items %}
                    <li class="section">
                        <h4 id="section-{{ forloop.counter }}">{{ heading_title }}</h4>
                        <div>{{ heading_block.heading_content }}</div>
                        <ol class="sub-section">
                            {% for sub_section_item in heading_block.sub_section %}
                                <li class="sub-section">
                                    {% if heading_block.has_sub_section_with_heading %}
                                        <h4 id="section-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">{{ sub_section_item.heading }}:</h4>
                                    {% endif %}
                                    <p>{{ sub_section_item.content }}</p>
                                </li>
                            {%  endfor %}
                        </ol>
                    </li>
                {%  endfor %}
            </ol>
        </div>
    </div>
{%  endblock %}

