{% extends "base.html" %}
{% load i18n wagtailimages_tags wagtailcore_tags %}
{% load core_filters %}

{% block meta_title %}{{ page.title }}{% endblock %}
{% block meta_description %}A journalism website reporting the stories of 833 million rural Indians. An archive of the living past, a journal of the present, a textbook of the future.{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block opengraph_block %}
    {% include "core/includes/media_sharing_meta.html" with title="The everyday lives of everyday people" description="Rural India is in many ways the most diverse part of the planet. Its 833 million people include distinct societies speaking well over 700 languages, some of them thousands of years old." url=request.get_full_path type="url" image_url=page.featured_content.0.value.featured_image.file.url %}
{% endblock %}


{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/home/home-page.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/home-page-face-tile.less">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(function () {
            $("#homeCarousel").on('slide.bs.carousel', function () {
                setTimeout(function () {
                    $(window).trigger("scroll");
                }, 1000);
            });
            $("#myCarousel-1").carousel({
                interval: 5000,
                pause: false
            });
        });
    </script>
{% endblock %}

{% block main %}
    <div class="home-page">

        <div id="myCarousel-1" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for featured_content in page.featured_content %}

                    <div class=" {% if forloop.first %}active{% endif %} item content-{{ forloop.counter }}" onclick="location.href='{{ featured_content.value.url }}';" style="cursor: pointer">
                      {% image featured_content.value.featured_image width-1440 as featured_image %}
                        <img src="{{featured_image.url}}" alt="sample">
                        <div class="floating-container container">
                          <div class="relative-container">
                            <div class="floating-content item-container">
                                {% if featured_content.value.featured_image_label %}
                                    <div><span class="featured">{{ featured_content.value.featured_image_label }}</span></div>
                                {% endif %}
                                <div class="featured-content-title">{{ featured_content.value.title }}</div>
                                <div class="link-to-page">
                                    <a href="{{ featured_content.value.url }}">
                                      <span>{{ featured_content.value.link_text }}</span>
                                      <i class="fa fa-angle-right margin-left red-angle-right"></i></a>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- Left and right controls -->
                <div class="floating-carousel-buttons container">
                  <div class="carousel-buttons-wrapper">
                    <div class="carousel-control-container clearfix">
                        <a class="left carousel-control" href="#myCarousel-1" role="button" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#myCarousel-1" role="button" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="myCarousel-2" class="carousel slide" data-ride="carousel">
                <div class="carousel-title"><div>Latest on PARI</div></div>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for item in page.carousel %}
                        <div class="{% if forloop.first %}active{% endif %} item">
                            <div class="row gallery-tile">
                                <div class="col-lg-4 col-md-4">
                                    <div class="gallery-tile-info">
                                        <div class="latest-item-title">{{ item.title }}</div>
                                        <div class="desc-module line-clamp">
                                            <p>{% if item.specific|get_strap %} {{ item.specific|get_strap }}{% else %}
                                                &nbsp;{% endif %}</p>
                                        </div>
                                        <div class="name-primary">
                                            {% include "../../core/templates/includes/author-links.html" with authors=item.specific|get_photographers author_link_class="author-link" author_name_class="author-name" %}
                                        </div>
                                        <div class="date">
                                            {% for location in item.specific|get_locations %}
                                                <a href="{% url "location-detail" location.slug %}">
                                                    {{ location.name }}
                                                </a>
                                                {% if not forloop.last %}, {% endif %}{% endfor %} <span
                                                class="dot-seperator">•</span>
                                                {% if item.specific.original_published_date%}
                                                  {% include "../../article/templates/article/includes/display_date.html" with display_date=item.specific.original_published_date article=item.specific%}
                                                {% else %}
                                                  {% include "../../article/templates/article/includes/display_date.html" with display_date=item.specific.first_published_at article=item.specific%}
                                                {% endif %}
{#                                            <a href="{% url "archive-detail" year=item.specific.latest_revision_created_at.year month=item.specific.latest_revision_created_at.month %}">#}
{#                                                {{ item.specific.latest_revision_created_at|date:"F d, Y" }}#}
{#                                            </a>#}
                                        </div>
                                    </div>
                                    <div class="view-all">
                                        <a href="{{ item.specific.get_absolute_url }}">
                                            <span>Read/ Watch/ Listen</span>
                                            <i class="fa fa-angle-right red-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <a href="{{ item.specific.get_absolute_url }}">
                                        {% if item.specific.content_type.app_label == "resources" and item.specific.content_type.model == "resource" %}
                                            <img class="img-responsive lazyload" src="{{ STATIC_URL }}img/1_1.png"
                                                 data-src="{{ item.specific.embed_thumbnail }}"
                                                 alt="{{ item.specific.title }}">
                                            <noscript>
                                                <img class="img-responsive" src="{{ item.specific.embed_thumbnail }}"
                                                     alt="{{ item.specific.title }}">
                                            </noscript>
                                        {% else %}
                                            {% image item.specific.featured_image max-800x800 as featured_image %}
                                            <img class="img-responsive lazyload" src="{{ STATIC_URL }}img/1_1.png"
                                                 data-src="{{ featured_image.url }}" alt="{{ featured_image.title }}">
                                            <noscript>
                                                <img class="img-responsive" src="{{ featured_image.url }}"
                                                     alt="{{ featured_image.title }}">
                                            </noscript>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Left and right controls -->
                <div class="container">
                    <div class="carousel-control-container">
                        <a class="left carousel-control" href="#myCarousel-2" role="button" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#myCarousel-2" role="button" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-grid home-article-grid-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 margin-btm-20px">
                        <div class="infocus-tag">
                            <span class="tags-label">IN FOCUS</span>
                        </div>
                        <span class="infocus-title subtitle-primary font-l">{{ page.in_focus_title }}</span>
                    </div>
                    <div class="col-lg-6 text-right margin-btm-20px">
                        <a href="{{ page.in_focus_link }}" class="link-dark">{{ page.in_focus_link_text }}
                            <i class="fa fa-angle-right red-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 grid">
                        <div class="row in_focus_page1">
                            {% with page.in_focus_page1 as item %}
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    {% image item.specific.featured_image fill-500x320 as featured_image %}
                                    <img class="img-responsive" src="{{ featured_image.url }}"
                                         alt="sample content" style="cursor: pointer" onclick="location.href='{{ item.url }}'">
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <a href="{{ item.url }}" class="infocus-title-primary"><div class="infocus-item-title">{{ item.title }}</div></a>
                                    <div class="name-primary">
                                        {% include "../../core/templates/includes/author-links.html" with authors=item.specific.authors.all  author_link_class="author-link" author_name_class="author-name" %}
                                    </div>
                                    <div class="date">
                                        {% if item.specific.locations.all|length >= 1 %}
                                            {% for location in item.specific.locations.all %}
                                                <a  href="{% url "location-detail" location.slug %}">
                                                    <span class="location-name">{{ location.name }}</span>
                                                </a>
                                                <span class="dot-seperator">•</span>
                                            {% endfor %}
                                        {% endif %}
                                        {% if item.specific.original_published_date%}
                                          {% include "../../article/templates/article/includes/display_date.html" with display_date=item.specific.original_published_date article=item.specific%}
                                        {% else %}
                                          {% include "../../article/templates/article/includes/display_date.html" with display_date=item.specific.first_published_at article=item.specific%}
                                        {% endif %}
                                    </div>
                                    {% if translations_for_infocus_article1|length > 1 %}
                                        <div class="dropdown custom-dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                {{ translations_for_infocus_article1 | length }} languages
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                {% for translation in translations_for_infocus_article1 %}
                                                    <li><a href="{{ translation.get_absolute_url }}">{{ translation.get_language_display }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                                </div>
                            {% endwith %}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 grid">
                        <div class="row in_focus_page2">
                            {% with page.in_focus_page2 as item %}
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    {% image item.specific.featured_image fill-500x320 as featured_image %}
                                    <img class="img-responsive" src="{{ featured_image.url }}"
                                         alt="sample content" style="cursor: pointer" onclick="location.href='{{ item.url }}'">
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <a href="{{ item.url }}" class="infocus-title-primary"><div class="infocus-item-title">{{ item.title }}</div></a>
                                    <div class="name-primary">
                                        {% include "../../core/templates/includes/author-links.html" with authors=item.specific.authors.all  author_link_class="author-link" author_name_class="author-name" %}
                                    </div>
                                    <div class="date">
                                        {% if item.specific.locations.all|length >= 1 %}
                                            {% for location in item.specific.locations.all %}
                                                <a  href="{% url "location-detail" location.slug %}">
                                                    <span class="location-name">{{ location.name }}</span>
                                                </a>
                                                <span class="dot-seperator">•</span>
                                            {% endfor %}
                                        {% endif %}
                                        {% if item.specific.original_published_date%}
                                          {% include "../../article/templates/article/includes/display_date.html" with display_date=item.specific.original_published_date article=item.specific%}
                                        {% else %}
                                          {% include "../../article/templates/article/includes/display_date.html" with display_date=item.specific.first_published_at article=item.specific%}
                                        {% endif %}
                                    </div>
                                    {% if translations_for_infocus_article2|length > 1 %}
                                        <div class="dropdown custom-dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                {{ translations_for_infocus_article2 | length }} languages
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                {% for translation in translations_for_infocus_article2 %}
                                                    <li><a href="{{ translation.get_absolute_url }}">{{ translation.get_language_display }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                                </div>
                            {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        <div class="story-grid home-article-grid-3">
            <div class="container">
                <div class="row">
                    <div class="subtitle-primary font-l margin-btm-20px pad-left-10px">All that you can discover on PARI
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 grid large category-0">
                        {% image categories.0.image fill-512x512 as category_image %}
                        <a href="{{ categories.0.get_absolute_url }}">
                            <img src="{{ STATIC_URL }}img/1_1.png" data-src="{{ category_image.url }}"
                                 alt="{{ categories.0.name }}" style="width:370px;margin:0 auto;"
                                 class="img-responsive lazyload">
                            <div class="grid-container">
                                <div class="category-name resource-title">
                                  <h3 class="category-image-overlay-text">{{ categories.0.name }}</h3>
                                </div>
                                <div class="title-grid resource-description">
                                    <div class="border-link"></div>
                                    <div>{{ categories.0.description }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 grid share">
                        <div class="subtitle">‘PARI is an insane project...</div>
                        <div class="align-bottom">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 grid">
                                    <h4>Rural India — a living journal, a breathing archive</h4>
                                    <h5 class="mid-link">
                                        <a href="{% url "static_page" slug="about" %}">The story of PARI <i
                                                class="fa fa-angle-right red-angle-right"
                                                aria-hidden="true"></i></a>
                                    </h5>
                                    <h5 class="mid-below-link">
                                        <a href="{% url "contribute" slug="contribute" %}">Here's how you can contribute
                                            <i class="fa fa-angle-right red-angle-right" aria-hidden="true"></i></a>
                                    </h5>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 grid category-1">
                                    {% image categories.1.image fill-512x512 as category_image %}
                                    <a href="{{ categories.1.get_absolute_url }}">
                                        <img src="{{ STATIC_URL }}img/1_1.png" data-src="{{ category_image.url }}"
                                             alt="{{ categories.1.name }}" style="width:370px;margin:0 auto;"
                                             class="img-responsive lazyload">
                                        <div class="grid-container">
                                          <div class="category-name">
                                            <h3>{{ categories.1.name }}</h3>
                                          </div>
                                            <div class="title-grid">
                                                <div class="border-link"></div>
                                                <div>{{ categories.1.description }}</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 grid category-2">
                                {% image categories.2.image fill-512x512 as category_image %}
                                <a href="{{ categories.2.get_absolute_url }}">
                                    <img src="{{ STATIC_URL }}img/1_1.png" data-src="{{ category_image.url }}"
                                         alt="{{ categories.2.name }}" style="width:370px;margin:0 auto;"
                                         class="img-responsive lazyload">
                                    <div class="grid-container">
                                      <div class="category-name">
                                        <h3>{{ categories.2.name }}</h3>
                                      </div>
                                        <div class="title-grid">
                                            <div class="border-link"></div>
                                            <div>{{ categories.2.description }}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 grid">
                                <div class="subtitle" style="line-height: 1.1">…and a wonderful one’</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 grid category-3">
                                {% image categories.3.image fill-512x512 as category_image %}
                                <a href="{{ categories.3.get_absolute_url }}">
                                    <img src="{{ STATIC_URL }}img/1_1.png" data-src="{{ category_image.url }}"
                                         alt="{{ categories.3.name }}" style="width:370px;margin:0 auto;"
                                         class="img-responsive lazyload">
                                    <div class="grid-container">
                                      <div class="category-name">
                                        <h3>{{ categories.3.name }}</h3>
                                      </div>


                                        <div class="title-grid">
                                            <div class="border-link"></div>
                                            <div>{{ categories.3.description }}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 grid">
                                <h4 class="all-categ-head">Stories from all over in all languages</h4>
                                <h5 class="mid-link">
                                    <a href="{% url "category-list" %}">Browse all Categories <i
                                            class="fa fa-angle-right red-angle-right"
                                            aria-hidden="true"></i></a>
                                </h5>
                                <h6><i class="fa fa-language" aria-hidden="true"></i> Translate for PARI</h6>
                                <p class="desc-para">Translate PARI content into languages you know
                                    <a href="{% url "contribute" slug="contribute" %}">Learn more
                                        <i class="fa fa-angle-right red-angle-right" aria-hidden="true"></i>
                                    </a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "../../core/templates/includes/home_page_face_tile.html" %}
        <div class="article-grid home-article-grid-2">
            <div class="container">
                <div class="row">
                    <div class="subtitle-primary font-l margin-btm-20px more-section">And many more stories in audio and video
                    </div>
                </div>
                <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 grid talking-album">
                        {% with talking_album as item %}
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 article-image-icon">
                                    {% image item.image fill-500x320 as featured_image %}
                                    <img class="img-responsive" src="{{ featured_image.url }}"
                                         alt="{{ item.image.alt_text }}" style="cursor: pointer" onclick="location.href='{{ item.section_model.get_absolute_url }}'">
                                    <div><i class="fa fa-music" aria-hidden="true"></i></div>
                                    <div>{{ item.count }}</div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <a class="more-story-primary-title" href="{{ item.section_model.get_absolute_url }}">
                                        <h4 class="item-section-title">{{ item.section_model.title }}</h4></a>
                                    <div class="name-primary">
                                        {% include "../../core/templates/includes/author-links.html" with authors=item.photographers  author_link_class="author-link" author_name_class="author-name" %}
                                    </div>
                                    <div class="view-article">
                                        <a href="{% url "talking-album-list" %}">
                                            <i class="fa  fa-music"
                                               aria-hidden="true"></i><span>View all Talking Albums</span><i
                                                class="fa fa-angle-right red-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 grid video">
                        {% with video as item %}
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 article-image-icon">
                                    {% image item.image fill-500x320 as featured_image %}
                                    <img class="img-responsive" src="{{ featured_image.url }}"
                                         alt="{{ item.image.alt_text }}" style="cursor: pointer" onclick="location.href='{{ item.section_model.get_absolute_url }}'">
                                    <div><i class="fa fa-film" aria-hidden="true"></i></div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <a class="more-story-primary-title" href="{{ item.section_model.get_absolute_url }}">
                                        <h4 class="item-section-title">{{ item.section_model.title }}</h4></a>
                                    <div class="name-primary">
                                        {% include "../../core/templates/includes/author-links.html" with authors=item.photographers author_link_class="author-link" author_name_class="author-name" %}
                                    </div>
                                    <div class="view-article">
                                        <a href="{% url "gallery-detail" slug="videozone" %}">
                                            <i class="fa  fa-film"
                                               aria-hidden="true"></i><span>View all videos</span><i
                                                class="fa fa-angle-right red-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 grid photo-album">
                        {% with photo_album as item %}
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 article-image-icon">
                                    {% image item.image fill-500x320 as featured_image %}
                                    <img class="img-responsive" src="{{ featured_image.url }}"
                                         alt="{{ item.image.alt_text }}" style="cursor: pointer" onclick="location.href='{{ item.section_model.get_absolute_url }}'">
                                    <div><i class="fa  fa-picture-o" aria-hidden="true"></i></div>
                                    <div>{{ item.count }}</div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <a  class="more-story-primary-title" href="{{ item.section_model.get_absolute_url }}">
                                        <h4 class="item-section-title">{{ item.section_model.title }}</h4></a>
                                    <div class="name-primary">
                                        {% include "../../core/templates/includes/author-links.html" with authors=item.photographers author_link_class="author-link" author_name_class="author-name" %}
                                    </div>
                                    <div class="view-article">
                                        <a href="{% url "other-album-list" %}">
                                            <i class="fa  fa-picture-o"
                                               aria-hidden="true"></i><span>View all Photo Albums</span><i
                                                class="fa fa-angle-right red-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pari-doing-block ">
            <div class="container">
                <div class="question-heading">Like what PARI is doing?</div>
                <div class="pari-do-link"><a href="{% url "static_page" slug="donate" %}">Donate to PARI
                    <i class="fa fa-angle-right red-angle-right" aria-hidden="true"></i>
                </a></div>
                <div class=" pari-do-link"><a href="{% url "contribute" slug="contribute" %}">Contribute to PARI
                    <i class="fa fa-angle-right red-angle-right" aria-hidden="true"></i>
                </a></div>
            </div>
        </div>
    </div>
{% endblock %}
