{% extends "base.html" %}
{% load i18n wagtailcore_tags %}

{% block meta_title %}
{{ self.title }}
{% endblock %}

{% block extra_css %}
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/homepage.less">
<style>
  .content-container {
     font-size: 16px;
     line-height: 28px;
     font-family: 'Open Sans';
  }
  .content-container img {
     max-width: 100%;
     height: auto;
  }
 .translations ul.dropdown-menu {
     background-color: #fff;
     margin: 0px;
     padding: 0px;
 }
 .dropdown-menu>li>a:hover {
     color: #fff;
 }
 .rich-text .center {
     text-align: center;
 }
 .rich-text .left {
     text-align: left;
 }
 .rich-text .right {
     text-align: right;
 }
 .rich-text .justify {
     text-align: justify;
 }
</style>
{% endblock %}

{% block main %}
<div class="pull-right">
{% if translations and translations|length > 1 %}
    <span class="dropdown translations">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    {% trans "Choose language" %}
	    <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    {% for translation in translations %}
	    <li role="presentation"><a role="menuitem" tabindex="{{ forloop.counter0 }}" href="{{ translation.get_absolute_url }}">{{ translation.get_language_display }}</a></li>
	    {% endfor %}
	</ul>
    </span>
{% endif %}
</div>
<div class="container content-container">
  {{ self.content|richtext }}
</div>
{% endblock %}
