{% load i18n wagtailimages_tags %}

{% if face.title %}
    <h3 class='face-name'>{{face.title }}</h3>
{% endif %}

{% if face.age %}
    <div class='face-label'>AGE</div>
    <div class='face-value'>{{ face.age }}</div>
{% endif %}

{% if face.occupation %}
    <div class='face-label'>OCCUPATION</div>
    <div class='face-value'>{{ face.occupation }}</div>
{% endif %}

{% if face.occupation_of_parent %}
    <div class='face-label'>PARENTS' OCCUPATION</div>
    <div class='face-value'>{{ face.occupation_of_parent }}</div>
{% endif %}

{% if face.adivasi %}
    <div class='face-label'>ADIVASI</div>
    <div class='face-value'>{{ face.adivasi }}</div>
{% endif %}

{% if face.location.name %}
    <div class='face-label'>VILLAGE</div>
    <div class='face-value'>{{ face.location.name }}</div>
{% endif %}

{% if face.location.panchayat %}
    <div class='face-label'>PANCHAYAT</div>
    <div class='face-value'>{{ face.location.panchayat }}</div>
{% endif %}

{% if face.location.sub_district_name and face.location.sub_district_type %}
    <div class='face-label'>{{ face.location.sub_district_type|upper }}</div>
    <div class='face-value'>{{ face.location.sub_district_name }}</div>
{% endif %}

{% if face.location.district %}
    <div class='face-label'>DISTRICT</div>
    <div class='face-value'>{{ face.location.district }}</div>
{% endif %}

{% if face.location.state %}
    <div class='face-label'>STATE</div>
    <div class='face-value'>{{ face.location.state }}</div>
{% endif %}

{% if face.image.photographers.all %}
    <div class='face-label'>PHOTOGRAPHER</div>
    <div class='face-value'>{{ face.image.photographers.all|join:", "}}</div>
{% endif %}

{% if face.image.camera %}
    <div class='face-label'>CAMERA</div>
    <div class='face-value'>{{ face.image.camera }}</div>
{% endif %}

{% if face.image.date %}
    <div class='face-label'>DATE PHOTO WAS TAKEN</div>
    <div class='face-value'>{{ face.image.date|date:'M d, Y' }}</div>
{% endif %}

{% if face.location not in face.image.locations.all and face.image.locations.all %}
    <div class='face-label'>PHOTO TAKEN IN</div>
    <div class='face-value'>{{ face.image.locations.all|join:". "}}</div>
{% endif %}

{% if face.quote  %}
    <div class='face-label'>QUOTE</div>
    <div class='face-value'>{{ face.quote }}</div>
{% endif %}

{% if face.additional_info %}
    <div class='face-label'>ADDITIONAL INFORMATION</div>
    <div class='face-value'>{{ face.additional_info }}</div>
{% endif %}

{% image face.image original as original_face_image %}

<div class='external-link'>
    <a href='{{ original_face_image.url }}' class='fa fa-external-link' target='_blank'></a>
</div>

