.gallery-tile-row {
  .gallery-image-container {
    a {
      height: 100%;
    }
  }

  > .row > .grid-list {
    .grid-container {
      min-height: 280px;
      box-shadow: 0 0 1em grey;
    }
  }
}

@media (min-width: 1200px) {
  .gallery-tile-row {
    .col-lg-3 {
      width: 20%;
    }
  }
}