@import "../../colors/colors";

.gallery-tile-row {
  .gallery-image-container {
    a {
      height: 100%;
    }
  }

  > .row > .grid-list {
    min-height: 330px;
    .grid-container {
      min-height: 280px;
      box-shadow: 0 0 1em grey;
    }
  }

  h5 {
    font-family: 'Amiri', serif;
    font-weight: 700;
    a {
      color: @text-dark;
    }
  }
  :lang(ml){
    font-weight: 500;
  }

}

@media (min-width: 1200px) {
  .gallery-tile-row {
    .col-lg-3 {
      width: 20%;
    }
  }
}