{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Map"  %}{% endblock %}
{% block meta_description %}{% trans "Find PARI stories by geographic location" %}.{% endblock %}

{% block opengraph_block %}
    {% include "core/includes/media_sharing_meta.html" with title="Archive on a map" description="Stories from near you" url=request.get_full_path type="url" image_url=STATIC_URL|add:"img/map.jpg"%}
{% endblock %}

{% block extra_css %}
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}map/css/map.less">
{% endblock %}

{% block extra_uncompressed_js %}
<script src="https://maps.google.co.in/maps/api/js?key={{ MAP_KEY }}"></script>
<script type="text/javascript">
  var staticURL = "{{ STATIC_URL }}";
  var locations;

  {% if latitude and longitude %}
      locations = [{'lat': {{ latitude }}, 'lng': {{ longitude }}, 'title': '<div class="map-pin-container"><div class="story"><div class="story-header">story</div><div class="story-name"></div></div><ul class="content-list"><li class="content"><i class="fa fa-map-marker" aria-hidden="true"></i><a href="{{ location_url }}" target=\"_blank\">{{ location_title }}</a></li><li class="content"><span></span></li><li class="content"><span></span></li></ul></div>' }];
  {% else %}
      locations = [ {% for location in locations %}{% if location.slug %}{% url "location-detail" slug=location.slug as location_url %}{"lat": {{ location.point.x }}, "lng": {{ location.point.y }}, "title": '<div class="map-pin-container"><div class="story"><div class="story-header">story</div><div class="story-name"></div></div><ul class="content-list"><li class="content"><i class="fa fa-map-marker" aria-hidden="true"></i><a href=\"{{ location_url }}\" target=\"_blank\">{{ location.name }},</a></li><li class="content"><span>{{ location.district }}</span></li><li class="content"><span>{{ location.state }}</span></li></ul></div>'} {% if not forloop.last %},{% endif %}{% endif %}{% endfor %}
      ];
  {% endif %}

</script>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}map/js/markerclusterer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}map/js/map.js"></script>
{% endblock %}

{% block main %}

<div class="map-page">

  <div class="filter">
    <div class="wrapper clear-fix container">
      <div class="left">
        <span>{% trans "Show" %}</span>
        <ul class="filter-checkbox-list">
          <li>
            <input type="checkbox" name="filter" id="articles" value="articles" {% if articles_checked %}checked="checked"{% endif %}>
            <label for="articles">{% trans "Articles" %}</label>
          </li>
          <li>
            <input type="checkbox" name="filter" id="faces" value="faces" {% if faces_checked %}checked="checked"{% endif %}>
            <label for="faces">{% trans "Faces" %}</label>
          </li>
          <li>
            <input type="checkbox" name="filter" id="albums" value="albums" {% if albums_checked %}checked="checked"{% endif %}>
            <label for="albums">{% trans "Albums" %}</label>
          </li>
        </ul>
      </div>
      <div class="right">
        <ul class="toggler">
          <li class="state selected">{% trans "State" %}</li>
          <li class="district">{% trans "District" %}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="map-container" id="map"></div>

</div>
{% endblock %}
