{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Map"  %}{% endblock %}

{% block extra_css %}
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}map/css/map.less">
{% endblock %}

{% block extra_uncompressed_js %}
<script src="https://maps.google.co.in/maps/api/js?key={{ MAP_KEY }}"></script>
<script type="text/javascript">
  var staticURL = "{{ STATIC_URL }}";
  var locations = [
  {% for location in locations %}{% if location.slug %}{% url "location-detail" slug=location.slug as location_url %}{"lat": {{ location.point.x }}, "lng": {{ location.point.y }}, "title": "<div><p><strong>{% trans "Name" %}</strong>: <a href=\"{{ location_url }}\" target=\"_blank\">{{ location.name }}</a></p> <p><strong>{% trans "District" %}</strong>: {{ location.district }}</p><p><strong>{% trans "State" %}</strong>: {{ location.state }}</p></div>"} {% if not forloop.last %},{% endif %}{% endif %}{% endfor %}
  ];
</script>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}map/js/markerclusterer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}map/js/map.js"></script>
{% endblock %}

{% block main %}
<div class="map-page">

  <div class="filter">
    <div class="wrapper clear-fix">
      <div class="left">
        <span>Show</span>
        <ul>
          <li>
            <input type="checkbox" name="articles" id="articles" value="articles" {% if articles_checked %}checked="checked"{% endif %}>
            <label for="articles">{% trans "Articles" %}</label>
          </li>
          <li>
            <input type="checkbox" name="faces" id="faces" value="faces" {% if faces_checked %}checked="checked"{% endif %}>
            <label for="faces">{% trans "Faces" %}</label>
          </li>
          <li>
            <input type="checkbox" name="albums" id="albums" value="albums" {% if albums_checked %}checked="checked"{% endif %}>
            <label for="albums">{% trans "Albums" %}</label>
          </li>
        </ul>
      </div>
      <div class="right">
        <ul class="toggler">
          <li class="state selected">State</li>
          <li class="district">District</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="map-container" id="map"></div>
  
</div>
{% endblock %}
