{% extends "base.html" %}
{% load i18n wagtailimages_tags %}
{% load filters %}
{% block feed_block %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "album_feeds" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "album_feeds" %}">
{% endblock %}

{% block meta_title %}{% trans "Albums" %}{% endblock %}
{% block title %}{% trans "Albums" %}{% endblock %}

{% block opengraph_block %}
    <meta property="og:title" content="{% trans "PARI Albums" %}">
    <meta property="og:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ request.get_full_path }}">
    <meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ MEDIA_URL }}images/savitamundal_photozone2.2e16d0ba.fill-370x300.jpg">
    <meta property="og:type" content="article">
    <meta property="og:description" content="PARI hosts and combines video, still photo, audio and text archives.
    There is content we already have and content we are newly generating. Both will take time and effort to organise and load.
    The videos generated specifically for PARI record the lives and livelihoods of poor and everyday Indians.">
    <meta property="og:published_time" content={{ albums.first.first_published_at|date:"c" }}>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ SOCIAL_TWITTER }}">
    <meta name="twitter:title" content="{% trans "PARI Albums" %}" >
    <meta name="twitter:description" content="PARI hosts and combines video, still photo, audio and text archives.
    There is content we already have and content we are newly generating. Both will take time and effort to organise and load.
    The videos generated specifically for PARI record the lives and livelihoods of poor and everyday Indians." >
    <meta name="twitter:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ MEDIA_URL }}images/savitamundal_photozone2.2e16d0ba.fill-370x300.jpg" >
    <meta name="twitter:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ request.get_full_path }}">
{% endblock %}

{% block extra_uncompressed_js %}
    <script src="//connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}album/js/magnific-popup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}album/js/lightbox.js"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/article.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/album/home.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/album/slide_show.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/album/photo-album.less">
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Albums" %}</li>
{% endblock %}
{% block main %}

    <div class="container popup-gallery">
        {% include "includes/grid_title.html" %}
        <div class="filter-list-container">
            <div class="gallery-tile-row">
                <div class="row">
                    {% for album in albums %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 grid-list">
                            <div class="grid-container" data-slug="{{ album.slug }}">
                                <div class="gallery-image-container">
                                    <a href="#">
                                        <div class="images-count">
                                            <span>{{ album.slides.count }}</span>
                                        </div>
                                        {% with album.slides.all|random as random_cover %}{% image random_cover.image fill-300x250 as cover_image %}
                                            <img class="img-responsive" src="{{ cover_image.url }}" alt="{{ random_cover.image.alt_text }}">
                                        {% endwith %}
                                    </a>
                                </div>
                                    <div class="caption">
                                        <h3>
                                            <a href="#">{{ album.title }}</a>
                                        </h3>
                                        <div class="margin-top-20px">
                                            <span class="link-dark font-xs">{{ album.description|striptags }}</span>
                                        </div>
                                        <div class="margin-top-20px">
                                            {% for photographer in photographers|get_item:album.id  %}
                                                <a class="link-dark-primary font-xs" href="{% url "author-detail" slug=photographer.slug %}">{{ photographer.name }}</a>
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



    <!--  photo album starts here -->

    {% verbatim %}
        <script id="photoAlbumTemplate" type="text/x-jsrender">

          <div class="photo-album-popup popup hide">
            <div class="photo-album">
                <header class="header clear-fix">
                    <div class="left left-icons">
                        <i class="fa fa-angle-left back-to-albums"></i>
                        <i id="playPause" href="#" class="fa fa-play"></i>
                        <i id="showThumbnail" href="#" class="fa fa-th-large"></i>
                    </div>
                    <div class="right right-icons">
                        <a href="#" class="fa fa-external-link open-in-new-tab" target="_blank"></a>
                        <i id="showSlideInfo" href="#" class="fa fa-info-circle show-slide-info"></i>
                    </div>
                    <div class="carousel-index"></div>
                </header>

                <section class="carousel-area clear-fix">
                  <div id="carousel" class="carousel-container slide left">
                      <ul class="carousel-items carousel-inner" role="list-box">
                        <!-- slides will come here -->
                      </ul>
                      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div>
                  <div class="right slide-info">
                      <div class="description info"></div>
                      <div class="title-meta-data">
                        <div class="album-title info"></div>
                        <div class="slide-photographer info"></div>
                        <div class="image-captured-date info"></div>
                        <div class="slide-location info"></div>
                      </div>
                  </div>
                  <div class="thumbnails">
                    <header>
                      <i class=" fa fa-close close-thumbnail"></i>
                    </header>
                    <section class="box">
                      <ul class="thumbnail-list clear-fix">
                      </ul>
                    </section>
                  </div>
                </section>
            </div>
          </div>
          </script>
      {% endverbatim %}
      <!--  photo album ends here -->

    {% verbatim %}
      <script id="carouselPage" type="text/x-jsrender">
        <li class="{{:carouselPageClass}}">
            <div class="wrapper">
                <img src="{{:src}}" />
            </div>
        </li>
      </script>
    {% endverbatim %}

    {% verbatim %}
      <script id="carouselAuthor" type="text/x-jsrender">
        <li class="item author-container">
          <p class="description">{{:bio}}</p>
          <span itemprop="name">{{:name}}</span>
          <a itemprop="url" href="https://twitter.com/@journohardy">@journohardy</a>
        </li>

      </script>
    {% endverbatim %}

    {% verbatim %}
        <script id="carouselStartingIntro" type="text/x-jsrender">
            <div class="floating-text">
                <h1 class="title">{{:album_title}}</h1>
                <div class="description">{{:album_description}}</div>
                <div class="photographer">{{:slide_photographer}}</div>
                <div class="place">{{:slide_location}}</div>
                <div class="social-icons">
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-facebook"></i>
                </div>
            </div>
        </script>
    {% endverbatim %}

    {% if albums %}

    {% endif %}
{% endblock %}
