{% extends "base.html" %}
{% load i18n wagtailimages_tags %}
{% load filters %}
{% block feed_block %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "album_feeds" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "album_feeds" %}">
{% endblock %}

{% block meta_title %}{% trans "Albums" %}{% endblock %}
{% block title %}{% trans "Albums" %}{% endblock %}

{% block opengraph_block %}
    <meta property="og:title" content="{% trans "PARI Albums" %}">
    <meta property="og:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ request.get_full_path }}">
    <meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ MEDIA_URL }}images/savitamundal_photozone2.2e16d0ba.fill-370x300.jpg">
    <meta property="og:type" content="article">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ SOCIAL_TWITTER }}">
    <meta name="twitter:title" content="{% trans "PARI Albums" %}" >
    <meta name="twitter:description" content="PARI hosts and combines video, still photo, audio and text archives.
    There is content we already have and content we are newly generating. Both will take time and effort to organise and load.
    The videos generated specifically for PARI record the lives and livelihoods of poor and everyday Indians." >
    <meta name="twitter:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ MEDIA_URL }}images/savitamundal_photozone2.2e16d0ba.fill-370x300.jpg" >
    <meta name="twitter:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ request.get_full_path }}">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/article.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/album/home.less">
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Albums" %}</li>
{% endblock %}
{% block main %}
    {% include "includes/grid_title.html" %}
    <div class="filter-list-container">
        <div class="gallery-tile-row">
            <div class="row">
                {% for album in albums %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 grid-list">
                        <div class="grid-container">
                            <div class="gallery-image-container">
                                <a href="{{ album.get_absolute_url }}">
                                    <div class="images-count">
                                        <span>{{ album.slides.count }}</span>
                                    </div>
                                    {% with album.slides.all|random as random_cover %}{% image random_cover.image fill-300x250 as cover_image %}
                                        <img class="img-responsive" src="{{ cover_image.url }}" alt="{{ cover_image.title }}">
                                    {% endwith %}
                                </a>
                            </div>
                                <div class="caption">
                                    <h3>
                                        <a href="{{ album.get_absolute_url }}">{{ album.title }}</a>
                                    </h3>
                                    <div class="margin-top-20px">
                                        <span class="link-dark font-xs">{{ album.description|striptags }}</span>
                                    </div>
                                    <div class="margin-top-20px">
                                        {% for photographer in photographers|get_item:album.id  %}
                                            <a class="link-dark-primary font-xs" href="{% url "author-detail" slug=photographer.slug %}">{{ photographer.name }}</a>
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
