{% extends "base.html" %}
{% load i18n wagtailimages_tags wagtailcore_tags %}
{% block meta_title %}{% blocktrans with album.title as title%}{{ title }}{% endblocktrans %}{% endblock %}
{% block meta_description %}{{ album.description|striptags }}{% endblock %}

{% block feed_block %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "album_feeds" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "album_feeds" %}">
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Album" %}</li>
{% endblock %}

{% block extra_uncompressed_js %}
    <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}album/js/magnific-popup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}album/js/media-player.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}album/js/lightbox.js"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}album/css/album.less">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/article.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/album/home.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/album/slide_show.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/album/photo-album.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/layout/components/main-content/author-info.less">
{% endblock %}

{% block opengraph_block %}
    {% with album.slides.first as cover %}{% image cover.image fill-300x250 as cover_image %}
        {% include "core/includes/media_sharing_meta.html" with title=album.title description=album.description|striptags url=request.get_full_path type="url" image_url=cover_image.url date_of_item=albums.first.first_published_at%}
    {% endwith %}
{% endblock %}

{% block main %}

<div style="display:none;" id="slug-identifier">{{ album.slug }}</div>
<div style="display:none;" id="type-identifier">{{ album_type }}</div>

<!--  photo album starts here -->

    {% verbatim %}
        <script id="photoAlbumTemplate" type="text/x-jsrender">

          <div class="photo-album-popup popup hide">
            <div class="photo-album show-slide-info">
                <header class="header clear-fix">
                    <div class="left left-icons">
                        <i id="playPause" href="#" class="fa fa-pause"></i>
                        <i id="showThumbnail" href="#" class="fa fa-th-large"></i>

                        <ul class="audio-player-controls">
                          <li class="play-pause fa fa-pause"></li>
                          <li class="volume-control control hidden">
                            <div class="volume-symbol fa fa-volume-up"></div>
                            <div class="seek-bar toggle-tooltip" style="visibility: hidden;">
                              <div class="seekbar-max-length">
                                <div class="seekbar-filled">
                                  <div class="seeker"></div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="seek-bar-control control hidden">
                            <div class="current-length">0.00</div>
                            <div class="total-length">0.00</div>
                            <div class="seek-bar">
                              <div class="seekbar-max-length">
                                <div class="seekbar-filled">
                                  <div class="seeker"></div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>


                    </div>
                    <div class="right right-icons">
                        <a href="#" class="fa fa-external-link open-in-new-tab" target="_blank"></a>
                        <i id="showSlideInfo" href="#" class="fa fa-angle-right selected"></i>
                        <a {% endverbatim %}{% if album_type == 'talking_album' %} href="{% url "talking-album-list" %}" {% else %} href="{% url "other-album-list" %}"{% endif %}{% verbatim %}><i class="fa fa-close back-to-albums" ></i></a>
                    </div>
                    <div class="carousel-index"></div>
                </header>

                <section class="carousel-area clear-fix">
                  <div id="carousel" class="carousel-container slide left">
                      <ul class="carousel-items carousel-inner" role="list-box">
                        <!-- slides will come here -->
                      </ul>
                      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div>
                  <div class="right slide-info">
                      <div class="description info"></div>
                      <div class="title-meta-data">
                        <div class="album-title info"></div>
                        <div class="slide-photographer info"></div>
                        <div class="image-captured-date info"></div>
                        <div class="slide-location info"></div>
                      </div>
                  </div>
                  <div class="thumbnails">
                    <header>
                      <i class=" fa fa-close close-thumbnail"></i>
                    </header>
                    <section class="box">
                      <ul class="thumbnail-list clear-fix">
                      </ul>
                    </section>
                  </div>
                </section>
            </div>
          </div>
          </script>
      {% endverbatim %}

{% verbatim %}
  <script id="carouselPage" type="text/x-jsrender">
    <li class="{{:carouselPageClass}}">
        <div class="wrapper">
            <img src="{{:src_resized}}" />
        </div>
    </li>
  </script>
{% endverbatim %}

{% verbatim %}
  <script id="carouselAuthor" type="text/x-jsrender">
  <li class="item author-container">
      <div class="author-info">
        <div class="container">
            {{for authors}}
                <div class="row author-block">
                    <div class="col-lg-3">
                        <div class="author-name">{{:name}}</div>
                        {{if twitter_username}}
                            <div>
                                <i class="fa fa-twitter icon-handle"></i>
                                <div class="handle">
                                    <a href="https://twitter.com/{{:twitter_username}}">{{:twitter_username}}</a>
                                </div>
                            </div>
                        {{/if}}
                        {{if facebook_username}}
                            <div>
                                <i class="fa fa-facebook icon-handle"></i>
                                <div class="handle">
                                    <a href="https://www.facebook.com/{{:facebook_username}}">{{:facebook_username}}</a>
                                </div>
                            </div>
                        {{/if}}
                        {{if email}}
                            <div>
                                <i class="fa fa-envelope icon-handle"></i>
                                <div class="handle">{{:email}}</div>
                            </div>
                        {{/if}}
                        {{if website}}
                            <div>
                                <i class="glyphicon glyphicon-globe icon-handle"></i>
                                <div class="handle"><a href="{{:website}}" target="_blank">{{:website}}</a></div>
                            </div>
                        {{/if}}
                        <div>
                            <ul>
                                <li class="social-icon">
                                    <span class="banner-label">Share</span>
                                    <a target="_blank"
                                       href="{{:twitterShare}}">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a target="_blank"
                                       href="{{:fbShare}}">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 margin-btm-30px">
                        {{if bio}}
                            <p class="author-bio">{{:bio}}</p>
                        {{/if}}
                        <a href="{{:url}}" class="btn primary">Other stories by {{:name}}</a>
                    </div>
                </div>
            {{/for}}
        </div>
    </div>
    </li>
  </script>
{% endverbatim %}

{% verbatim %}
    <script id="carouselStartingIntro" type="text/x-jsrender">
        <div class="floating-text">
            <h1 class="title">{{:album_title}}</h1>
            <div class="description"></div>
            <div class="photographer">
              <span class="photographer-name">{{:photographerNames}}</span>
              <span class="location">
                <span class="fa fa-map-marker"></span>
                <span class="location-name">{{:slide_location}}</span>
              </span>
            </div>
            <div class="social-icons">
                  <a href="https://twitter.com/intent/tweet?url={{:url}}&amp;hashtags=RuralIndiaOnline&amp;via=PARINetwork" target="_blank" class="link-light">
                  <i class="fa fa-twitter"></i>
            </a>
            <a target="_blank" href="https://facebook.com/sharer.php?u={{:url}}&t={{:album_title}}">
                    <i class="fa fa-facebook"></i>
            </a>
       </div>
        </div>
    </script>
{% endverbatim %}

{% if albums %}

{% endif %}


{% endblock %}
