{% extends "base.html" %}
{% load i18n wagtailimages_tags %}
{% load filters %}
{% block feed_block %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "album_feeds" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "album_feeds" %}">
{% endblock %}

{% block meta_title %}{% trans title %}{% endblock %}
{% block title %}{% trans title %}{% endblock %}
{% block meta_description %}{{sub_heading}}{% endblock %}

{% block opengraph_block %}
    {% include "core/includes/media_sharing_meta.html" with title=title description=sub_heading url=request.get_full_path type="url" image_url=albums.first.slides.first.image.file.url date_of_item=albums.first.first_published_at%}
{% endblock %}

{% block extra_uncompressed_js %}
    <script src="//connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
{% endblock %}

{% block extra_js %}

{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}album/css/magnific-popup.css">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/article.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/album/home.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/album/slide_show.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/album/photo-album.less">
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Albums" %}</li>
{% endblock %}
{% block main %}

    <div class="container popup-gallery">
        {% include "includes/grid_title.html" %}
        <div class="filter-list-container">
                <div class="ff-gallery" style="display: grid;
                grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
                grid-column-gap: 0.5em;
                grid-row-gap: 0.5em;
                margin: 80px -40px;">
                    {% for album in albums %}
                            <div class="ff-list-item" style="position: relative;
                            height: 250px;
                            display: flex;
                            flex-direction: column;" data-slug="{{ album.slug }}">
                                    <a href="{{ album.get_absolute_url }}">
                                        {% with album.slides.all|first as cover %}{% image cover.image fill-300x250 as cover_image %}
                                            <img class="ff-image" style="border-radius: 10px;" src="{{ cover_image.url }}" alt="{{ cover.image.alt_text }}">
                                        {% endwith %}
                                    </a>
                                    <p class="ff-name">
                                        <a href="{{ album.get_absolute_url }}">{{ album.title }}</a>
                                    </p>
                                    <p class="link-dark font-xs ff-short-description">{{ album.freedom_fighters_short_description|striptags }}</p>
                            </div>
                    {% endfor %}
                </div>
        </div>
    </div>



    <!--  photo album starts here -->



    {% if albums %}

    {% endif %}
{% endblock %}
