{% extends "base.html" %}
{% load i18n %}

{% block feed_block %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "resource_feeds" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "resource_feeds" %}">
{% endblock %}

{% block meta_title %}{% trans "Resources" %}{% endblock %}
{% block title %}{% trans "Resources" %}{% endblock %}

{% block opengraph_block %}
    <meta property="og:title" content="{% trans "PARI Resources" %}">
    <meta property="og:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ request.get_full_path }}" >
    <meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ STATIC_URL }}img/logo.png" >
    <meta property="og:type" content="article">
    <meta property="og:description" content="PARI hosts and combines video, still photo, audio and text archives.
    There is content we already have and content we are newly generating. Both will take time and effort to organise and load.
    The videos generated specifically for PARI record the lives and livelihoods of poor and everyday Indians.">
    <meta property="og:published_time" content={{ object_list.first.first_published_at|date:"c" }}>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ SOCIAL_TWITTER }}">
    <meta name="twitter:title" content="{% trans "PARI Resources" %}" >
    <meta name="twitter:description" content="PARI hosts and combines video, still photo, audio and text archives.
    There is content we already have and content we are newly generating. Both will take time and effort to organise and load.
    The videos generated specifically for PARI record the lives and livelihoods of poor and everyday Indians." >
    <meta name="twitter:image" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ STATIC_URL }}img/logo.png" >
    <meta name="twitter:url" content="http{% if request.is_secure %}s{% endif %}://{{ site.hostname }}{{ request.get_full_path }}">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{#    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/resources.less">#}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/article.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/resources/home.less">
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Resources" %}</li>
{% endblock %}

{% block main %}
    {% trans "Resources" as title %}
    {% trans "All offical and independent reports on rural india" as sub_heading %}
    {% include "includes/grid_title.html" with title=title sub_heading=sub_heading %}

    <div class="filter-list-container">
        <div class="gallery-tile-row">
            <div class="row">
                {% for resource in object_list %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 grid-list">
                        <div class="grid-container">
                            <div class="gallery-image-container">
                                <a href="{{ resource.get_absolute_url }}">
                                    <div class="image-container">
                                      <img src="{{ resource.embed_thumbnail }}" alt="{{ resource.title }}" width="250" height="240">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="caption margin-top-10px">
                            <h5>
                                <a href="{{ resource.get_absolute_url }}">{{ resource.title|truncatechars:50 }}</a>
                            </h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
      {% include "includes/paginator.html" with results=page_obj %}
    </div>
{% endblock %}
