{% extends "base.html" %}
{% load i18n wagtailcore_tags %}

{% block meta_title %}{% trans resource.title %}{% if filter%} - {{ filter }}{% endif %}{% endblock %}
{% block title %}{% trans resource.title %}{% endblock %}

{% block meta_keywords %}
    {{ resource.title }}
{% endblock %}

{% block meta_description %}
    {{ resource.description }}
{% endblock %}

{% block extra_css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/resources.less">
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/v2/pages/resources/resource_detail.less">
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/scroll.js"></script>
{% endblock %}

{% block opengraph_block %}
    {% with resource.content.2 as description %}
        <meta property="og:image" content="http:{{ resource.embed_thumbnail.strip}}">
        {% include "core/includes/media_sharing_meta.html" with title=resource.title  description=description|striptags url=request.get_full_path type="url" twitter_card="summary"%}
         <meta name="twitter:image" content="http:{{ resource.embed_thumbnail.strip }}">
    {% endwith %}
{% endblock %}

{% block main %}
  <div class="row row-side pdf-container ">
      <div class="embed-container embed-container-tall ">
          <iframe src="{{ resource.embed_url }}" frameborder="0"  marginwidth="0" marginheight="0" scrolling="no" onload="resizeIframe(this)" style="border:1px solid #CCC;border-width:1px 1px 0;" allowFullscreen="true" allowfullscreen="true"  webkitallowfullscreen mozallowfullscreen> </iframe>
      </div>
      <div class="bottom-arrow">
        <a href="#section02"><span></span><i class="fa fa-arrow-circle-down bottom-arr"></i></a>
      </div>

  </div>
<div class="container content-container" id="section02">
    <div>
        <div class="col-lg-8 col-md-8 col-sm-8 left-plane">
            <div class="title-container">
                <h1>{{ resource.title }}</h1>
                <h4>{{ resource.date | date:"d M, Y"}}</h4>
                    <div class="category-share">
                        <ul >
                            <li>
                                <h6>{% trans "Share" %}</h6>
                            </li>
                            {% with request.build_absolute_uri as url and category.title as title %}
                                <li class="share-icons">
                                    <a href="https://twitter.com/intent/tweet?url={{ url }}&amp;hashtags=RuralIndiaOnline&amp;via=PARINetwork" target="_blank" class="link-light">
                                    <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="share-icons">
                                    <a target="_blank" href="https://facebook.com/sharer.php?u={{ url|urlencode }}&t={{ title|urlencode }}" class="link-light">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                </li>
                            {% endwith %}
                        </ul>
                    </div>
            </div>
            <hr>
            <div class="factoid-container special-bullets">
                <ol>
                    {% if heading == 'yes' %}
                        <h4 class="title-factoid">{% trans "FACTOIDS" %}</h4>
                    {% endif %}
                {% for block in resource.content %}
                  {% if block.block_type == "factoids" and block.value > 0 %}
                        <li>
                            {{ block.value }}
                        </li>
                  {% endif %}
                {% endfor %}
                </ol>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 right-plane">
            <hr>
            <div class="category-focus">
                <h4>{% trans "FOCUS" %}</h4>
                <p>{{ resource.content.2 }}</p>
            </div>
            <hr>
            <div class="category-author">
                <h4>{% trans "AUTHOR" %}</h4>
                <p>{{ resource.content.0 }}</p>
            </div>
            <hr>
            <div class="category-copyright">
                    <h4>{% trans "COPYRIGHT" %}</h4>
                <p>{{ resource.content.1 }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
