@import "../../colors/colors";
@import "../../layout/mixins";
@import "../../layout/responsive";
@import "config";


#main_content{
  margin-top: 0px;
}

.navbar {
  margin-bottom: 0px;
}
.cover-image{
  .faded-sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%) opacity(20%);
  }
    height:270px;
    overflow: hidden;
  img{
    width:100%;
  }
}

.article-tile{
  margin-bottom: 10px;
  position: relative;
  padding: 20px 20px 20px 20px;
  overflow: hidden;
}
.article-image{
    a {
      display: inline-block;
      height: 181px;
      word-break: break-all;
      overflow: hidden;
      width: 100%;
    }
    img{
      word-break: break-all;
      width: 100%;
    }
  }

.article-tile-info {
  height: 193px;
  padding-left: 15px;
  .article-tile-title{
      a{
        h3{
        margin-top: 0;
        color: @text-dark;
        }
        &:hover{
          color: @text-dark;
        }
      }
    }

  .sub-data{
    width: auto;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    span{
      margin-right: 0px;
    }

    .sub-data-author{
      padding-top: 10px;
      a{
        color: @link-primary;
      }
    }

    .sub-data-location{
      padding-top: 10px;
      a{
        color: @grey;
      }
    }

    a{
      margin-right: 2px;
      .font-size(10);
      &:hover{
        color: @link;
        i{
          color: @link;
        }
      }
    }
  }
  p{
    color: @grey;
    font-weight: 300;
    .font-size(16);
    line-height: 38px;
  }
  strong{
    font-weight: 400;
    color: @text-light;
  }

  .date {
      padding-top: 10px;
    a {
      .font-size(12);
      color: @grey;
    }
  }
  button{
    background: @link-primary;
    padding: 10px 20px;
    border: none;
    color: @text-light;
    margin-right: 20px;
  }
}

.clear-fix:after {
  content: " ";
  display: block;
  clear: both;
  float: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.alternate-filter{
  float: left;
  display: none;
}

.banner-container {
    margin-bottom: 60px;

    .alternate-filter {
      position: absolute;
      bottom: 65px;
      ul li {
         display: inline-block;
         vertical-align: middle;
         color: @grey;
         .Chevron {
           background-color: transparent;
         }
         .select-no-style{
           float: left;
           width: 65px;
           margin-top: 1px;
         }
       }
    }
}

.banner-content {
  position: absolute;
  bottom: 90px;
  h2 {
    .font-size(56);
    color: @link-primary;
  }

  .category-description {
    .left {
      font-size: 2rem;
      color: @grey;
      font-weight: 400;
    }

    .right {
      .social-media{
        display: inline-block;
        padding-left: 35px;
      }
      ul li {
        display: inline-block;
        vertical-align: middle;
        margin-left: 4px;
        color: @grey;
        &.icon {
          border: 1px solid #8F8F8F;
          border-radius: 20px;
          padding: 5px;
          width: 28px;
          height: 28px;
          text-align: center;
        }
        a {
          color: @grey;
        }
        .Chevron {
          background-color: transparent;
        }
        .select-no-style{
          float: left;
          width: 65px;
          margin-top: 1px;
        }
      }
    }
  }
}
@media (max-width: @screen-xs-max) {
  .banner-container {
    margin-bottom: 30px;
  }
  .article-tile {
    padding-bottom: 0px;
  }
  .right{
    display:none;
  }
  .alternate-filter{
    display: inline;
  }
}

@media (min-width: @screen-lg-min) {
  .article-image {
    padding: 0;
  }
.banner-content {
    left: 0px;
    right: 0px;
  }
}
