#main_content {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
}

.filter-lang{
  .filter-label{
    .font-size(13);
    color: @text-link-light;
    float: left;
    margin-right: 20px;
  }
  .filter-value{
    float: left;
    width: 60%;
    color: @grey;
    .font-size(13);
  }
}
.gallery-title {
  margin-bottom: 80px;
  h1 {
    .font-size(72);
    line-height: 40px;
    margin: 0;
  }
  .paragraph-dark {
    letter-spacing: 4px;
    color: @text-subtitle-gallery-light;
    .font-size(12);
    text-transform: uppercase;
  }

  a.link-dark {
    font-weight: 600;
    letter-spacing: 2px;
    &:hover {
      color: @text-link-dark;
    }
  }
  .gallery-title-icon{
    padding-top: 10px;

  }
  .prev {
    .Chevron-left {
      position: relative;
      height: 10px;
      width: 10px;
      float: left;
      margin: 9px 0 0 5px;
      transform: rotate(90deg);
    }
    .Chevron-left:before,
    .Chevron-left:after {
      position: absolute;
      display: block;
      content: "";
      border: 5px solid transparent;
    }
    .Chevron-left:before {
      top: 0;
      border-top-color: @primary-color;
    }
    .Chevron-left:after {
      top: -2px;
      border-top-color: @bg-light;
    }
    i {
      margin-right: 10px;
      color: @link-primary;
      .font-size(12);
    }
    letter-spacing: 2px;
    padding-right: 20px;
    border-right: 1px solid @text-title-light;
    line-height: 30px;
    display: inline-block;
    .font-size(14);
    span{
      margin-left: 20px;
    }
  }
  .gallery-social-icon {
    border-left: 1px solid @text-title-light;
    line-height: 30px;
    display: inline-block;
    a:hover{
      text-decoration: none;
    }
    i {
      .font-size(18);
      padding-left: 20px;
    }
  }
}

.gallery-tile-row {
  .video-image-container {
    a {
      display: inline-block;
      height: 194px;
      word-break: break-all;
      overflow: hidden;
    }
    img{
      word-break: break-all;
    }
  }
  h3 {
    text-decoration: none;
    a {
      color: @text-dark;
      .font-size(24);
    }
  }
  > .row > .grid-list {
    padding: 10px 5px 20px 5px;
    .grid-container{
      border: 1px solid @border;
      min-height: 480px;
      padding: 10px;

      &:hover{
        border-color: @primary-color;
        h3{
          text-decoration: underline;
        }
      }

    }
  }
}

.no-article-text-center {
    text-align: center;
    color: @text-dark;
  h3{
    a {
    color: @link-primary;
    &:hover {
      text-decoration: underline;
      }
    }
  }
}