@import "../../../colors/colors";
@import "../../responsive";


.story-grid {
  h3, .category-image-overlay-text {
    color: white;
    margin-top: 40px;
    margin-bottom: 5px;
    letter-spacing: -0.5px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  }

  .categories-title {
    margin-bottom: 33px;
    h1, h2 {
      padding-top: 50px;
      margin-bottom: 0px;
      font-weight: 300;
      text-align: center;
      font-family: 'Amiri', serif;
      font-weight: 700;
      color: #cccccc;
      line-height: 48px;
    }
  }
  .grid {
    margin-bottom: 0px;
    position: relative;
    padding: 6px;
    &.large{
      .grid-container{
        width: 95%;
      }
    }

    .grid-image {
      width:370px;
      margin:0 auto;
      border-radius: 5px;
    }

    .grid-container {
      position: absolute;
      height: 50%;
      color: white;
      text-align: center;
      bottom: 6px;
      right: 6px;
      left: 6px;
      padding: 0px 10px;
      border-radius: 6px;
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );

      .title-grid {
        letter-spacing: 0.8px;
        font-weight: 300;
      }

      @media (max-width: 400px) {
         .category-name {
           h3 {
             font-size: 20px;
           }
         }
         .title-grid {
           font-size: 10px;
           .border-link {
             padding-bottom: 3px;
           }
         }
      }


    }
  }
}

@media (max-width: 1200px) {
  .story-grid .grid h3 {
        margin-top: 3px;
  }
}

@media (max-width: 1200px) {
  .story-grid .grid h3 {
        margin-top: 0px;
        margin-bottom: 0px;
  }
}
