@import "../../../colors/colors";
@import "../../responsive";


.story-grid{
  h3 {
    color: white;
  }

  .categories-title {
    h2{
      color: @grey;
      font-weight: 300;
    }
  }
  .grid{
    margin-bottom: 0px;
    position: relative;
    padding: 6px;
    &.large{
      .grid-container{
        width: 95%;
      }
    }
    //&.share{
    //  position: relative;
    //  .align-bottom{
    //    position: absolute;
    //    bottom: 0;
    //  }
    //}

    .grid-image {
      width:370px;
      margin:0 auto;
      border-radius: 5px;
    }

    .grid-container{
      position: absolute;
      height: 100%;
      color: white;
      text-align: center;
      width: 90%;
      top: 0;

      h3{
        position: absolute;
        top: 44%;
        margin: 0;
        width: 100%;
      }

      .category-name {
        h3{
          position: absolute;
          top:auto;
          bottom: 22%;
          width: 100%;
          font-weight: 400;
        }
      }
      .title-grid{
        position: absolute;
        bottom: 0;
        width: 100%;
        font-weight: 300;
        padding: 20px 0;
        .border-link{
          border-top: 2px solid @light-grey;
          opacity: 0.3;
          padding-bottom: 10px;
          margin: 0 10%;
        }
      }

      @media (max-width: 400px) {
         .category-name {
           h3 {
             font-size: 20px;
           }
         }
         .title-grid {
           font-size: 10px;
           .border-link {
             padding-bottom: 3px;
           }
         }
      }
    }
  }
}