@import "../../colors/colors";
.gallery-tile-row {
  .gallery-image-container {
    position: relative;
  }
  .images-count {
    position: absolute;
    bottom: 10px;
    left: 5px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 4px 8px;

    span {
      color: white;
    }
  }

  .authors a:hover {
    color: @primary-color;
  }
}