@import "common.less";


.carousel-indicators {
    position:static;
    border: 0px;
    width: inherit;
    margin-left: inherit;
    margin-top: 5px;

    li {
	border-color: #999;
	background-color: #ccc;
	width: 12px;
	height: 12px;
	margin: 3px;
    }

    .active {
	background-color: darkred;
	width: 12px;
	height: 12px;
	margin: 3px;
    }
}

.custom-carousel-caption{
  text-align: center;
  color:#000000;
  margin-bottom: 10px;
  max-height: 5%;
  display:block;
}
.carousel{
  a{
    color:#ffffff;
  }
}
