@import "common.less";

.grid-row () {

    .grid-column {
        margin-bottom: 15px;

        .caption {
            //positioning caption text below !
            background-color: rgba(0, 0, 0, 1);
            padding: 10px;
            word-wrap: break-word;
	    color: #fff;
	    max-height: 50px;
	    width: 100%;
	    max-width: 370px;
	    margin: 0 auto;
	    overflow: hidden;

            h4 {
                font-size:14px;
		font-weight: bold;
		margin: 0;
            }

            p {
                font-size: 12px;
		margin: 5px 0;
            }
        }
    }
}
